table th
{
    border-bottom: 3px solid black;
}
table td
{
    text-align: center;
    margin: 0px;
    padding: 0px;
}

table td:nth-of-type(1)
{
    width: 100px;
}
table td:nth-of-type(2)
{
    width: 400px;
}
