<?xml version="1.0" encoding="utf-8"?> 
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="Microsoft.SDKSamples.MediaExtensions.JS" Version="1.0.0.0" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US"/>
  <Properties>
    <DisplayName>Media Extensions JS sample</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>images\storeLogo-sdk.png</Logo>
  </Properties>
  <Resources>
    <Resource Language="en-us"/>
  </Resources>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Applications>
    <Application Id="Microsoft.SdkSamples.MediaExtensions" StartPage="default.html">
      <m2:VisualElements DisplayName="Media Extensions JS sample" Description="Media Extensions JS sample" ForegroundText="light" BackgroundColor="#00b2f0" Square150x150Logo="images\squaretile-sdk.png" Square30x30Logo="images\smalltile-Windows-sdk.png">
        <m2:DefaultTile ShortName="MediaExtensions JS" DefaultSize="square150x150Logo" Wide310x150Logo="images\tile-sdk.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo"/>
            <m2:ShowOn Tile="wide310x150Logo"/>
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="images\splash-Windows-sdk.png"/>
      </m2:VisualElements>
    </Application>
  </Applications>
  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>MPEG1Decoder.dll</Path>
        <ActivatableClass ActivatableClassId="MPEG1Decoder.MPEG1Decoder" ThreadingModel="both"/>
      </InProcessServer>
    </Extension>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>MPEG1Source.dll</Path>
        <ActivatableClass ActivatableClassId="MPEG1Source.MPEG1ByteStreamHandler" ThreadingModel="both"/>
      </InProcessServer>
    </Extension>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>GeometricSource.dll</Path>
        <ActivatableClass ActivatableClassId="GeometricSource.GeometricSchemeHandler" ThreadingModel="both"/>
      </InProcessServer>
    </Extension>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>GrayscaleTransform.dll</Path>
        <ActivatableClass ActivatableClassId="GrayscaleTransform.GrayscaleEffect" ThreadingModel="both"/>
      </InProcessServer>
    </Extension>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>PolarTransform.dll</Path>
        <ActivatableClass ActivatableClassId="PolarTransform.PolarEffect" ThreadingModel="both"/>
      </InProcessServer>
    </Extension>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>InvertTransform.dll</Path>
        <ActivatableClass ActivatableClassId="InvertTransform.InvertEffect" ThreadingModel="both"/>
      </InProcessServer>
    </Extension>
  </Extensions>
  <Capabilities/>
</Package>