/* styles */
/* styles */.box
{
    border: 1px solid #222222;
    background-color: #ffffff;
}

#listView3
{
    width: calc(100%-20px);
    margin: 0 20px 0 0;
    height: 100px;
}

    .tileTempl
    {
        width: 60px;
        height: 60px;
        margin: 2px;
        padding: 3px;
        background-color: #ffffcc;
        border: 2px solid #663300;
        border-radius: 4px;
        font-family: Arial;
        text-align: center;
        position: relative;
    }

        .counter
        {
            font-size: 8pt;
            position: absolute;
            top: 0px;
            right: 4px;
            width: 20px;
            height: 20px;
            text-align: right;
        }

        .letter
        {
            font-size: 40pt;
            font-weight: bold;
            line-height: 48pt;
        }

    .win-selected .tileTempl
    {
        color: Black;
    }