/* Full height */
html, body, form 
{
	height: 100%;
}

/* Main body */
body 
{
	font-family:  Garamond, Times New Roman, serif;
	margin: 0px;
	padding: 0px;
	background-color: #FCEFBD;
	font-size: 85%;
}

/* Form padding */
form
{
	margin: 0px;
	padding: 0px;
}

/* Remove borders from images */
img
{
	border: 0px;
}

/* No margings or padding for divs */
div
{
	padding: 0px;
	margin: 0px;
}

/* Set links colour here */
a
{
	color: blue;
}

/* Removes the underline when you hover over links */
a:hover
{
	text-decoration: none;
}

/* example Custom Styles */

/* This is to ensure that the page is full height */
#exampleFullHeight
{
	position: relative;
	margin: 0 auto;
	height: auto !important;
	height: 100%;
	min-height: 100%;
}

#exampleLogo
{
	position: absolute;
	top: 35px;
	left: 20px;
	z-index: 100;
}

/* Set the height of the Header */
#exampleMainHeader
{
	height: 275px;
}

/* Set the height of the main content area */
#exampleMainContent
{
	padding-bottom: 70px; /* This is the height of the footer plus 20px gap */
}

/* Set the height of the main footer */
#exampleMainFooter
{
	position: absolute;
	width: 100%;
	bottom: 0px;
	height: 50px;
	background-color: #6F7BC0;
	background-image: url('_layouts/images/WCM_StyledMasterPage/footer.gif');
	background-repeat: repeat-x;
}

/* Style divs within the main header */
#exampleTop
{
	height: 65px;
}

#exampleHeader
{
	height: 112px;
	background-color: #6F76CF;
	background-image: url('_layouts/images/WCM_StyledMasterPage/titleBarHoriz.gif');
	background-repeat: repeat-y;
}

#exampleTitleArea
{
	position: relative;
	left: 170px;
	top: 15px;
	width: 100%;
}

#exampleTitle
{
	font-size: 45px;
	color: white;
}

#exampleSubTitle
{
	font-size: 20px;
	color: #AEDAE9;
}

#exampleHeaderShadow
{
	height: 23px;
	background-image: url('_layouts/images/WCM_StyledMasterPage/shadow.gif');
	background-repeat: repeat-x;
}

#exampleSearchBar
{
	height: 48px;
	background-color: #6168B8;
	background-image: url('_layouts/images/WCM_StyledMasterPage/searchBar.gif');
	background-repeat: repeat-x;

}

#exampleSearchBox
{
	position: relative;
	width: 250px;
	float: left;
	left: 12px;
	top: 12px;
}

#exampleSearchBarShadow
{
	height: 23px;
	background-image: url('_layouts/images/WCM_StyledMasterPage/shadow.gif');
	background-repeat: repeat-x;
}

#exampleLeftNav
{
	float: left;
	padding: 15px;
	width: 170px;
}

#exampleContent
{
	background-color: white;
	border: 2px black solid;
	float: left;
	padding: 15px;
	width: 485px;
}

#exampleRightNav
{
	float: left;
	padding: 15px;
	width: 170px;
}

#examplePhoto
{
	margin-bottom: 30px;
}

#exampleCopyrightInfo
{
	position: relative;
	top: 10px;
	text-align: center;
}

/* This style sets the examplePageWidth class to 940px width and auto margins. This centres the content */
.examplePageWidth
{
	width: 940px;
	margin: auto;
}

/* This style is to clear any floats */
.exampleClearBoth
{
	clear: both;
}

/* Custom text styles */
.exampleH1
{
	font-size: 2em;
	color: #4C7381;
}

.exampleH2
{
	font-size: 1.5em;
	color: #4C7381;

}

.examplePostInfo
{
	font-size: .8em;
}