
body {
  overflow: visible;
  background-image: url(background.jpg)
}

#pageWidth {
  width: 1200px;
  margin: auto;
  min-height: 600px;
  background-color: white;
  border: 1px solid #ccc;
}

#topnav {
  background-color: black;
  padding: 2px;
  padding-left: 4px;
}

a#linkHostWeb, a#linkHostWeb:link, a#linkHostWeb:hover, a#linkHostWeb:visited {
  color: white;
  font-size: 14px;
  text-decoration: none;
}

#banner {
  background-color: #FFF;
  padding: 4px;
}

#appTitle {
  color: DarkBlue;
  font-size: 32px;
}

#contentBody {
  border-top: 1px solid black;
  padding: 0px;
}

#toolbar {
	margin: 0px;
	padding: 8px;
	background-color: #ccc;
}

#results > img {
  margin: 20px;
}

#customersTable {
  background-color: #999;
  border-collapse: collapse;
  border: 1px solid #333;
  margin: 20px;
  background-color: #FFF;
}

#customersTable thead tr td {
  background-color: #333;
  color: White;
}

#customersTable tr td {
  color: #333;
  padding: 4px;
  border-collapse: collapse;
  border: 1px solid black;
  background-color: White;
  font-size: 20px;
}

#customersTable td a, #customersTable td a img{
  text-decoration: none;
  border-style: none;
}
