<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MiniCRM" connectionString="Data Source=(local);Initial Catalog=MiniCRM;Integrated Security=SSPI"/>
  </connectionStrings>
  <appSettings>
    <add key="ListSite" value="http://dev.wingtip13.com/bcs"/>
  </appSettings>
</configuration>