<?xml version="1.0" encoding="utf-8"?> 
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="Microsoft.SDKSamples.Compression.JS" Version="1.0.0.0" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US"/>
  <Properties>
    <DisplayName>Compression JS sample</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Description>Compression JS sample</Description>
    <Logo>images\storeLogo-sdk.png</Logo>
  </Properties>
  <Resources>
    <Resource Language="en-us"/>
  </Resources>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Applications>
    <Application Id="Compression" StartPage="default.html">
      <Extensions>
        <Extension Category="windows.fileTypeAssociation" StartPage="default.html">
          <FileTypeAssociation Name="compressionsamplefile">
            <DisplayName>Compression SDK sample file</DisplayName>
            <SupportedFileTypes>
              <FileType>.compressed</FileType>
              <FileType>.decompressed</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
      </Extensions>
      <m2:VisualElements DisplayName="Compression JS sample" Description="Compression JS sample" ForegroundText="light" BackgroundColor="#00b2f0" Square150x150Logo="images\squaretile-sdk.png" Square30x30Logo="images\smalltile-Windows-sdk.png">
        <m2:DefaultTile ShortName="Compress JS" DefaultSize="square150x150Logo" Wide310x150Logo="images\tile-sdk.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo"/>
            <m2:ShowOn Tile="wide310x150Logo"/>
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="images\splash-Windows-sdk.png"/>
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities/>
</Package>