/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

a:link, a:visited
{
    color: #034af3;
    text-decoration: none;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
	color: #666666;
	font-variant: small-caps;
	text-transform: none;
	font-weight: 200;
	margin-bottom: 0;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2
{
	font-size: 1.5em;
	font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 960px;
    background-color: #fff;
    margin: 20px auto 0 auto;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0;
    background: #5c7fa1;
}

.header h1
{
    font-weight: 700;
    margin: 0;
    padding: 0 0 0 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    background: #5c7fa1;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    width: 710px;
    min-height: 420px;
    float: right;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
	width: 200px;
	min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0 0 0;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

ul.menu
{
    padding: 0;
    margin: 0;
    background: #3a4f63;
}

ul.menu li
{
    display: inline;
    list-style: none;
    padding: 0 0 0 8px;
}

ul.menu li a, ul.menu li a:visited
{
    padding: 4px 20px;
    line-height: 2.8em;
    text-decoration: none;
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #cfdbe6;
}

ul.menu li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

ul.menu li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}


/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset 
{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset label 
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.submitButton
{
    float: right;
    margin: 0px 10px 0px 0px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}


/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
    text-decoration: underline;
}

.loginDisplay a:visited
{
    color: white;
    text-decoration: underline;
}

.loginDisplay a:hover
{
    color: white;
    text-decoration: none;
}
