body
{
    background-color: #d0d0d0;
    touch-action:none;
}

canvas
{
    background-color: #ffffff;
    border: 1px solid black;
    left: 10px;
    top: 170px;
    touch-action:none;
}

div#palette
{
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    border: 1px solid gray;
    height: 70px;
    width: 330px;
    padding: 2px;
}

div.color
{
    position: relative;
    border: 1px solid gray; 
    height: 30px; 
    width: 30px; 
}

div#toolbar
{
    height: 70px; 
    width: 70px; 
    left: 10px; 
    padding: 2px; 
    -ms-grid-row: 1; 
    -ms-grid-column: 1;
}

@media screen and (max-width: 799px)
{
    #outputLabel
    {
        font: 11pt/15pt "Segoe UI";
        margin: 0px 0px 0px 0px;
        padding:0;
        font-weight: normal;
    }
}
