body {
    font-size:14px; font-family: Segoe UI, sans-serif; color:#2A2A2A;
}
.fl{
    float:left;
}
.noFloat{
    float:left;
}
.tile{
    width:150px;height:150px;color:#EFEFEF;margin:2px;cursor:pointer;padding:5px;float:left;text-align:left;font-family:Segoe UI Light, sans-serif; font-size:18px;
}
.tileWord{
    background-image:url(../Images/Word.png);background-repeat: no-repeat; background-position:bottom right;background-color:#2B579A;
}
.tileExcel{
    background-image:url(../Images/Excel.png);background-repeat: no-repeat; background-position:bottom right;background-color:#207347;
}
.tilePowerPoint{
    background-image:url(../Images/PowerPoint.png);background-repeat: no-repeat; background-position:bottom right;background-color:#D04727;
}
.tileBodyEdit{
    margin-left:20px;min-height:40px;min-width:125px;float:none;text-align:left;color:#FFFFFF;font-family:Segoe UI, sans-serif; font-size:14px;margin-top:5px;margin-bottom:5px;background-image:url(../Images/Edit.png);background-repeat: no-repeat; background-position:center left;
}
.tileBodyView{
    margin-left:20px;min-height:40px;min-width:125px;float:none;text-align:left;color:#FFFFFF;font-family:Segoe UI, sans-serif; font-size:14px;margin-top:5px;margin-bottom:5px;background-image:url(../Images/View.png);background-repeat: no-repeat; background-position:center left;
}
.heading{
    font-family:Segoe UI Light, sans-serif; font-size:24px; color:#FF7B0A;
    }
.scroller{overflow-y: scroll; height:675px; width:675px; max-height:675px; max-width:675px; margin:10px;border: 0.5px solid #AFAFAF;}
.tileRed{
    background-color:#D24726;
}
.tileRed:hover{
    background-color:#DB6B51;
}