<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:wb="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="Microsoft.SDKSamples.HidInfraredSensor.CS" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="1.0.0.5" />
  <Properties>
    <DisplayName>IR_Sensor/Video Capture sample</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>Assets\storeLogo-sdk.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="HidInfraredSensor.App" Executable="$targetnametoken$.exe" EntryPoint="HidInfraredSensor.App">
      <wb:VisualElements DisplayName="HidInfraredSensor C# sample" Description="HidInfraredSensor C# sample" BackgroundColor="#00b2f0" ForegroundText="light" Square150x150Logo="Assets\squareTile-sdk.png" Square30x30Logo="Assets\smallTile-sdk.png">
        <wb:DefaultTile ShortName="HidInfraredSensor C#" />
        <wb:SplashScreen BackgroundColor="#00b2f0" Image="Assets\splash-sdk.png" />
      </wb:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="picturesLibrary" />
    <Capability Name="videosLibrary" />
    <DeviceCapability Name="microphone" />
    <DeviceCapability Name="webcam" />
    <wb:DeviceCapability Name="humaninterfacedevice">
      <!--IR_Sensor Device-->
      <wb:Device Id="vidpid:16C0 0012">
        <wb:Function Type="usage:FF55 00A5" />
      </wb:Device>
    </wb:DeviceCapability>
  </Capabilities>
</Package>