<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MsdnReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SceReaderSample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SCEReaderSample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="NewsReaderSample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MsdnReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SceReaderSample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SCEReaderSample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="NewsReaderSample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <applicationSettings>
        <MsdnReader.Properties.Settings>
            <setting name="DataFeedUri" serializeAs="String">
                <value>http://windowsclient.net/appfeeds/masterfeed.xml</value>
            </setting>
            <setting name="UseDesignFeedInDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SubscriptionServiceUri" serializeAs="String">
                <value>ipc://SubscriptionCenter/SubscriptionService</value>
            </setting>
            <setting name="CompanyName" serializeAs="String">
                <value>MSDN Reader</value>
            </setting>
            <setting name="SubscriptionServiceSignalPrefix" serializeAs="String">
                <value>SubscriptionCenter</value>
            </setting>
            <setting name="EnableJournalNavigationOnInput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ApplicationName" serializeAs="String">
                <value>MsdnReader</value>
            </setting>
            <setting name="SavedDataExtension" serializeAs="String">
                <value>.msdn-story</value>
            </setting>
            <setting name="ChannelPortName" serializeAs="String">
                <value>MsdnReaderChannel</value>
            </setting>
        </MsdnReader.Properties.Settings>
        <SceReaderSample.Properties.Settings>
            <setting name="DataFeedUri" serializeAs="String">
                <value>http://newsreader:8080/dp/masterfeed.xml</value>
            </setting>
            <setting name="LogUploadUri" serializeAs="String">
                <value />
            </setting>
            <setting name="CounterUploadUri" serializeAs="String">
                <value />
            </setting>
            <setting name="DataUpdateFrequency" serializeAs="String">
                <value>00:30:00</value>
            </setting>
            <setting name="UseDesignFeedInDebug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ApplicationName" serializeAs="String">
                <value>Sample SCE Reader</value>
            </setting>
            <setting name="SavedDataExtension" serializeAs="String">
                <value>.sample-sce-story</value>
            </setting>
            <setting name="SubscriptionServiceUri" serializeAs="String">
                <value>ipc://SubscriptionCenter/SubscriptionService</value>
            </setting>
            <setting name="ChannelPortName" serializeAs="String">
                <value>SampleSCEReaderChannel</value>
            </setting>
            <setting name="CompanyName" serializeAs="String">
                <value>Sample</value>
            </setting>
            <setting name="SubscriptionServiceSignalPrefix" serializeAs="String">
                <value>SubscriptionCenter</value>
            </setting>
            <setting name="EnableJournalNavigationOnInput" serializeAs="String">
                <value>False</value>
            </setting>
        </SceReaderSample.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <MsdnReader.Properties.Settings>
            <setting name="StoryViewerZoom" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TransitionsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FetchLocalDataSynchronously" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainWindowBounds" serializeAs="String">
                <value>Empty</value>
            </setting>
            <setting name="SaveMainWindowBounds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
        </MsdnReader.Properties.Settings>
        <SceReaderSample.Properties.Settings>
            <setting name="StoryViewerZoom" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TransitionsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FetchLocalDataSynchronously" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainWindowBounds" serializeAs="String">
                <value>Empty</value>
            </setting>
            <setting name="SaveMainWindowBounds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
        </SceReaderSample.Properties.Settings>
    </userSettings>
</configuration>