<?xml version="1.0" encoding="UTF-8"?>
<!--                                                                  -->
<!-- Copyright (c) Microsoft Corporation. All rights reserved.        -->
<!-- This code is licensed under the Visual Studio SDK license terms. -->
<!-- THIS CODE IS PROVIDED *AS IS* WITHOUT WARRANTY OF                -->
<!-- ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING ANY               -->
<!-- IMPLIED WARRANTIES OF FITNESS FOR A PARTICULAR                   -->
<!-- PURPOSE, MERCHANTABILITY, OR NON-INFRINGEMENT.                   -->
<!--                                                                  -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Defines.wxi ?>
  
  <!-- TODO: Replace Product.Id and Product.UpgradeCode with new GUIDs for your MSI. -->  
  <Product Id="98554804-D439-4F6B-8269-362ECF7DC0D3" Name="$(var.FullProductName)" Language="$(var.ProductLanguage)" Version="$(var.ProductVersion)" Manufacturer="$(var.CompanyName)" UpgradeCode="9A50E0D7-AE0B-4721-925E-7F109263DA96">
    <Package InstallerVersion="200" Compressed="yes" Description="$(var.ProductDescription)" InstallScope="perMachine" />

    <Property Id="ISOSHELLSFX">
      <RegistrySearch Id="IsoShellSfx" Root="HKLM" Key="SOFTWARE\Microsoft\DevDiv\vs\Servicing\$(var.ShellVersion)\isoshell\$(var.ProductLanguage)" Name="Install" Type="raw" />
    </Property>
    <Property Id="INTSHELLSFX">
      <RegistrySearch Id="IntShellSfx" Root="HKLM" Key="SOFTWARE\Microsoft\DevDiv\vs\Servicing\$(var.ShellVersion)\devenv\$(var.ProductLanguage)" Name="Install" Type="raw" />
    </Property>
    <Property Id="INSTALLDIR">
      <RegistrySearch Id="InstallDir" Root="HKLM" Key="SOFTWARE\Microsoft\Apenv\$(var.ShellVersion)" Name="ShellFolder" Type="raw" />
    </Property>

    <Condition Message="This application requires $(var.IsoShellName).  Please install $(var.IsoShellName) then run this installer again.">
      <![CDATA[Installed OR ISOSHELLSFX]]>
    </Condition>

    <Condition Message="This application requires $(var.IntShellName).  Please install $(var.IntShellName) then run this installer again.">
      <![CDATA[Installed OR INTSHELLSFX]]>
    </Condition>

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLDIR" Name="." />
            </Directory>
        </Directory>

        <Feature Id="ProductFeature" Title="PhotoStudioIntShell" Level="1">
        <ComponentGroupRef Id="EditorAdornment"/>
      <ComponentGroupRef Id="SlideShowDesignerGroup" />
      
      <!-- Note: The following ComponentGroupRef is required to pull in generated authoring from project references. -->
            <ComponentGroupRef Id="Product.Generated" />
        </Feature>
    </Product>
</Wix>