<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="Microsoft.SDKSamples.RawNotifications.CPP" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="1.0.0.0" />
  <Properties>
    <DisplayName>RawNotifications CPP</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>storeLogo-sdk.png</Logo>
    <Description>Raw Notifications Sample CPP</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Applications>
    <Application Id="RawNotificationsSampleCPP.App" Executable="$targetnametoken$.exe" EntryPoint="RawNotificationsSampleCPP.App">
      <VisualElements DisplayName="RawNotifications CPP" Logo="squareTile-sdk.png" SmallLogo="smallTile-sdk.png" Description="RawNotifications CPP" ForegroundText="light" BackgroundColor="#00b2f0">
        <LockScreen Notification="badge" BadgeLogo="badgeLogo-sdk.png" />
        <DefaultTile ShortName="Raw CPP" ShowName="allLogos" />
        <SplashScreen Image="splash-sdk.png" BackgroundColor="#00b2f0" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="BackgroundTasks.SampleBackgroundTask">
          <BackgroundTasks>
            <Task Type="pushNotification" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>