
/* zero-out default styles */
input[type="radio"]
{
    margin: 10px 5px;
    width: 32px;
    height: 20px;
    padding: 0px;
    
}

.contextControlScenario input[type="radio"]::-ms-check
{
    width: 32px;
    height: 20px;
    padding: 0px;
    background-color: rgba(191, 191,191,1.0);
    border: 0px;
    border-radius: 0%;
    color: transparent;
}

.contextControlScenario input[type="radio"]:checked:hover:active::-ms-check,
.contextControlScenario input[type="radio"]:checked:hover::-ms-check,
.contextControlScenario input[type="radio"]:checked::-ms-check
{
    width: 32px;
    height: 20px;
    padding: 0px;
    background-color: rgba(88, 204,12,1.0);
}

.contextControl
{
    position: relative;
    background-color: rgba(0, 0, 0, 0.65);
    height: 40px;
    width: 480px;
    text-align: center;
    border: solid 1px rgba(0, 0, 0, 0.65);
}

.contextControlScenario {
    margin-top: -10px;
}