.returnTOC
{
    color: rgba(255, 255, 255, 0.49);
}

.TableOfContents
{
    display: -ms-flexbox;
    -ms-flex-pack: center;
}

.TOCCenter
{
    width: 360px;
    text-align: left;
}

.TOCTitle
{
    color: rgba(88, 204, 14, 1.0);
    margin: 10px;
}

.itemContainer, .itemContainer:hover, .itemContainer:hover:active
{
    width: 360px;
    height: 30px;
    border: 0px;
    background-color: rgba(88, 88, 88, 1.0);
    margin: 5px;
    padding: 0px;
    text-align: left;
}

.lightStrip
{
    width: 6px;
    height: 100%;
    background-color: rgba(88,204,14,1.0);
    float: left;
}

.TOCItem
{
    margin: 0px 15px;
    line-height: 30px; 
    color: rgba(255,255,255,1.0)
}

