
/* General Button Styling */
#stylingButtons_FlipView .win-navbutton
{
    border: none;
    width: 69px;
    height: 39px;
    z-index: 1;
    position: absolute;
    background-color: rgba(165, 165, 165, 0.37);
    font-family: "Segoe UI Symbol";
    font-size: 24px;
    color: rgba(255, 255, 255, 0.8);
}

#stylingButtons_FlipView .win-navbutton:hover
{
    background-color: rgba(255, 255, 255, 0.6);
    color: white;
}

#stylingButtons_FlipView .win-navbutton:active
{
    background-color: white;
    color: rgba(33, 33, 33, 1.0);
}

/* Styling Specific Buttons */
#stylingButtons_FlipView .win-navleft
{
    left: 0%;
    top: 20%;
    margin-top: -19px;
}

#stylingButtons_FlipView .win-navright
{
    left: 100%;
    top: 20%;
    margin-left: -68px;
    margin-top: -19px;
}

#stylingButtons_FlipView .win-navtop
{
    left: 80%;
    top: 0%;
    margin-left: -35px;
}

#stylingButtons_FlipView .win-navbottom
{
    left: 80%;
    top: 100%;
    margin-left: -35px;
    margin-top: -39px;
}

#stylingButtons_FlipView .win-navbutton
{
    background:url("/images/customButton.png");
}
