@model IEnumerable<CSUsingMongoDBInNETCore.Models.Post>

@{ ViewBag.Title = "All Posts";}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Content</th>
        <th>Delete</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="Post/Edit/@item.Id">
                    @item.Id
                </a>
            </td>
            <td>
                <a href="Post/Edit/@item.Id">
                    @item.Title
                </a>
            </td>
            <td>
                <a href="Post/Edit/@item.Id">
                    @item.Content
                </a>
            </td>
            <td>
                <a href="Post/Delete/@item.Id">delete</a>
            </td>
        </tr>
    }
</table>