<nav class="navbar navbar-default" v-bind:class="{'navbar-inverse' : inverted}">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">vue-webpack-typescript</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li v-for="link in links" v-bind:class="{'active' : $route.path == link.path}">
                  <router-link v-bind:to="link.path">{{link.name}}</router-link>
                </li>
            </ul>
        </div>
    </div>
</nav>
