<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DataContentControls.Properties.Settings.NorthwindConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Northwind.mdb" providerName="System.Data.OleDb"/>
  </connectionStrings>
  <!--
<startup><supportedRuntime version="v2.0.50727"/></startup>    
    -->
</configuration>
