body {
}
/*root grid css*/
#rootGrid
{
	width: 100%;
	height: 100%;
	display: -ms-grid;
	-ms-grid-rows: auto 1fr auto auto 20px;
	-ms-grid-columns: 100px 1fr 100px;
}

/*Title CSS*/
#title {
 -ms-grid-row:1;
 -ms-grid-column:2;
 -ms-word-wrap:break-word;
}
.AppLogo{
	font-size:14.667px;
	font-family:'segoe ui';
}
.AppName{
	font-family:'segoe ui';
	font-size:48px;
}
.AppDescription{
	font-family:'segoe ui';
	font-size:26.667px;
}
/*Content CSS*/
#content {
	-ms-grid-row: 2;
	-ms-grid-column:2;
	display: -ms-grid;
	-ms-grid-rows: auto 1fr;
	-ms-grid-columns:1fr;
    margin-top:20px;
	padding-right:20px;
    padding-bottom:20px;
}

#input{
	-ms-grid-row:1;
	-ms-grid-column:1;
	-ms-grid-row-align:start;
	text-align:left;
	font-size:14px;
	margin-left:5px;
}

#output{
	-ms-grid-row:2;	
	-ms-grid-column:1;
	margin-top:20px;
   -ms-word-wrap:break-word;
   display:-ms-flexbox;
}
.lvDataTextItem {
    height:80px;
    padding: 4px;
    overflow: hidden;
}
.BasicTitleStyle {
    font-size:18px;
    font-weight:bold;
    font-family:'Segoe UI';
}
.BasicTextStyle {
    font-family:'Segoe UI';
    font-size:14px;
}
#listView {
    width:400px;
	height:auto;
}

#error{
	-ms-grid-row:3;
	-ms-grid-column:2;
	font-size:12px;
	color:red;
}
/*Footer css*/
#footer {
	-ms-grid-row:4;  
   -ms-grid-column:2;
  
}
#footerText .company
{
	float:left;
}
#footerText a{
	float:right;
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}


@media screen and (-ms-view-state: fullscreen-portrait) {
}
