/* Place custom styles below */
#Container {
	width:960px; 
	position:relative; 
	border:3px black; 
	margin:0 auto
}

.ContactCard {
	width:300px; 
	height:100px; 
	border-top:1px black solid;
	border-left:1px black solid; 
	border-bottom:3px black solid;
	border-right:3px black solid; 
	margin:5px; 
	border-radius:5px; 
	float:left;
	position:relative;
}

.ContactCardTools {
	width:300px; 
	height:20px; 
	background-color:#e1f4fa; 
	border-top-right-radius:5px;
	border-top-left-radius:5px;
}

.icon {
	position:absolute;
	top:30px;
	left:5px;
}

.ContactCardDetails {
	position:relative;
	left:60px;
	top:10px;
	width:230px;
}

.ContactCardFirstName {
	position:relative;
	left:0px;
    font-size:12px;
}

.ContactCardLastName {
	position:relative;
	left:0px;
    font-size:12px;
}

.ContactCardID {
	position:relative;
	left:0px;
    font-size:12px;
}

.ContactCardPhone {
	position:relative;
	left:0px;
    font-size:12px;
}
