<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="Microsoft.SDKSamples.MultiViewSample.CPP" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Mulitple views C++ sample</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>storelogo-sdk.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Applications>
    <Application Id="DirectXApplication.App" Executable="$targetnametoken$.exe" EntryPoint="Main View">
      <m2:VisualElements DisplayName="Multiple views C++ sample" Description="Multiple views C++ sample" BackgroundColor="#00b2f0" ForegroundText="light" Square150x150Logo="squaretile-sdk.png" Square30x30Logo="smalltile-sdk.png">
        <m2:DefaultTile ShortName="Multi-view C++">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen BackgroundColor="#00b2f0" Image="splash-sdk.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
</Package>