<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Defines.wxi ?>
  <Fragment Id="FragmentIronPythonExtension">
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="IronPythonExtensionFolder" Name="IronPython" DiskId="1" FileSource="$(var.IronPythonExtensionDir)">
        <Component Id="IronMathAssembly" Guid="*">
          <File Id="IronMathAssembly" Name='IronMath.dll' KeyPath='yes' />
        </Component>
        <Component Id="IronPythonAssembly" Guid="*">
          <File Id="IronPythonAssembly" Name='IronPython.dll' KeyPath='yes' />
        </Component>
        <Component Id="CompilerTasksAssembly" Guid="*">
          <File Id="CompilerTasks" Name='Microsoft.Samples.VisualStudio.IronPython.CompilerTasks.dll' KeyPath='yes' />
        </Component>
        <Component Id="ConsoleAssembly" Guid="*">
          <File Id="ConsoleAssembly" Name='Microsoft.Samples.VisualStudio.IronPython.Console.dll' KeyPath='yes' />
        </Component>
        <Component Id="ConsolePackageDefinition" Guid="*">
          <File Id="ConsolePackageDefinition" Name='Microsoft.Samples.VisualStudio.IronPython.Console.pkgdef' KeyPath='yes' />
        </Component>
        <Component Id="EditorAssembly" Guid="*">
          <File Id="EditorAssembly" Name='Microsoft.Samples.VisualStudio.IronPython.EditorExtensions.dll' KeyPath='yes' />
        </Component>
        <Component Id="InterfacesAssembly" Guid="*">
          <File Id="InterfacesAssembly" Name='Microsoft.Samples.VisualStudio.IronPython.Interfaces.dll' KeyPath='yes' />
        </Component>
        <Component Id="ProjectAssembly" Guid="*">
          <File Id="ProjectAssembly" Name='Microsoft.Samples.VisualStudio.IronPython.Project.dll' KeyPath='yes' />
        </Component>
        <Component Id="ProjectPackageDefinition" Guid="*">
          <File Id="ProjectPackageDefinition" Name='Microsoft.Samples.VisualStudio.IronPython.Project.pkgdef' KeyPath='yes' />
        </Component>
        <Component Id="ImageLarge" Guid="*">
          <File Id="ImageLarge" Name='IronPython_large.png' KeyPath='yes' />
        </Component>
        <Component Id="ImageSmall" Guid="*">
          <File Id="ImageSmall" Name='IronPython_small.png' KeyPath='yes' />
        </Component>
        <Component Id="MsBuildTargets" Guid="*">
          <File Id="MsBuildTargets" Name='IronPython.targets' KeyPath='yes' />
        </Component>
        <Component Id="ExtensionManifest" Guid="*">
          <File Id="ExtensionManifest" Name='extension.vsixmanifest' KeyPath='yes' />
        </Component>
      </Directory>
    </DirectoryRef>

    <ComponentGroup Id="IronPythonExtension">
      <ComponentRef Id="IronMathAssembly" />
      <ComponentRef Id="IronPythonAssembly" />
      <ComponentRef Id="CompilerTasksAssembly" />
      <ComponentRef Id="ConsoleAssembly" />
      <ComponentRef Id="ConsolePackageDefinition" />
      <ComponentRef Id="EditorAssembly" />
      <ComponentRef Id="InterfacesAssembly" />
      <ComponentRef Id="ProjectAssembly" />
      <ComponentRef Id="ProjectPackageDefinition" />
      <ComponentRef Id="ImageLarge" />
      <ComponentRef Id="ImageSmall" />
      <ComponentRef Id="MsBuildTargets" />
      <ComponentRef Id="ExtensionManifest" />

      <ComponentGroupRef Id="IronPythonCodeSnippets"/>
      <ComponentGroupRef Id="IronPythonItemTemplates"/>
      <ComponentGroupRef Id="IronPythonProjectTemplates"/>
      <ComponentGroupRef Id="IronPythonMsBuild"/>
    </ComponentGroup>

  </Fragment>
</Wix>