<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Defines.wxi ?>

  <Product Id="F270F5AD-701D-413F-B1DC-5FA064F3AC65" Name="IronPython Studio 2010 (Integrated)" Language="$(var.ProductLanguage)" Version="$(var.ProductVersion)" Manufacturer="$(var.CompanyName)" UpgradeCode="440F0BD9-50B5-468E-8040-79CA1E6BE8AC">
    <Package InstallerVersion="200" Compressed="yes" Description="$(var.ProductDescription)" InstallPrivileges="elevated" InstallScope="perMachine" />

    <Property Id="INTSHELLSFX" Secure="yes">
      <RegistrySearch Id="IntShellSfx" Root="HKLM" Key="Software\Microsoft\VisualStudio\$(var.ShellVersion)\Setup\IntShell\$(var.ProductLanguage)" Name="ProductDir" Type="raw" />
    </Property>
   
    <Property Id="ARPPRODUCTICON">ProductIcon</Property>

    <Property Id="INSTALLDIR" Value=" " />
    <!-- Value will be set during CustomActions -->
    <Property Id="DEVENV" Value=" " />
    <!-- Value will be set during CustomActions -->

    <CustomAction Id="SetInstallDir" Property="INSTALLDIR" Value="[INTSHELLSFX]$(var.ExtensionsFolder)" />
    <CustomAction Id="SetDevEnv" Property="DEVENV" Value="[INTSHELLSFX]$(var.IdeFolder)\devenv.exe" />
    <CustomAction Id="RunDevEnvSetup" Execute="commit" Impersonate="no" Property="DEVENV" ExeCommand="/setup" Return="ignore" />

    <Condition Message="This application requires $(var.ShellName).  Please install $(var.ShellName) then run this installer again.">
      <![CDATA[Installed OR INTSHELLSFX]]>
    </Condition>

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="." />
      </Directory>
    </Directory>

    <DirectoryRef Id='ProgramFilesFolder'>
      <Directory Id="MSBuild" Name="MSBuild">
        <Directory Id="MSBuildMS" Name="Microsoft">
          <Directory Id="MSBuildMSIronPython" Name="$(var.FullProductName)">
            <Directory Id="MSBuildMSIronPython10" Name="1.0">
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </DirectoryRef>

    <Feature Id="ProductFeature" Title="IronPython Studio 2010 (Integrated)" Level="1">
      <ComponentGroupRef Id="IronPythonExtension"/>

      <!-- Note: The following ComponentGroupRef is required to pull in generated authoring from project references. -->
      <ComponentGroupRef Id="Product.Generated" />
    </Feature>

    <InstallExecuteSequence>
      <Custom Action="SetInstallDir" After="ValidateProductID" />
      <Custom Action="SetDevEnv" After="SetInstallDir" />
      <Custom Action="RunDevEnvSetup" After="MsiPublishAssemblies">NOT Installed</Custom>
    </InstallExecuteSequence>

    <Icon Id="ProductIcon" SourceFile="Resources\Product.ico" />
  </Product>
</Wix>