#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Kernel Debugger Extension for Atheros Wireless Sample Driver"

#define VER_INTERNALNAME_STR        "mpdbg.DLL"
#define VER_ORIGINALFILENAME_STR    "mpdbg.DLL"

#include "common.ver"
