/* Scenario styles */
/* Navigation bar layout */
#scenario6AppBar {
    background-color: #0ff;
    height: 140px;
}
#scenario6AppBar .win-backbutton:active:hover {
    color: #0ff;
}
.win-appbar header {
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 133px 1fr 0px;
    display: -ms-grid;
    height: 100%;
    width: 100%;
    -ms-grid-columns: 120px 1fr;
    -ms-grid-rows: 1fr;
    display: -ms-grid;
}
.win-appbar header .win-backbutton {
    margin-left: 39px;
    margin-top: 59px;
}
.win-appbar header .titleArea {
    -ms-grid-column: 2;
    margin-top: 44px;
}
.win-appbar header .titleArea .win-type-xx-large {
    display: inline;
    height: 60pt;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 20px);
}
