/*-------------------------------------------------------------------------------------------*/
/* listview styles
/*-------------------------------------------------------------------------------------------*/

/* starting margin */
.imageGallery .win-surface
{
    margin-left: 120px;
}

/* overall list dimensions */
.imageGallery
{
    width:100%;
    height:100%;
    direction:ltr;
}

/*-------------------------------------------------------------------------------------------*/
/* medium image template
/* image-gallery - used in Picker gallery
/*-------------------------------------------------------------------------------------------*/

.imageGallery .win-container
{
    margin-right: 10px;
    margin-bottom: 10px;
}

.imageGallery .win-item
{
    width: 190px;
    height: 130px;
    overflow: hidden;
    background-color:  #333333;
}

.imageGallery .win-item img {
    width: 190px;
    height: 130px;
    overflow: hidden;
}

/*-------------------------------------------------------------------------------------------*/
/* small image overlay template
/* imageOverlay-galleryFolder - used in Picker gallery
/*-------------------------------------------------------------------------------------------*/

/* overlay grid placement */
.imageGallery .win-item
{
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr;
}

/* overlay properties */
.imageGallery .win-item .overlay {
    position: relative;
    -ms-grid-row-align: end;
    background-color: #333333;
    height: 30px;
    overflow: hidden;
    padding: 0px 15px 0px 15px;
    visibility: hidden;
}

/* text */
.imageGallery .win-item .overlayText {
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
    width: 160px;
    height: 20px;
}


/*-------------------------------------------------------------------------------------------*/
/* Media queries to adjust templates for view states
/*-------------------------------------------------------------------------------------------*/

@media screen and (max-width: 799px) {  
    .imageGallery
    {
        /* 190px per item + 31px of built-in list view margins */
        width:221px;
    }
    
        .imageGallery .win-surface
        {
            margin-left: 20px;
        }
}

/* portrait orientation */

