<?xml version="1.0" encoding="UTF-8"?>
<!--                                                                  -->
<!-- Copyright (c) Microsoft Corporation. All rights reserved.        -->
<!-- This code is licensed under the Visual Studio SDK license terms. -->
<!-- THIS CODE IS PROVIDED *AS IS* WITHOUT WARRANTY OF                -->
<!-- ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING ANY               -->
<!-- IMPLIED WARRANTIES OF FITNESS FOR A PARTICULAR                   -->
<!-- PURPOSE, MERCHANTABILITY, OR NON-INFRINGEMENT.                   -->
<!--                                                                  -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Defines.wxi ?>

  <Fragment Id="FragmentApplication">

    <DirectoryRef Id="INSTALLDIR">
      <Component Id="MasterPkgDef" Guid="*">
        <File Id="MasterPkgDef" Name='$(var.ShortProductName).pkgdef' DiskId='1' Source='$(var.BuildOutputDir)$(var.ShortProductName).pkgdef' KeyPath='yes' />
      </Component>
      <Component Id="SplashResource" Guid="*">
        <File Id="Splash" Name='Splash.bmp' DiskId='1' Source='$(var.BuildOutputDir)Splash.bmp' KeyPath='yes' />
      </Component>
      <Component Id="IconResource" Guid="*">
        <File Id="Icon" Name='ApplicationIcon.ico' DiskId='1' Source='$(var.BuildOutputDir)ApplicationIcon.ico'  KeyPath='yes' />
      </Component>
      <Component Id="WinPrfResource" Guid="*">
        <File Id="WinPrf" Name='$(var.ShortProductName).winprf' DiskId='1' Source='$(var.BuildOutputDir)$(var.ShortProductName).winprf'  KeyPath='yes' />
      </Component>
      <Component Id="AppExe" Guid="*">
        <File Id="Exe" Name='$(var.ShortProductName).exe' DiskId='1' Source='$(var.BuildOutputDir)$(var.ShortProductName).exe' KeyPath="yes" />
      </Component>
      <Component Id="AppConfig" Guid="*">
        <File Id="Config" Name='$(var.ShortProductName).exe.config' DiskId='1' Source='$(var.BuildOutputDir)$(var.ShortProductName).exe.config' KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="*">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="$(var.FullProductName)"
                  Description="$(var.ProductDescription)"
                  Target="[INSTALLDIR]$(var.ShortProductName).exe"
                  WorkingDirectory="INSTALLDIR"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryKey Id='$(var.ShortProductName)UserRegKey' Root='HKCU' Key='$(var.ProductRegKey)' ForceCreateOnInstall='yes' ForceDeleteOnUninstall='yes'>
          <RegistryValue Type='string' Name='InstallDir' Value='[INSTALLDIR]'/>
          <RegistryValue Type='integer' Name='Installed' Value="1" KeyPath="yes" />
        </RegistryKey>
      </Component>
    </DirectoryRef>
    
    <DirectoryRef Id="ExtensionsFolder">
      <Directory Id="AppExtFolder" Name="Application">
        <Component Id="AppPkgDef" Guid="*">
          <File Id="ApplicationPkgDef" Name='$(var.ShortProductName).Application.pkgdef' DiskId='1' Source='$(var.BuildOutputDir)Extensions\Application\$(var.ShortProductName).Application.pkgdef' KeyPath='yes' />
        </Component>
        <Component Id="AppPkgDefUndef" Guid="*">
          <File Id="PkgUndef" Name='$(var.ShortProductName).pkgundef' DiskId='1' Source='$(var.BuildOutputDir)$(var.ShortProductName).pkgundef' KeyPath='yes' />
        </Component>
      </Directory>
    </DirectoryRef>

    <DirectoryRef Id="ResourcesFolder">
      <Component Id="$(var.ShortProductName)UI1033" Guid="*">
        <File Id="$(var.ShortProductName)UI" Name='$(var.ShortProductName)UI.dll' DiskId='1' Source='$(var.BuildOutputDir)1033\$(var.ShortProductName)UI.dll' KeyPath='yes' />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="ApplicationGroup">
      <ComponentGroupRef Id="DebuggerProxy" />
      <ComponentRef Id="MasterPkgDef" />
      <ComponentRef Id="SplashResource" />
      <ComponentRef Id="IconResource" />
      <ComponentRef Id="WinPrfResource" />
      <ComponentRef Id="AppExe" />
      <ComponentRef Id="AppConfig" />
      <ComponentRef Id="AppPkgDef" />
      <ComponentRef Id="AppPkgDefUndef" />
      <ComponentRef Id="$(var.ShortProductName)UI1033" />
      <ComponentRef Id="ApplicationShortcut"/>
      <ComponentRef Id="ApplicationRegistry"/>
    </ComponentGroup>

  </Fragment>
</Wix>