<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="16cd367e-05ab-4d51-bd48-48f0d8d3c051" Version="1.0.0.0" Publisher="CN=All-In-One Code Framework" />
  <Properties>
    <DisplayName>JSUnvsAppDownloadExtractZip.Windows</DisplayName>
    <PublisherDisplayName>All-In-One Code Framework</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <m2:VisualElements DisplayName="JSUnvsAppDownloadExtractZip.Windows" Description="JSUnvsAppDownloadExtractZip.Windows" ForegroundText="light" BackgroundColor="#E6B80B" Square150x150Logo="images\Logo.png" Square30x30Logo="images\SmallLogo.png">
        <m2:DefaultTile Wide310x150Logo="images\TileLogo.png">
        </m2:DefaultTile>
        <m2:SplashScreen Image="images\splashscreen.png" BackgroundColor="#E6B80B" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>