<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <appSettings>
    <add key="ActiveTimeout" value="30" />
    <add key="RefreshTimeout" value="1" />
    <add key="refreshUrl" value="CheckUserOnlinePage.aspx" />
  </appSettings>
    
  <connectionStrings>
    <add name="ApplicationServices"      
         connectionString="Data Source=(LocalDB)\v11.0;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
