<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:build="http://schemas.microsoft.com/developer/appx/2012/build" IgnorableNamespaces="build">
  <Identity Name="169ee637-a4b5-4518-a222-13997a912ed9" Version="1.0.0.0" Publisher="CN=All-In-One Code Framework" />
  <Properties>
    <DisplayName>JSWindowsStoreAppAccessSQLServer</DisplayName>
    <PublisherDisplayName>All-In-One Code Framework</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <m2:VisualElements DisplayName="JSWindowsStoreAppAccessSQLServer" Description="JSWindowsStoreAppAccessSQLServer" ForegroundText="light" BackgroundColor="#E6B80B" Square150x150Logo="images\Logo.png" Square30x30Logo="images\SmallLogo.png">
        <m2:DefaultTile Wide310x150Logo="images\TileLogo.png">
        </m2:DefaultTile>
        <m2:SplashScreen Image="images\splashscreen.png" />
        <m2:ApplicationView MinWidth="width500" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
  <build:Metadata>
    <build:Item Name="Blend" Version="12.0.41002.1" />
  </build:Metadata>
</Package>