<?xml version="1.0" encoding="utf-8"?> 
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="F95D122A-B433-4033-BEF2-378FCD53CE71" Version="1.0.0.0" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US"/>
  <mp:PhoneIdentity PhoneProductId="F95D122A-B433-4033-BEF2-378FCD53CE71" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
  <Properties>
    <DisplayName>Inclinometer JS sample</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>images\storeLogo-sdk.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="en-US"/>
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <m3:VisualElements DisplayName="Inclinometer JS sample" Description="Inclinometer JS sample" ForegroundText="light" BackgroundColor="#00b2f0" Square150x150Logo="images\squaretile-sdk.png" Square44x44Logo="images\smallTile-Phone-sdk.png">
        <m3:DefaultTile ShortName="Inclin JS" DefaultSize="square150x150Logo" Wide310x150Logo="images\tile-sdk.png" Square71x71Logo="images\mediumtile-sdk.png">
          <m3:ShowNameOnTiles>
            <m3:ShowOn Tile="square150x150Logo"/>
            <m3:ShowOn Tile="wide310x150Logo"/>
          </m3:ShowNameOnTiles>
        </m3:DefaultTile>
        <m3:SplashScreen Image="images\splash-Phone-sdk.png"/>
      </m3:VisualElements>
    </Application>
  </Applications>
</Package>