/* Peer List */

#peerWatcher_FoundPeersList {
    width: 100%;
}

.peerTemplate {
    display: -ms-grid;
    width: 100%;
}

    .peerTemplate .displayName {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
    }
    .peerTemplate .discoveryData {
        -ms-grid-column: 2;
        -ms-grid-row: 1;
        text-align: right;
    }
    .peerTemplate .peerId {
        -ms-grid-column: 1 2;
        -ms-grid-column-span: 2;
        -ms-grid-row: 2;
    }

.grid {
    display: -ms-grid;
    -ms-grid-columns: auto minmax(min-content, 100%);
}

.buttonColumn {
    -ms-grid-column: 1;
}

    .buttonColumn button {
        margin: 10px 0 0 0;
    }

.resultColumn {
    -ms-grid-column: 2;
}