<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GlobalWeatherSoap" />
            </basicHttpBinding>
          
        </bindings>
        <client>
            <endpoint address="http://www.webservicex.net/globalweather.asmx"
                binding="basicHttpBinding" bindingConfiguration="GlobalWeatherSoap"
                contract="WeatherWebService.GlobalWeatherSoap" name="GlobalWeatherSoap" />
           
        </client>
    </system.serviceModel>
</configuration>