@model List<CSPostComplexJsonASPNETCore.Models.ItemGroup>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
    <p>
        <button>Submit json to server</button>
    </p>
    <h1>Server rendering datas</h1>
    @foreach (var group in Model)
    {
        <p>
            <span>@group.Name</span>
            <ul>
                @foreach (var groupItem in group.Items)
                {
                    <li>ID:@groupItem.Id&emsp;Name:@groupItem.Name</li>
                }
            </ul>
        </p>
    }
    <script>
        var sendJsonData = {
            Name: "Group1",
            Items: [
                {
                    Id: 1,
                    Name: "Item1"
                },
                {
                    Id: 2,
                    Name: "Item2"
                },
                {
                    Id: 3,
                    Name: "Item3"
                }
            ]
        };

        $("button").click(function () {
            $.ajax({
                url: "/Home/PostJson",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(sendJsonData),
                success: function (data) {
                    if (data.state == 0) {
                        document.location.reload();
                    }
                }
            });
        })
    </script>
</body>
</html>