/* This selector is used to prevent ui-dark/light.css from overwriting changes
   to .win-surface. */
.groupeditemspage .groupeditemslist .win-horizontal.win-viewport .win-surface {
    margin-left: 46px;
    margin-bottom: 60px;
}

.groupeditemspage .groupeditemslist {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 0;
}

    .groupeditemspage .groupeditemslist .win-groupheader {
        margin: 0;
        margin-left: 70px;
        padding: 0;
    }

        .groupeditemspage .groupeditemslist .win-groupheader .group-title {
            margin-bottom: 15px;
            margin-left: 3px;
            margin-top: 0; 
        }

    .groupeditemspage .groupeditemslist .win-horizontal.win-viewport .win-container {
        margin-bottom: 6px;
        margin-right: 6px;
    }

    .groupeditemspage .groupeditemslist .win-item {
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 1fr 90px;
        display: -ms-grid;
        height: 250px;
        width: 250px;
    }

        .groupeditemspage .groupeditemslist .win-item .item-image {
            -ms-grid-row-span: 2;
        }

        .groupeditemspage .groupeditemslist .win-item .item-overlay {
            -ms-grid-row: 2;
            -ms-grid-rows: 1fr 21px;
            display: -ms-grid;
            padding: 6px 15px 2px 15px;
        }

            .groupeditemspage .groupeditemslist .win-item .item-overlay .item-title {
                -ms-grid-row: 1;
                overflow: hidden;
                width: 220px;
            }

            .groupeditemspage .groupeditemslist .win-item .item-overlay .item-subtitle {
                -ms-grid-row: 2;
                width: 220px;
            }

@media screen and (-ms-view-state: fullscreen-landscape), screen and (-ms-view-state: fullscreen-portrait), screen and (-ms-view-state: filled) {
    .groupeditemspage .groupeditemslist .win-item .item-overlay {
        background: rgba(0,0,0,0.65);
    }

        .groupeditemspage .groupeditemslist .win-item .item-overlay .item-title {
            color: rgba(255,255,255,0.87);
        }

        .groupeditemspage .groupeditemslist .win-item .item-overlay .item-subtitle {
            color: rgba(255,255,255,0.6);
        }
}

@media screen and (-ms-view-state: snapped) {

    .groupeditemspage .groupeditemslist .win-vertical.win-viewport .win-surface {
        margin-bottom: 30px;
        margin-left: 6px;
    }

    .groupeditemspage .groupeditemslist .win-vertical.win-viewport .win-container {
        margin: 4px;
        margin-bottom: 6px;
        margin-right: 22px;
        padding: 10px;
    }

        .groupeditemspage .groupeditemslist .win-vertical.win-viewport .win-container:hover {
            outline: 0;
        }

    .groupeditemspage .groupeditemslist .win-item {
        -ms-grid-columns: 60px 1fr;
        -ms-grid-rows: 1fr;
        display: -ms-grid;
        height: 60px;
        width: 272px;
    }

        .groupeditemspage .groupeditemslist .win-item .item-image {
            -ms-grid-column: 1;
            -ms-grid-row-span: 1;
            height: 60px;
            width: 60px;
        }

        .groupeditemspage .groupeditemslist .win-item .item-overlay {
            -ms-grid-column: 2;
            -ms-grid-row: 1;
            -ms-grid-row-align: stretch;
            background: transparent;
            display: inline-block;
            margin-left: 10px;
            padding: 0;
        }

            .groupeditemspage .groupeditemslist .win-item .item-overlay .item-title {
                margin-top: 4px;
                max-height: 40px;
                width: 202px;
            }

            .groupeditemspage .groupeditemslist .win-item .item-overlay .item-subtitle {
                opacity: 0.6;
                width: 202px;
            }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .groupeditemspage .groupeditemslist .win-horizontal.win-viewport .win-surface {
        margin-left: 26px;
    }
}
