.itemdetailpage section[role=main] {
    -ms-grid-row: 2;
    display: block;
    height: 100%;
    overflow-x: auto;
    position: relative;
    width: 100%;
    z-index: 0;
}

    .itemdetailpage section[role=main] article {
        /* Define a multi-column, horizontally scrolling article by default. */
        column-fill: auto;
        column-gap: 80px;
        column-width: 480px;
        height: calc(100% - 50px);
        margin-left: 120px;
        width: 480px;
    }

        .itemdetailpage section[role=main] article header .item-title {
            margin-bottom: 20px;
            margin-top: 0;
        }

        .itemdetailpage section[role=main] article header .item-subtitle {
            margin-bottom: 20px;
            margin-top: 0;
        }

        .itemdetailpage section[role=main] article .item-image {
            height: 240px;
            margin-bottom: 3px;
            width: 460px;
        }

        .itemdetailpage section[role=main] article .item-content p {
            margin-bottom: 20px;
            margin-right: 20px;
            vertical-align: baseline;
        }

@media screen and (-ms-view-state: snapped) {
    .itemdetailpage section[role=main] article {
        /* Define a single column, vertically scrolling article in snapped mode. */
        -ms-grid-columns: 300px 1fr;
        -ms-grid-row: 2;
        -ms-grid-rows: auto 60px;
        display: -ms-grid;
        height: 100%;
        margin-left: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        width: 300px;
    }

        .itemdetailpage section[role=main] article .item-image {
            height: 140px;
            width: 280px;
        }

        .itemdetailpage section[role=main] article .item-content {
            padding-bottom: 60px;
        }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .itemdetailpage section[role=main] article {
        margin-left: 100px;
    }
}
