
.detailPage section[role=main] {
    -ms-grid-row: 2;
    display: block;
    width: 100%;
    height: 100%;
    overflow-x: auto;
}

.detailPage section[role=main] article {
    column-fill: auto;
    column-width: 800px;
    column-gap: 80px;
    height: auto;
    width: 800px;
    margin-left: 120px;
}

.detailPage section[role=main] h1 {
    margin-top: 0px;
    margin-bottom: 20px;
}

.detailPage section[role=main] .image {
    width: 800px;
    height: 100px;
    /*background: rgba(209, 211, 212, 1);*/
    /*background: rgba(240, 239, 136, 1);*/
    /*background: rgba(25,50,200,1)*/
}

.detailPage section[role=main] p {
    margin-right: 20px;
}

@media screen and (-ms-view-state: snapped) {
.detailPage .win-contentTitle {
    font-size: 11pt;
    line-height: 15pt;
}

.detailPage header[role=banner] {
    display: -ms-grid;
    -ms-grid-columns: 44px 1fr;
    -ms-grid-rows: 1fr;
}

.detailPage section[role=main] .image {
    width: 260px;
    height: 140px;
}

.detailPage section[role=main] article {
     display: -ms-grid;
    -ms-grid-columns: 290px 1fr;
    -ms-grid-rows: 1fr;
    -ms-grid-row: 2;
    width: 290px;
    margin-left: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

}
