/* styles */
.detail 
{
    font-size: 9pt;
    margin-top: 6px;
}

/* two column layout of all the scenarios */
.twoColumnGridContainer-ControlList 
{
    display: -ms-grid;
    -ms-grid-columns: 300px auto;    
}

/*save space when the creen has less width */
@media screen and (max-width: 800px) 
{
    .twoColumnGridContainer-ControlList
    {
        -ms-grid-columns: 200px auto;
    }
}

.twoColumnGridContainer-ControlList > div
{
    margin: 10px 0px 20px 30px;
}

