

.win-rating.differentRatingColor .win-star.win-user.win-full 
{
    color: rgba(216, 172, 10, 1.0);
}


.win-rating.differentRatingColor .win-star.win-tentative.win-full
{
    color: rgba(247, 207, 72, 1.0);
}

.win-rating.bigRating .win-star 
{
    width: 34px;
    height: 34px;
    font-size: 34px;
}

.win-rating.heart .win-star:before
{
    content: "";/*hide the default star glyph*/
}

.win-rating.heart .win-star 
{
    background-repeat: no-repeat;
    background-origin: content-box; /*to allow putting padding between stars*/
    background-position: left;
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
}

.win-rating.heart .win-star.win-average.win-empty 
{
    background-image: url("../images/heart_rating_average_empty.svg");
}

.win-rating.heart .win-star.win-average.win-full 
{
    background-image: url("../images/heart_rating_average_full.svg");
}

.win-rating.heart .win-star.win-user.win-empty, .win-rating.heart .win-star.win-tentative.win-empty 
{
    background-image: url("../images/heart_rating_user_empty.svg");
}

.win-rating.heart .win-star.win-user.win-full, .win-rating.heart .win-star.win-tentative.win-full 
{
    background-image: url("../images/heart_rating_user_full.svg");
}

.win-rating.heart .win-star.win-disabled.win-empty 
{
    background-image: url("../images/heart_rating_disabled_empty.svg");
}

.win-rating.heart .win-star.win-disabled.win-full 
{
    background-image: url("../images/heart_rating_disabled_full.svg");
}

@media (-ms-high-contrast)
{
    .win-rating.heart .win-star:before, .win-rating.heart .win-star:after
    {
        content: "" !important; /*hide the default star glyph*/
    }

    .win-rating.heart .win-star.win-average.win-empty, .win-rating.heart .win-star.win-tentative.win-empty, .win-rating.heart .win-star.win-user.win-empty
    {
        background-image: url("../images/heart_rating_hc_empty.svg");
    }

    .win-rating.heart .win-star.win-average.win-full, .win-rating.heart .win-star.win-user.win-full
    {
        background-image: url("../images/heart_rating_hc_full.svg");
    }

    .win-rating.heart .win-star.win-tentative.win-full
    {
        background-image: url("../images/heart_rating_hc_tentative.svg");
    }
}

.win-rating.pepper .win-star:before 
{
    content:"";    
}


.win-rating.pepper .win-star {
    background-repeat: no-repeat;
    background-origin: content-box; 
    background-position: left;
    background-size: 100% 100%; /*svg is still sharp when stretched, so here set the background to fill yo the whole content box*/
    width: 49px;
    height: 43px;
}

    .win-rating.pepper .win-star.win-average.win-empty {
        background-image: url("../images/pepper_rating_average_empty.svg")
    }

    .win-rating.pepper .win-star.win-average.win-full {
        background-image: url("../images/pepper_rating_average_full.svg");
    }

    .win-rating.pepper .win-star.win-user.win-empty, .win-rating.pepper .win-star.win-tentative.win-empty {
        background-image: url("../images/pepper_rating_user_empty.svg");
    }

    .win-rating.pepper .win-star.win-user.win-full, .win-rating.pepper .win-star.win-tentative.win-full {
        background-image: url("../images/pepper_rating_user_full.svg");
    }

.win-rating.pepper .win-star.win-disabled.win-empty {
    background-image: url("../images/pepper_rating_disabled_empty.svg");
}

.win-rating.pepper .win-star.win-disabled.win-full {
    background-image: url("../images/pepper_rating_disabled_full.svg");
}

@media (-ms-high-contrast)
{
    .win-rating.pepper .win-star:before, .win-rating.pepper .win-star:after
    {
        content: "" !important; /*hide the default star glyph*/
    }

    .win-rating.pepper .win-star.win-average.win-empty, .win-rating.pepper .win-star.win-tentative.win-empty, .win-rating.pepper .win-star.win-user.win-empty
    {
        background-image: url("../images/pepper_rating_hc_empty.svg");
    }

    .win-rating.pepper .win-star.win-average.win-full, .win-rating.pepper .win-star.win-user.win-full
    {
        background-image: url("../images/pepper_rating_hc_full.svg");
    }

    .win-rating.pepper .win-star.win-tentative.win-full
    {
        background-image: url("../images/pepper_rating_hc_tentative.svg");
    }
}