<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="microsoft.build" Version="1.0.6.2" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" />
  <Properties>
    <DisplayName>BUILD</DisplayName>
    <Description>BUILD the future.</Description>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="en-US" />
  </Resources>
  <Applications>
    <Application Id="microsoft.build.App" StartPage="html\index.html">
      <VisualElements DisplayName="BUILD" Logo="images\logo.png" SmallLogo="images\smalllogo.png" ToastCapable="true" Description="BUILD the future" ForegroundText="light" BackgroundColor="#59CC0E">
        <SplashScreen Image="images\splashscreen.png" />
        <DefaultTile WideLogo="images\widelogo.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>