@model List<CSDeserializeJsonToEnumNetCore.Model.Employee>

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <style>
        table { border-collapse: collapse; margin-bottom: 10px; border: 3px solid #999 }
        table td { border: 1px solid #999 }
    </style>
</head>
<body>
    <h2>Add a employee</h2>

    <form method="post">
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" name="Name" /></td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>
                    <select name="Gender">
                        <option value="0">Male(with enum value)</option>
                        <option value="1">Female(with enum value)</option>
                        <option value="Male">Male(with enum text)</option>
                        <option value="Female">Female(with enum text)</option>
                    </select>
                </td>
            </tr>
        </table>
        <button id="submit">submit</button>
    </form>

    <h2>Server render data</h2>
    @foreach (var item in Model)
    {
        <table>
            <tr>
                <td>Name</td>
                <td>@item.Name</td>
            </tr>
            <tr>
                <td>Age</td>
                <td>@item.Gender</td>
            </tr>
            <tr>
                <td>Serialize json string</td>
                <td>@Newtonsoft.Json.JsonConvert.SerializeObject(item)</td>
            </tr>
        </table>
    }
</body>
</html>