/* Template for items in the ListView */
.myItem
{
    height: 64px;
    width: 400px;
    padding: 4px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis; 
}

/* CSS applied to the ListView */
#listView
{
    height: 240px;
    width: 480px;
    padding: 4px;
    border: solid 2px rgba(0, 0, 0, 0.13);
}
