body {
    touch-action:none;
}

#statusMessage {
    position: fixed;
    top: 0px;
    left: 0px;
    color: blue;
    font-family: 'Courier New';
    font-size: 12pt;
    height: 24px;
    padding: 0px;
    border: 0px;
}
