.page2 section {
    margin: auto 120px;
}

.phone .page2 .page-section {
    margin: auto 24px;
}

.phone .page2 .page-header .titlearea {
    -ms-grid-column: 3;
    margin-top: 37px;
    margin-left: -96px;
}

.phone .page2 .back-button {
    display: none;
}
