<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="Microsoft.SDKSamples.LockScreenApps.CPP" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="1.0.0.0" />
  <Properties>
    <DisplayName>LockScreenApps CPP</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>images\storeLogo-sdk.png</Logo>
    <Description>LockScreenApps CPP</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Applications>
    <Application Id="LockScreenAppsCPP.App" Executable="LockScreenApps.exe" EntryPoint="LockScreenAppsCPP.App">
      <VisualElements DisplayName="LockScreenApps CPP" Logo="images\squareTile-sdk.png" SmallLogo="images\smallTile-sdk.png" Description="LockScreenApps CPP" ForegroundText="light" BackgroundColor="#00b2f0">
        <LockScreen Notification="badgeAndTileText" BadgeLogo="images\badgelogo-sdk.png" />
        <DefaultTile ShowName="allLogos" WideLogo="images\tile-sdk.png" ShortName="LockScreen CPP" />
        <SplashScreen Image="images\splash-sdk.png" BackgroundColor="#00b2f0" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="pch.cpp">
          <BackgroundTasks>
            <Task Type="pushNotification" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>