/* Size Page to full size of parent container */
.currentPage {
    width: 100%;
    height: 100%;
}

/* Styles that are common across all view states */
.currentTemp {
    font-weight: 300;
    font-size: 106pt;
}

.currentDate, .currentHighLow, .currentFeelsLike, .currentChanceOfSnow, .currentHumidity, .currentWind {
    font-weight: 300;
}

.currentMap {
    overflow: auto;
    -ms-content-zooming: zoom;
}

    .currentMap > img {
        height: 100%;
        width: 100%;
        -ms-grid-column-align: start;
        -ms-grid-row-align: center;
    }

.currentContent {
    height: 100%;
}

    .currentContent > .win-template {
        height: 100%;
    }

.currentGrid {
    background-color: #6c8cbb;
    width: calc(100% - 160px);
    height: calc(100% - 120px);
    padding: 40px 40px 40px 40px;
    margin: 0 80px 40px 0px;
    display: -ms-grid;
    -ms-grid-columns: auto 1fr;
    -ms-grid-rows: 1fr;
}

.currentGridInfoPanel {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    display: -ms-grid;
    -ms-grid-columns: (auto)[2];
    -ms-grid-rows: (auto)[7];
    margin-right: 40px;
}

.currentGridMapPanel {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr;
}

.currentImg {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-row-align: center;
}

.currentTemp {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    -ms-grid-row-align: center;
}

.currentDate {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    -ms-grid-column-span: 2;
    margin-top: 20px;
}

.currentHighLow {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
    -ms-grid-column-span: 2;
}

.currentFeelsLike {
    -ms-grid-column: 1;
    -ms-grid-row: 4;
    -ms-grid-column-span: 2;
}

.currentChanceOfSnow {
    -ms-grid-column: 1;
    -ms-grid-row: 5;
    -ms-grid-column-span: 2;
}

.currentHumidity {
    -ms-grid-column: 1;
    -ms-grid-row: 6;
    -ms-grid-column-span: 2;
}

.currentWind {
    -ms-grid-column: 1;
    -ms-grid-row: 7;
    -ms-grid-column-span: 2;
}

.currentMap {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr;
}

/*Define template for the app in the portrait state i.e. when height is greater than width*/
@media (orientation: portrait) {
    .currentGrid {
        background-color: #6c8cbb;
        width: calc(100% - 160px);
        height: calc(100% - 120px);
        padding: 40px 40px 40px 40px;
        margin: 0 80px 40px 0px;
        display: -ms-grid;
        -ms-grid-columns: 1fr;
        -ms-grid-rows: auto 1fr;
    }

    .currentGridInfoPanel {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
        display: -ms-grid;
        -ms-grid-columns: (auto)[3];
        -ms-grid-rows: (auto)[7];
        height: auto;
    }

    .currentImg {
        -ms-grid-column: 1;
        -ms-grid-row-span: 7;
        -ms-grid-row: 1;
        -ms-grid-row-align: center;
    }

    .currentTemp {
        -ms-grid-column: 2;
        -ms-grid-row-span: 7;
        -ms-grid-row: 1;
        -ms-grid-row-align: center;
        margin-right: 20px;
        font-size: 45pt;
    }

    .currentDate {
        -ms-grid-column: 3;
        -ms-grid-row: 1;
        -ms-grid-column-span: 2;
        margin-top: 20px;
    }

    .currentHighLow {
        -ms-grid-column: 3;
        -ms-grid-row: 2;
        -ms-grid-column-span: 2;
    }

    .currentFeelsLike {
        -ms-grid-column: 3;
        -ms-grid-row: 3;
        -ms-grid-column-span: 2;
    }

    .currentChanceOfSnow {
        -ms-grid-column: 3;
        -ms-grid-row: 4;
        -ms-grid-column-span: 2;
    }

    .currentHumidity {
        -ms-grid-column: 3;
        -ms-grid-row: 5;
        -ms-grid-column-span: 2;
    }

    .currentWind {
        -ms-grid-column: 3;
        -ms-grid-row: 6;
        -ms-grid-column-span: 2;
    }

    .currentMap {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
        display: -ms-grid;
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 1fr;
    }

    .currentGridMapPanel {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
        display: -ms-grid;
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 1fr;
        margin: 40px 0px 0px 0px;
    }
}

/*Hide this content when width is less than 500px */
@media (max-width:499px) {
    .currentGrid {
        display: none;
    }
}
