<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="Microsoft.SDKSamples.SecondaryTiles.CPP" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="1.0.0.0" />
  <Properties>
    <DisplayName>SecondaryTiles C++ sample</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>Assets\storeLogo-sdk.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Applications>
    <Application Id="SecondaryTiles.App" Executable="$targetnametoken$.exe" EntryPoint="SecondaryTiles.App">
      <m2:VisualElements DisplayName="SecondaryTiles C++ sample" Description="SecondaryTiles C++ sample" ForegroundText="light" BackgroundColor="#00b2f0" Square150x150Logo="Assets\squaretile-sdk.png" Square30x30Logo="Assets\smalltile-Windows-sdk.png">
        <m2:DefaultTile ShortName="SecondaryTile C++" Square310x310Logo="Assets\square310x310Tile-sdk.png" Wide310x150Logo="Assets\Wide310x150Tile-sdk.png" Square70x70Logo="Assets\Square70x70Tile-sdk.png">
           <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\splash-Windows-sdk.png" BackgroundColor="#00b2f0" />
        <m2:ApplicationView MinWidth="width320" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>
