/* styles */
/* Overal page layout */
#pageGrid {
    display: -ms-grid;
    -ms-grid-columns: (auto)[2];
    -ms-grid-rows: auto;
}

#steps {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}

.step {
    margin-bottom: 20px;
}

#colorRulesTemplate {
    display: none;
}

/* Grid for RGB channels */
#colorInputGrid {
    display: -ms-grid;
    -ms-grid-columns: (auto)[8];
    -ms-grid-rows: (auto)[5];
    margin-right: 40px;
}

    #colorInputGrid > * {
        display: block;
    }

.colorButtons {
    -ms-grid-column: 1;
    -ms-grid-row: 5;
    -ms-grid-column-span: 8;
    -ms-grid-column-align: end;
    margin-top: 10px;
}

#cssRulesOutput {
    width: 460px;
    height: 300px;
    white-space: pre;
    overflow: auto;
}

.colorSwatch {
    width: 40px;
    height: 40px;
    background-color: #000;
    -ms-grid-column-align: center;
    -ms-grid-row-align: center;
    margin: 5px;
    border: 1px solid #333;
}

#elements {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
}


.gridItem {
    -ms-grid-column-align: end;
    -ms-grid-row-align: center;
}

.channel {
    margin: 5px;
}

.channelTextbox {
    max-width: 40px;
}

/* Color label column */
#primaryColor {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}

#primaryTextColor {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
}

#secondaryColor {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
}

#secondaryTextColor {
    -ms-grid-column: 1;
    -ms-grid-row: 4;
}

/* Color swatch column */
#primaryColorSwatch {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
}

#primaryTextColorSwatch {
    -ms-grid-column: 2;
    -ms-grid-row: 2;
}

#secondaryColorSwatch {
    -ms-grid-column: 2;
    -ms-grid-row: 3;
}

#secondaryTextColorSwatch {
    -ms-grid-column: 2;
    -ms-grid-row: 4;
}

/* Red Channel Column */
#pcRLabel {
    -ms-grid-column: 3;
    -ms-grid-row: 1;
}

#ptcRLabel {
    -ms-grid-column: 3;
    -ms-grid-row: 2;
}

#scRLabel {
    -ms-grid-column: 3;
    -ms-grid-row: 3;
}

#stcRLabel {
    -ms-grid-column: 3;
    -ms-grid-row: 4;
}

#pcR {
    -ms-grid-column: 4;
    -ms-grid-row: 1;
}

#ptcR {
    -ms-grid-column: 4;
    -ms-grid-row: 2;
}

#scR {
    -ms-grid-column: 4;
    -ms-grid-row: 3;
}

#stcR {
    -ms-grid-column: 4;
    -ms-grid-row: 4;
}

/* Green Channel Column */
#pcGLabel {
    -ms-grid-column: 5;
    -ms-grid-row: 1;
}

#ptcGLabel {
    -ms-grid-column: 5;
    -ms-grid-row: 2;
}

#scGLabel {
    -ms-grid-column: 5;
    -ms-grid-row: 3;
}

#stcGLabel {
    -ms-grid-column: 5;
    -ms-grid-row: 4;
}

#pcG {
    -ms-grid-column: 6;
    -ms-grid-row: 1;
}

#ptcG {
    -ms-grid-column: 6;
    -ms-grid-row: 2;
}

#scG {
    -ms-grid-column: 6;
    -ms-grid-row: 3;
}

#stcG {
    -ms-grid-column: 6;
    -ms-grid-row: 4;
}

/* Blue Channel Column */
#pcBLabel {
    -ms-grid-column: 7;
    -ms-grid-row: 1;
}

#ptcBLabel {
    -ms-grid-column: 7;
    -ms-grid-row: 2;
}

#scBLabel {
    -ms-grid-column: 7;
    -ms-grid-row: 3;
}

#stcBLabel {
    -ms-grid-column: 7;
    -ms-grid-row: 4;
}

#pcB {
    -ms-grid-column: 8;
    -ms-grid-row: 1;
}

#ptcB {
    -ms-grid-column: 8;
    -ms-grid-row: 2;
}

#scB {
    -ms-grid-column: 8;
    -ms-grid-row: 3;
}

#stcB {
    -ms-grid-column: 8;
    -ms-grid-row: 4;
}
