<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="Microsoft.SDKSamples.AssociationLaunching.CPP" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="1.0.0.0" />
  <Properties>
    <DisplayName>AssociationLaunching C++ sample</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>storeLogo-sdk.png</Logo>
    <Description>AssociationLaunching</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Applications>
    <Application Id="AssociationLaunching.App" Executable="$targetnametoken$.exe" EntryPoint="AssociationLaunching.App">
      <VisualElements DisplayName="AssociationLaunching C++ sample" Logo="squareTile-sdk.png" SmallLogo="smallTile-sdk.png" Description="AssociationLaunching C++ sample" ForegroundText="light" BackgroundColor="#00b2f0">
        <DefaultTile ShowName="allLogos" ShortName="Launching C++" />
        <SplashScreen Image="splash-sdk.png" BackgroundColor="#00b2f0" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name=".alsdkcpp">
            <!-- This is not the file used for the icon. The actual files are Icon.targetsize-*.png (16, 32, 48, and 256) which correspond to the various supported resolutions. This ensures optimal rendering of the icon. -->
            <Logo>Icon.png</Logo>
            <SupportedFileTypes>
              <FileType>.alsdkcpp</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
        <Extension Category="windows.protocol">
          <Protocol Name="alsdkcpp">
            <!-- This is not the file used for the icon. The actual files are Icon.targetsize-*.png (16, 32, 48, and 256) which correspond to the various supported resolutions. This ensures optimal rendering of the icon. -->
            <Logo>Icon.png</Logo>
          </Protocol>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>