body { 
    font-family: Verdana;
    font-size: 10pt !important;
}
h1 { 
    display: inline;
    font-size: large;
}
h2 {
    font-size: medium;
}
h3 {
    font-size: small;
}
a { color: #0D76C2; text-decoration: none; }
a > img { border:none; }
.scriptcode {
    position: relative;
    padding: 8px 8px 8px 8px;
    background: #FFFFFF;
    font-size: 12px;
    line-height: 125%;
    font-weight:normal;
}
.scriptcode pre 
{ 
    white-space: pre-wrap !important;       /* css-3 */
    word-wrap: break-word !important;       /* Internet Explorer 5.5+ */
    margin:0 0 10px 0 !important;
    padding: 10px;
    border-top: solid 2px #D0D2D2;
    border-bottom: solid 2px #D0D2D2;
    border-left: solid 1px #D0D2D2;
    border-right: solid 1px #D0D2D2;
}
            
.scriptcode .title { 
    color:#E66A38;
    font-size: 12px;
    font-weight:bold;
    margin: 0;
    min-height: 23px;
}
.scriptcode .title > span:first-child {
    border-left: solid 1px #D0D2D2;
}
.scriptcode .title > span {
    padding: 4px 8px 4px 8px;
    display: inline-block;
    border-top: 1px solid #D0D2D2;
    border-right: 1px solid #D0D2D2;
    border-collapse: collapse;
    text-align: center;
    background: white;
}
.scriptcode .title > span.otherTab {
    color: #1364C4;
    background: #EFF5FF;
    cursor: pointer;
}

.scriptcode .hidden {
    display: none !important;
    visibility: hidden !important;
}

.scriptcode  .copyCode {
    padding: 8px 2px 0 2px !important;
    margin-right: 15px;
    position: absolute !important;
    right: 0 !important;
    top: 17px;
    display:block !important;
    background: #FFFFFF;
}
.scriptcode .pluginLinkHolder {
    display: none;
}
.scriptcode .pluginEditHolderLink {
    display: none;
}

.Opera wbr
{
    display: inline-block;
}

.IE9 wbr:after
{
content: "\00200B"; 
}
