input[type="radio"].differentRadioColor::-ms-check
{
    color: green;
}

/* reset default styles */
input[type="radio"].thumbUpDown, input[type="radio"].thumbUpDown::-ms-check, input[type="radio"].thumbUpDown:hover::-ms-check, input[type="radio"].thumbUpDown:active::-ms-check, input[type="radio"].thumbUpDown:hover:active::-ms-check, input[type="radio"].thumbUpDown:hover:active:disabled::-ms-check
{
    color: transparent;
    border: 0px;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

input[type="radio"].thumbUpDown
{
    width: 60px;
    height: 60px;
    border: 0px;
    border-radius: 0px;
    margin: 0px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

input[type="radio"].thumbUpDown:hover
{
    opacity: 0.8;
}

input[type="radio"].thumbUp
{
    background-image: url("../images/thumb.svg");
}


input[type="radio"].thumbUp:checked
{
    background-image: url("../images/thumb_filled.svg");
}


input[type="radio"].thumbDown
{
    background-image: url("../images/thumbDown.svg");
}


input[type="radio"].thumbDown:checked
{
    background-image: url("../images/thumbDown_filled.svg");
}
