label.verticalSliderLabel
{
    text-align: center;
    font: normal normal normal 9pt/15pt "Segoe UI";
    display: inline-block;
}

.bar-left, .bar-right, .bar-both
{
    background-origin: border-box;
}


/* for the left most slider that only has bars on the right side */
.bar-left
{
    background: transparent url('../images/eqBackground.svg') repeat-y scroll top right;
    background-size: 50px 5px;
}

/* for the right most slider that only has bars on the left side */
.bar-right
{
    background: transparent url('../images/eqBackground.svg') repeat-y scroll top left;
    background-size: 50px 5px;
}

/* for sliders in between that have bars on both sides */
.bar-both
{
    background: url('../images/eqBackground.svg'), url('../images/eqBackground.svg');
    background-position: top left, top right;
    background-repeat: repeat-y, repeat-y;
    background-size: 50px 5px, 50px 5px;
}

.ui-light .bar-left
{
    background: transparent url('../images/eqBackground_Light.svg') repeat-y scroll top right;
    background-size: 50px 5px;
}

.ui-light .bar-right
{
    background: transparent url('../images/eqBackground_Light.svg') repeat-y scroll top left;
    background-size: 50px 5px;
}

.ui-light .bar-both
{
    background: url('../images/eqBackground_Light.svg'), url('../images/eqBackground_Light.svg');
    background-position: top left, top right;
    background-repeat: repeat-y, repeat-y;
    background-size: 50px 5px, 50px 5px;
}

input[type="range"].win-vertical.eq
{
    margin: 0px 0px 4px 0px;
    padding: 0px 50px 0px 50px;
    
    /* In order to support multi-touch, sliders in a pannable or zoomable region need to set -ms-touch-action: none. */
    /* Otherwise, by default the parent element takes the second finger's input as panning/zooming and the sliders stop moving. */
    -ms-touch-action: none;
}

input[type="range"].win-vertical.eq::-ms-track
{
    background-color: transparent;
    color: transparent;
    height: 191px;
}

input[type="range"].win-vertical.eq::-ms-thumb
{
    border-radius: 100%;
}

input[type="range"].eq::-ms-fill-upper
{
    border-radius: 11px 11px 0px 0px;
}

input[type="range"].eq::-ms-fill-lower
{
    border-radius: 0px 0px 11px 11px;
}

/* hide the value tooltip */
input[type="range"].eq::-ms-tooltip
{
    display: none;
}