#playerContainer
{
    display: inline-block;
}

#playerdiv
{
    background-color: Black;
    border-radius: 20px;
    margin: 30px 0px 30px 60px;
    padding: 30px 50px 30px 50px;
    box-shadow: 0 4px 20px #222222;
    display: -ms-grid;
    -ms-grid-columns: auto;
    -ms-grid-rows: auto;
    -ms-writing-mode: lr-tb;
}

#video
{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

#player
{
    width: 640px;
    height: 360px;
    vertical-align: bottom; /* to remove the strut underneath the element that pushes the parent div unnecessarily taller. */
}

#playbuttondiv
{
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    display: -ms-flexbox;
    -ms-flex-align: center;
    -ms-flex-pack: center;
}

#playbutton
{
    font-family: "Segoe UI Symbol";
    font-size: 50px;
    width: 100px;
    height: 100px;
    line-height: 96px; /* line height should be the same as the height of content box, so that font glyph can be centered correctly */
    vertical-align: middle;
    text-align: center;
    min-width: 0px;
    padding: 0px;
    color: white;
    background-color: rgba(0, 0, 0, 0.53);
    background-origin: content-box;
    border: 2px solid white;
    border-radius: 100%;
}

#playbutton:active
{
    background-color: White;
    border: 0px;
    width: 104px;
    height: 104px;
    color: Black;
}

#playbutton
{
    margin: 0px 20px 16px 20px;
    z-index:1;
}

#playbutton.paused:before
{
    content: "\E102"; /* play glyph */
}

#playbutton.playing:before
{
    content: "\E103"; /* pause glyph */
}

#seekbardiv
{
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    display: -ms-flexbox;
    -ms-flex-align: stretch; /* horizontally stretch the seekbar to fill up the width */
    -ms-flex-direction: column;
    -ms-flex-pack: end;
}

#seekbar
{
    width: auto;    /* let flexbox container decide the width */
    height: 84px;
    margin: 0px;
    padding: 0px 20px 0px 20px;
    background-color: rgba(0, 0, 0, 0.53);
}

#seekbar::-ms-tooltip
{
    visibility: hidden;
}

#seekbar::-ms-track
{
    background-color: transparent;
    border-width: 0px;
    padding: 23px 0px 18px 0px;
    margin: 0px;
    color: transparent;
    height: 43px;
}

#seekbar::-ms-fill-lower
{
    background-color: transparent;
    height: 40px;
    border: 0px;
    margin-left: 17px;
    border-top: 3px solid white;
}

#seekbar::-ms-fill-upper
{
    background-color: transparent;
    height: 40px;
    border: 0px;
    margin-right: 17px;
    border-top: 3px solid rgba(255, 255, 255, 0.65);
}

#seekbar::-ms-thumb
{
    border: 2px solid white;
    background-color: rgb(33,33,33);
    width: 31px;
    height: 31px;
    border-radius: 100%;
    margin: 14px 0px 0px 0px;
}

#videoInfo, #videoPlaybackError
{
    margin-left: 80px;
}
