<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="AC877531-AC76-45F2-835B-592BDA051973" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="AC877531-AC76-45F2-835B-592BDA051973" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>DX/XAML 1st person game C++ sample</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>Assets\storeLogo-sdk.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Simple3DGameXaml.App">
      <m3:VisualElements DisplayName="DX/XAML 1st person game C++ sample" Square150x150Logo="Assets\squareTile-sdk.png" Square44x44Logo="Assets\smallTile-phone-sdk.png" Description="DirectX/XAML first-person game C++ sample" ForegroundText="light" BackgroundColor="#00b2f0">
        <m3:DefaultTile Wide310x150Logo="Assets\tile-sdk.png" Square71x71Logo="Assets\mediumTile-sdk.png">
          <m3:ShowNameOnTiles>
            <m3:ShowOn Tile="square150x150Logo" />
            <m3:ShowOn Tile="wide310x150Logo" />
          </m3:ShowNameOnTiles>
        </m3:DefaultTile>
        <m3:ApplicationView MinWidth="width320" />
        <!--Used in XAML Designer. DO NOT REMOVE-->
        <m3:SplashScreen BackgroundColor="#00b2f0" Image="Assets\splash-phone-sdk.png" />
      </m3:VisualElements>
    </Application>
  </Applications>
</Package>