/* Scenario styles */
/* Color customization */
/* Set the separator color */
.win-appbar.customColor hr.win-command {
    background-color: rgb(90, 200, 90);
}
/* Set the background color */
.win-appbar.customColor {
    /* Set the AppBar background color */
    background-color: rgb(20, 20, 90);
}
.win-appbar.customColor button:hover:active .win-commandimage,
.win-appbar.customColor button:-ms-keyboard-active .win-commandimage,
.win-appbar.customColor button[aria-checked=true] .win-commandimage {
    /* Set the pressed state command icon to the same color as the AppBar background */
    color: rgb(20, 20, 90);
}
/* Set the foreground color */
.win-appbar.customColor .win-label {
    color: rgb(90, 200, 90);
}
.win-appbar.customColor button.win-command:focus {
    border-color: rgb(90, 200, 90);
}
.win-appbar.customColor button.win-command.win-hidefocus:focus {
    border-color: transparent;
}
.win-appbar.customColor button:disabled .win-label,
.win-appbar.customColor button:disabled:active .win-label,
.win-appbar.customColor button:disabled:-ms-keyboard-active .win-label,
.win-appbar.customColor button:disabled:active:hover .win-label {
    color: rgba(90, 200, 90, 0.4);
}
.win-appbar.customColor .win-commandimage {
    color: rgb(90, 200, 90);
}
.win-appbar.customColor button:disabled .win-commandimage,
.win-appbar.customColor button:disabled:active .win-commandimage,
.win-appbar.customColor button:-ms-keyboard-active:disabled .win-commandimage,
.win-appbar.customColor button:hover:active:disabled .win-commandimage {
    color: rgba(90, 200, 90, 0.4);
}
.win-appbar.customColor button[aria-checked=true]:hover .win-commandimage {
    color: rgb(20, 20, 90);
}
.win-appbar.customColor button[aria-checked=true]:-ms-keyboard-active .win-commandimage,
.win-appbar.customColor button[aria-checked=true]:hover:active .win-commandimage {
    color: rgb(90, 200, 90);
} 
.win-appbar.customColor .win-commandring {
   background-color: transparent;
   border-color: rgb(90, 200, 90);
}
.win-appbar.customColor button:active .win-commandring {
    border-color: rgb(90, 200, 90);
}
.win-appbar.customColor button:hover .win-commandring {
    background-color: rgba(90, 200, 90, 0.13);
    border-color: rgb(90, 200, 90);
}
.win-appbar.customColor button:-ms-keyboard-active .win-commandring,
.win-appbar.customColor button:hover:active .win-commandring {
    background-color: rgb(90, 200, 90);
    border-color: rgb(90, 200, 90);
}
.win-appbar.customColor button:disabled .win-commandring, 
.win-appbar.customColor button:disabled:active .win-commandring, 
.win-appbar.customColor button:disabled:-ms-keyboard-active .win-commandring,
.win-appbar.customColor button:disabled:hover:active .win-commandring {
    background-color: transparent;
    border-color: rgba(90, 200, 90, 0.4);
}
.win-appbar.customColor button[aria-checked=true] .win-commandring, 
.win-appbar.customColor button[aria-checked=true]:active .win-commandring {
    background-color: rgb(90, 200, 90);
    border-color: rgb(90, 200, 90);
}
.win-appbar.customColor button[aria-checked=true]:hover .win-commandring {
    background-color: rgb(78, 174, 78);
    border-color: rgb(78, 174, 78);
}
.win-appbar.customColor button[aria-checked=true]:hover:active .win-commandring,
.win-appbar.customColor button[aria-checked=true]:-ms-keyboard-active .win-commandring {
    background-color: transparent;
    border-color: rgb(90, 200, 90);
}
.win-appbar.customColor button[aria-checked=true]:disabled .win-commandring, 
.win-appbar.customColor button[aria-checked=true]:disabled:-ms-keyboard-active .win-commandring,
.win-appbar.customColor button[aria-checked=true]:disabled:hover:active .win-commandring {
    background-color: rgb(90, 200, 90);
    border-color: rgba(90, 200, 90, 0.4);
}
