/* styles */

/* Styling the legend for the Blood Pressure chart */
.legend {
    text-align: center;
}

.legendItem {
    margin-left: 30px;
}

.legendColor {
    display: inline-block;
    height: 20px;
    width: 20px;
}

.legendText {
    font-size: 18px;
}

#colorSystolic {
    background-color: red;
}

#colorMeanArterialPressure {
    background-color: #DFD;
}

#colorDiastolic {
    background-color: green;
}