.objectzoom-main-container {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    -ms-grid-rows: 10px 1fr 90% 1fr 10px;
    -ms-grid-columns: 20px 1fr 100% 1fr 20px;
}

#objectzoom-parent {
    display: table;
    height: 100%;
    width: 100%;
}

#zoomable-align {
    display: table-cell;
    vertical-align: middle;
    overflow: visible
}

#objectzoom-zoomable {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
