.pagezoom-view {
    position:absolute;
    height:100%;
    width:100%;
    overflow-x:auto;
    overflow-y:hidden;
}

.pagezoom-canvas {
    position:relative;
    overflow:hidden;
    display:-ms-flexbox;
    -ms-flex-direction:row;
    -ms-flex-align:center;
    -ms-flex-wrap:nowrap;
    height:100%;
}

.pagezoom-pagecontainer {
    height:100%;
}

.pagezoom-previewcontainer {
    height: 420px;
}