#grid {
    width:100%;
    height:100%;
    display: -ms-grid;
    -ms-grid-columns: 1in 1fr 1in;
    -ms-grid-rows: 0.5in 120px 120px 1fr 0.75in;
}

#top {
     -ms-grid-column: 2;
     -ms-grid-row: 2;
}

#middle {
    -ms-grid-column: 2;
    -ms-grid-row: 3;
    font-size:large;
}

#bottom {
    -ms-grid-column: 2;
    -ms-grid-row:4;
}

#page-title {
     font-size:250%;
     color:#3cf;
}

#preview-title {
    font-size:24px;
    margin: 10px 10px;
    padding: 15px 15px;
    width: 240px;
    height: 380px;
    background-color: rgba(0,0,0,0.5);
    color:#3cf;
    text-align: center;
}

#preview-title:hover {
    outline: rgba(255, 255, 255, 0.3) solid 3px;
    background-color: rgba(255, 255, 255, 0.1);
}

#preview-container {
    width:100%;
    height:100%;
    display:-ms-flexbox;
    -ms-flex-direction:row;
    -ms-flex-align:center;
}

.preview-title {
    font-size:24px;
    margin: 10px 10px;
    padding: 15px 15px;
    width: 240px;
    height: 380px;
    background-color: rgba(0,0,0,0.5);
    color:#3cf;
}

.preview-title:hover {
    outline: rgba(255, 255, 255, 0.3) solid 3px;
    background-color: rgba(255, 255, 255, 0.1);
}

.preview-container {
    width:100%;
    height:100%;
    display:-ms-flexbox;
    -ms-flex-direction:row;
    -ms-flex-align:center;
}

#description {
    column-count:1;
}

.shaded {
    opacity: 1;
    width:100%;
    height:100%;

}

#playarea {
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,.5);
    overflow: hidden;
}

.main-container {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    -ms-grid-rows: 10px 1fr auto 1fr 10px;
    -ms-grid-columns: 20px 1fr 100% 1fr 20px;
}

.container-body {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    -ms-grid-column-align: center;
}

.mouse-tip {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2; 
    -ms-grid-row-align: end;
}

.header {
    font-size:x-large;
    color:#f90;
}

/* Styles for links flyout */
.link-item {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.link-item:hover {
   background-color: rgba(0,0,0,0.2);
}

.win-flyout {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
}

.win-flyout a {
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.win-flyout a:hover {
    color: rgb(0, 0, 0);
}