#pressandhold-tooltip, #pressandhold-infotip {
    margin-top:0.25in;
    display:-ms-grid;
    -ms-grid-rows:20px 50px auto 1fr 20px;
    -ms-grid-columns:20px 1fr 20px;
}

.pressandhold-container {
    height:100%;
    width: 100%;
    display: -ms-grid;
    -ms-grid-columns: 20px 1fr minmax(min-content, 600px) minmax(min-content, 600px) 1fr 20px;
    -ms-grid-rows: 10px 1fr auto 1fr 10px;
}

#pressandhold-tooltip {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

#pressandhold-infotip {
    -ms-grid-column: 4;
    -ms-grid-row: 3;
}

.tooltip-title {
    -ms-grid-row:2;
    -ms-grid-column:2;
    font-size:150%;
}

.tooltip-description {
    -ms-grid-row:3;
    -ms-grid-column:2;
}
.tooltip-button {
    -ms-grid-row:4;
    -ms-grid-column:2;
    text-align:center;
    margin-top: 20px;
}

#tooltip-infotip {
    background-image:url('/images/infotip.png');
    height:144px;
    width: 194px;
}