.rotate-container {
     width: 100%;
     height: 100%;
     display: -ms-grid;
     -ms-grid-rows: 10px 1fr auto 1fr 10px;
     -ms-grid-columns: 20px 1fr auto auto 1fr 20px;
     -ms-touch-action: none;
}

#rotate-notranslation, #rotate-translation {
    width: 480px;
    height: 320px;
    -ms-grid-row: 3;
    margin: 20px;
    border: solid;
    border-color: rgba(255, 255, 255, .3);
    display: -ms-grid;
    -ms-grid-rows: 20px 40px 1fr 20px;
    -ms-grid-columns: 20px 1fr 20px;
    overflow: hidden;
}

#rotate-notranslation {
    -ms-grid-column: 3;
}

#rotate-translation {
    -ms-grid-column: 4;
}

.rotate-title {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
}

.rotateable-container {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    position: relative;
}

#rotateableonly-parent {
    position: absolute;
    top: 20px;
    left: 120px;
}

#rotatetranslateable-parent {
    position: absolute;
}

#rotateableonly {
    width: 200px;
    height: 200px;
}

#rotatetranslateable {
    width: 100%;
    height: 100%;
}
