#tap-description {
    -ms-grid-column: 2;
    -ms-grid-row: 3;
}

#tap-container {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    -ms-grid-rows: 10px 1fr auto 1fr 10px;
    -ms-grid-columns: 20px 1fr 580px 20px;
}

#tap-demo {
    -ms-grid-column: 3;
    -ms-grid-row: 3;
    -ms-grid-column-align: center;
    -ms-grid-row-align: stretch;
    display:-ms-grid;
    -ms-grid-rows:300px auto;
    -ms-grid-columns:1fr 1fr 1fr;
}

#tap-cram, #tap-min, #tap-accurate {
    background-color: #09f;
    margin:10px 10px;
    padding:10px 10px;
    text-align:center;
}

#tap-cram {
    -ms-grid-row:2;
    -ms-grid-column:1;
}

#tap-min {
    -ms-grid-row:2;
    -ms-grid-column:2;
}

#tap-accurate {
    -ms-grid-row:2;
    -ms-grid-column:3;
}

#tap-grid-container {
    -ms-grid-column-span:3;
    -ms-grid-row:1;
    -ms-grid-column:1;
    display:-ms-grid;
    -ms-grid-rows:1fr auto auto 1fr;
    -ms-grid-columns: 1fr auto auto 1fr;
}

#tap-grid {
    -ms-grid-column:2;
    -ms-grid-column-span:2;
    -ms-grid-row:2;
    -ms-grid-row-span:2;

    display:-ms-grid;
    -ms-grid-rows:1fr 1fr 1fr;
    -ms-grid-columns:1fr 1fr 1fr;

}

.tap-button {
    margin:1mm 1mm;
    width:5mm;
    height:5mm;
    background-color:#09f;
}

#tap-button1 {
    -ms-grid-row:1;
    -ms-grid-column:1;
}

#tap-button2 {
    -ms-grid-row:1;
    -ms-grid-column:2;
}

#tap-button3 {
    -ms-grid-row:1;
    -ms-grid-column:3;
}

#tap-button4 {
    -ms-grid-row:2;
    -ms-grid-column:1;
}

#tap-button5 {
    -ms-grid-row:2;
    -ms-grid-column:2;
}

#tap-button6 {
    -ms-grid-row:2;
    -ms-grid-column:3;
}

#tap-button7 {
    -ms-grid-row:3;
    -ms-grid-column:1;
}

#tap-button8 {
    -ms-grid-row:3;
    -ms-grid-column:2;
}

#tap-button9 {
    -ms-grid-row:3;
    -ms-grid-column:3;
}