.welcome-container {
    height: 100%;
    width: 100%;
    display: -ms-grid;
    -ms-grid-columns: 20px 1fr minmax(min-content, 700px) auto 1fr 20px;
    -ms-grid-rows: 10px 1fr auto 1fr 10px;
}

.welcome-container-body {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    -ms-grid-column-align: center;
    -ms-grid-row-align: center;
    font-size: 120%; 
    padding: 10px;
}

.welcome-container-image {
    -ms-grid-row: 3;
    -ms-grid-column: 4;
    -ms-grid-column-align: center;
    -ms-grid-row-align: center;
    padding: 10px;
}