#listView4 {
    width: calc(100%-20px);
    margin: 0 20px 0 0;
    height: 400px;
    border: 1px solid #222222;
    background-color: #ffffff;
}

.mediumListIconTextItem {
    height: 70px;
    padding: 5px;
    overflow: hidden;
    display: -ms-grid;
    width: 282px;
}

    .mediumListIconTextItem img.mediumListIconTextItem-Image {
        width: 60px;
        height: 60px;
        margin: 5px;
        -ms-grid-column: 1;
    }

    .mediumListIconTextItem .mediumListIconTextItem-Detail {
        margin: 5px;
        -ms-grid-column: 2;
    }

.groupHeader {
    width: 200px;
    overflow: hidden;
    height: 40px;
    margin:  0 10px;
}
