/* Place custom styles below */
.errorClass {
    color:#ffffff;
    background-color:#ff0000;
    margin-right:10px;
}
.clicker {
    cursor:pointer;
    padding-bottom:10px;
    padding-right:10px;
    padding-top:10px;
    padding-left:0px;
    color:crimson;
    font-family:"Segoe UI Light", "Segoe UI", sans-serif; 
    font-weight:lighter;
    font-size:18px;
}
.interviewerClicker {
    cursor:pointer;

    margin-left:15px;
    margin-bottom:2px;
    color:#0072C6;
    font-family:"Segoe UI Light", "Segoe UI", sans-serif; 
    font-weight:lighter;
    font-size:18px;
}
.listHeading {
    color:#0072C6;
    font-size:24px;
    font-family:"Segoe UI Light", "Segoe UI", sans-serif; 
    font-weight:lighter;
}
.formLabel {
    width:170px;
    float:left;
    margin-right:5px;
    margin-left:20px;
    color:black;
    font-size:16px;
    font-family:"Segoe UI", sans-serif; 
}
.interviewListLabel {
    width:150px;
    margin-right:5px;
    margin-left:20px;
    color:#FF4500;
    font-size:22px;
    font-family:"Segoe UI Light", "Segoe UI", sans-serif; 
}
.button {
    color:black;
    background-color:lightgray;
      font-size:18px;
    font-family:"Segoe UI Light", "Segoe UI", sans-serif;
    font-weight:lighter;
    cursor:pointer;
    height:30px;
    width:75px;
    float:right;
    margin:5px;
    border:2px solid gray;
    text-align:center;
    vertical-align:middle;
}
.dialogButton {
    color:black;
    background-color:#BFEFFF;
    font-size:18px;
    font-family:"Segoe UI Light", "Segoe UI", sans-serif;
    font-weight:lighter;
    cursor:pointer;
    height:30px;
    width:75px;
    float:right;
    border:1px solid #0072C6;
    margin:5px;
    margin-top:10px;
    text-align:center;
    vertical-align:middle;
}
.item {
    cursor:pointer;
    color:#09356A;
    font-family:"Segoe UI", sans-serif; 
    font-size:14px;
    margin-left:20px;
}
.interviewItem {
    cursor:pointer;
    color:#09356A;
    font-family:"Segoe UI", sans-serif; 
    font-size:16px;
    margin-left:40px;
    width:260px;
}
.formTitle {
    width:600px;
    float:right;
    text-align:right;
    margin-right:60px;
    margin-bottom:20px;
    margin-top:0px;
    color:black;
    font-size:36px;
    font-family:"Segoe UI Light", "Segoe UI", sans-serif; 
    font-weight:lighter;
}
.deleteButton {
    cursor:pointer;
    padding-bottom:5px;
    padding-top:5px;
    padding-left:5px;
    padding-right:5px;
    margin-right:5px;
    color:red;
    background-color:transparent; 
    font-size:10px;
}
.printBar {
    width:500px;
    background-color:#000000;
    color:#ffffff;
    font-size:14px;
    font-family:"Segoe UI", sans-serif;
    float:none;
    clear:both;
    padding:5px;
    cursor:pointer;
    float:right;
    text-align:right;
}
.printTitle {
    width:500px;
    float:right;
    text-align:right;
    margin-right:0px;
    margin-bottom:10px;
    margin-top:0px;
    color:#AFAFAF;
    font-size:36px;
    font-family:"Segoe UI Light", "Segoe UI", sans-serif; 
    font-weight:lighter;
}

.printSubtitle {
    width:500px;
    float:left;
    text-align:left;
    margin-left:20px;
    margin-bottom:10px;
    margin-top:0px;
    color:#000000;
    font-size:24px;
    font-family:"Segoe UI Light", "Segoe UI", sans-serif; 
    font-weight:lighter;
}
.printLogo {
    width:250px;
    height:50px;
    float:right;
    text-align:right;
    margin-left:20px;
    margin-bottom:5px;
    margin-top:0px;
    color:orange;
    font-size:24px;
    font-family:"Segoe UI Light", "Segoe UI", sans-serif; 
    font-weight:lighter;
    background-image:url(../Images/Logo.png);
    background-position:left;
    background-repeat:no-repeat;
}

.printBody {
    width:450px;
    float:left;
    text-align:left;
    margin-left:20px;
    margin-bottom:10px;
    margin-top:0px;
    color:#000000;
    font-size:14px;
    font-family:"Segoe UI", sans-serif;
}

@media print  {
    .printBar {
        display:none;
    }
}