/* Template for headers in the zoomed in ListView */
.simpleHeaderItem
{
    height: 50px;
    padding: 8px;
}   

/* Template for items in the zoomed in ListView */  
.mediumListIconTextItem
{
    width: 282px;
    height: 70px;
    padding: 5px;
    overflow: hidden;
    display: -ms-grid;
}

    .mediumListIconTextItem img.mediumListIconTextItem-Image 
    {
        width: 60px;
        height: 60px;
        margin: 5px;
        -ms-grid-column: 1;
    }

    .mediumListIconTextItem .mediumListIconTextItem-Detail
    {
        margin: 5px;
        -ms-grid-column: 2;
    }
    
/* Template for items in the zoomed out ListView */
.semanticZoomItem
{
    color: white;
    width: 140px;
    height: 52px;
    overflow: hidden;
    padding: 9px 15px;
    white-space: nowrap;
    display: -ms-flexbox;
    -ms-flex-pack: end;
    -ms-flex-direction: column;
    background-color: rgb(70,23,180);
}
    
/* CSS applied to the SemanticZoom and inherited by both ListViews */
#semanticZoomDiv 
{
    width: 600px;
    height: 300px;
    border: solid 2px rgba(0,0,0,0.13);
}

#semanticZoomDiv .win-container
{
    margin: 5px 10px;
}