#include <windows.h>

#include <ntverp.h>

#define    VER_FILETYPE                VFT_DLL
#define    VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "WDF 1394 Virtual Device Driver Framework Version"
#define VER_INTERNALNAME_STR        "KMDF1394VDEV.SYS"
#define VER_ORIGINALFILENAME_STR    "KMDF1394VDEV.SYS"

#include "common.ver"
