.label {
    margin-right:10px
}
.divLeft {
    width:200px; 
    position:absolute; 
    text-align:right
}
.divRight {
   margin-left:200px
}
.divRow2 {
   width:400px;
   margin-top:5px
}
select {
    min-width:150px
}
button{
    margin-left:200px
}
b{
    margin-right:10px
}
.reportContainer {
    height:500px;
    margin-top:5px;
}