#news {
    background: #3d3d3d url('../../../images/LargeRSSLogo-background-white.png') bottom left no-repeat !important;
    background-size: cover;
}

/* This selector is used to prevent ui-dark/light.css from overwriting changes
   to .win-surface. */
#news #articlesListViewArea #articlesListView-in .win-horizontal.win-viewport .win-surface,
#news #articlesListViewArea #articlesListView-out .win-horizontal.win-viewport .win-surface {
    margin-left: 45px;
}

/* Semantic Zoom Control */
#articlesListViewArea {
    position: relative;
    height: 100%;
    width: 100%;
}

/* List View */
#articlesListView-in {
    height: 100%;
    width: 100%;
}

    #articlesListView-in .win-groupheader {
        margin-left: 70px;
    }
            
    /* Use grid and top level layout for truncation */
    #articlesListView-in .win-groupheader button.group-header {
        margin-left: 2px;
        display: -ms-inline-grid;
        -ms-grid-columns: minmax(0, max-content) 7px max-content;
        -ms-grid-rows: max-content;
    }

        /* Override default button styles */
        button.group-header, button.group-header:hover, button.group-header:hover:active {
            background: transparent;
            border: 0;
            padding: 0;
            margin: 0;
            min-height: 0;
        }
                
        .group-title {
            display: inline-block;
        }

        .group-chevron {
            -ms-grid-column: 3;
            display: inline-block;
        }

            .group-chevron::before {
                font-family: 'Segoe UI Symbol';
                content: "\E26B";
            }

            /* Use mirrored glyph for RTL languages */
            .group-chevron:-ms-lang(ar, dv, fa, he, ku-Arab, pa-Arab, prs, ps, sd-Arab, syr, ug, ur, qps-plocm)::before {
                font-family: 'Segoe UI Symbol';
                content: "\E26C";
            }

    /* Tiles */
    
    /* Text tile */
    #articlesListView-in .large-text-tile {
        height: 510px;
        width: 510px;
        display: -ms-grid;
        background-color: #d85137;
    }
        
        #articlesListView-in .large-text-tile .title {
            margin: 0;
            padding: 5px;
            height: 100%;
            font: 34pt/38pt "Segoe UI Semilight";
        }
        
     #articlesListView-in .normal-text-tile {
        height: 250px;
        width: 250px;
        display: -ms-grid;
        background-color: #d85137;
    }
        
        #articlesListView-in .normal-text-tile .title {
            margin: 0;
            padding: 5px;
            height: 100%;
            font: 18pt/22pt "Segoe UI Semilight";
        }
    
    /* Image tile */
    #articlesListView-in .large-image-tile {
        height: 510px;
        width: 510px;
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 1fr 180px;
         display: -ms-grid;
        background-color: white !important;
    }
    
        #articlesListView-in .large-image-tile .image {
            -ms-grid-row-span: 2;
            overflow: hidden;
            background-repeat: no-repeat !important;
        }

        #articlesListView-in .large-image-tile .overlay {
            -ms-grid-row: 2;
            background-color: #d85137;
            opacity: 0.9;
            height: 180px;
        }

        #articlesListView-in .large-image-tile .overlay .title {
            margin: 0;
            padding: 5px;
            font: 20pt/24pt "Segoe UI Semilight";
            -ms-hyphens: auto;
        }
         
    #articlesListView-in .normal-image-tile {
        height: 250px;
        width: 250px;
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 1fr 110px;
         display: -ms-grid;
        background-color: white !important;
    }
    
        #articlesListView-in .normal-image-tile .image {
            -ms-grid-row-span: 2;
            overflow: hidden;
            background-repeat: no-repeat !important;
        }

        #articlesListView-in .normal-image-tile .overlay {
            -ms-grid-row: 2;
            background-color: #d85137;
            opacity: 0.9;
            height: 110px;
        }

        #articlesListView-in .normal-image-tile .overlay .title {
            margin: 0;
            padding: 5px;
            font: 13pt/15pt "Segoe UI Semilight";
            -ms-hyphens: auto;
        }
    
            .small-image {
                background-position: center top !important;
                background-size: contain !important;
            }

            .large-image {
                background-size: cover !important;
            }

/* Zoomed-out list view */
#articlesListView-out {
    height: 100%;
    width: 100%;
    margin-left: 70px;
}

#articlesListView-out .win-item {
    height: 150px;
    width: 250px;
    background-color: #d85137;
}

#articlesListView-out .overlay {
    width: 150px;
    height: 250px;
}

#articlesListView-out .title {
    margin: 0;
    padding: 5px;
    height: 100%;
    color: white;
    text-align: left;
    font: 20pt/26pt "Segoe UI Light";
}

@media screen and (-ms-view-state: snapped) {
    
    #news #articlesListView-in {
        width: 100%;
    }
    
    #news #articlesListView-in .win-item {
        height: 80px;
        width: 100%;
        background-color: #d85137;
    }

    #news #articlesListView-in .win-item .snapped-feed-tile {
        width: 100%;
    }
    
    #news #articlesListView-in .win-item .snapped-feed-tile .title {
        font: 11pt/15pt "Segoe UI Semilight";
        margin: 0;
        -ms-hyphens: none;
    }

    #news #articlesListView-out {
        display: none;
    }
}