<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="1d16fd8a-83d7-4f9d-9d5c-3a8a73b15872" Publisher="CN=All-In-One Code Framework" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="1d16fd8a-83d7-4f9d-9d5c-3a8a73b15872" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>VBUWPWebViewZoom</DisplayName>
    <PublisherDisplayName>All-In-One Code Framework</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.10069.0" MaxVersionTested="10.0.10069.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="VBUWPWebViewZoom.App">
      <uap:VisualElements DisplayName="VBUWPWebViewZoom" Square150x150Logo="Assets\Logo.png" Square44x44Logo="Assets\SmallLogo.png" Description="VBUWPWebViewZoom" BackgroundColor="#E6B80B">
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#E6B80B" />
        <uap:DefaultTile Wide310x150Logo="Assets\TileLogo.png">
        </uap:DefaultTile>
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>