@model IList<Guid>

<form action="/Home/UploadImage" enctype="multipart/form-data" method="post">
    <input type="file" name="files" />
    <button>post</button>
</form>

@foreach (var item in Model)
{
    <img src="/Home/ViewImage/@item" />
}