<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="Microsoft.SDKSamples.PushAndPollNotifications.JS" Version="1.0.0.0" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" />
  <mp:PhoneIdentity PhoneProductId="1047BB04-56C8-47F6-BDB7-DDA7CF16CCD2" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
  <Properties>
    <DisplayName>PushAndPeriodicNotifications JS Sample</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
	<Description>PushPollNotifications JS</Description>
    <Logo>images\storeLogo-sdk.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
	  <Extensions>
        <Extension Category="windows.backgroundTasks" StartPage="js\backgroundTask.js">
          <BackgroundTasks>
            <Task Type="systemEvent"/>
          </BackgroundTasks>
        </Extension>
      </Extensions>
      <m3:VisualElements DisplayName="PushAndPeriodicNotifications_JS.WindowsPhone" Square150x150Logo="images\squareTile-sdk.png" Square44x44Logo="images\smallTile-Phone-sdk.png" Description="PushAndPeriodicNotifications_JS.WindowsPhone sample" ForegroundText="light" BackgroundColor="#00b2f0">
        <m3:DefaultTile Square71x71Logo="images\mediumTile-sdk.png" ShortName="PushAndPeriodicNotifications JS" Wide310x150Logo="images\tile-sdk.png">
          <m3:ShowNameOnTiles>
            <m3:ShowOn Tile="square150x150Logo" />
            <m3:ShowOn Tile="wide310x150Logo" />
          </m3:ShowNameOnTiles>
        </m3:DefaultTile>
        <m3:SplashScreen Image="images\splash-Phone-sdk.png" />
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>