<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="tool-bj2vbo" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="1.0.0.0" />
  <Properties>
    <DisplayName>tool-obj2vbo</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>storelogo-sdk.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Applications>
    <Application Id="obj2vbo.App" Executable="tool-obj2vbo.exe" EntryPoint="tool-obj2vbo.App">
      <VisualElements DisplayName="tool-obj2vbo" Logo="squaretile-sdk.png" SmallLogo="smalltile-sdk.png" Description="tool-obj2vbo" ForegroundText="dark" BackgroundColor="#00b2f0">
        <DefaultTile ShowName="allLogos" ShortName="tool-obj2vbo" />
        <SplashScreen Image="splash-sdk.png" />
      </VisualElements>
    </Application>
  </Applications>
</Package>