.rulesPage section[role=main] {
    margin-left: 120px;
}

@media screen and (-ms-view-state: snapped) {
    .rulesPage section[role=main] {
        margin-left: 20px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .rulesPage section[role=main] {
        margin-left: 100px;
    }
}
