/* styles */

#wrapper {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    -ms-grid-columns: auto 1fr;
    -ms-grid-rows: auto auto auto auto 1fr auto auto auto;
}

#wrapper div {
    margin: 5px;
}

#scenario1OutputField {
    border: 2px solid #b1b1b1;
    overflow: scroll;
    -ms-grid-row-span: 7;
}

#scenario1WebView {
    overflow: auto;     /* for scrollbars */
    max-height: 500px;
    -ms-grid-column-span: 2;
}

.column1 {
    -ms-grid-column: 1;
}

.column2 {
    -ms-grid-column: 2;
}

.row1 {
    -ms-grid-row: 1;
}

.row2 {
    -ms-grid-row: 2;
}

.row3 {
    -ms-grid-row: 3;
}

.row4 {
    -ms-grid-row: 4;
}

.row5 {
    -ms-grid-row: 5;
}

.row6 {
    -ms-grid-row: 6;
}

.row7 {
    -ms-grid-row: 7;
}

.row8 {
    -ms-grid-row: 8;
}

.wrappedLink {
    word-wrap: break-word;
}

.span2Columns {
    -ms-grid-column-span: 2;
}

#extensionsListView {
    border: 2px solid #b1b1b1;
    height: 100px;
    max-height:100px;
    overflow: auto;
    -ms-grid-column-span: 2;
}
#extensionsListView div {
    margin: 0px;
    padding: 0px;
}

#extensionsListView .row {
    width: 100%;
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr 2fr;
    -ms-grid-rows: 1fr;
}

#extensionsListView .itemColumn1 {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    margin-right: 10px;
    overflow: hidden;
}

#extensionsListView .itemColumn2 {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    margin-right: 10px;
    overflow: hidden;
}

#extensionsListView .itemColumn3 {
    -ms-grid-column: 3;
    -ms-grid-row: 1;
    overflow: hidden;
}


