.partBody
{
	margin: 0;
	padding: 0;
	border: 0;
}

.partDiv
{
	margin: 0;
	padding: 0;
	border: 0;
	position: relative;
	width: 300px;
	height: 200px;
	background-color: #0000FF;
	font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 14pt;
}

.partContent
{
	position: absolute;
	top: 5px;
	left: 5px;
}