button.differentButtonColor
{
    border-color: rgb(255, 255, 255);
    background-color: rgb(89, 0, 140);
}

button.differentButtonColor:hover
{
    border-color: rgb(255, 255, 255);
    background-color: rgb(121, 0, 191);
}

.ui-dark button.differentButtonColor:hover:active
{
    background-color: rgb(255, 255, 255);
}

.ui-light button.differentButtonColor:hover:active
{
    background-color: rgb(0, 0, 0);
}

.backButtonText
{
    font: 42pt/42pt 'Segoe UI Light';
}