#downloadContainer
{
    display: -ms-grid;
    margin: 0px 8px 8px 8px;
}

#downloadIcon
{
    -ms-grid-column: 1;
    -ms-grid-row-span: 3;
    width: 62px;
    height: 62px;
    margin: 0px 16px 0px 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-image: url("../images/SauceCaramel.png");
    background-position: center top;
    background-origin: border-box;
    background-size: 64px 64px;
    background-repeat: no-repeat;
}

#downloadTitle
{
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    font-size: 11pt;
    line-height: 15pt;
    font-family: "Segoe UI Semibold";
    white-space: nowrap;
    overflow-x: hidden;
    -ms-text-overflow: ellipsis;
}

#downloadControl
{
    -ms-grid-column: 2;
    -ms-grid-row: 2;
    display: -ms-flexbox;
    -ms-flex-align: center;
    height: 22px;
}

#downloadStatus
{
    -ms-grid-column: 2;
    -ms-grid-row: 3;
    font-size: 11pt;
    line-height: 15pt;
    font-family: "Segoe UI Semilight";
}

#downloadProgress
{
    width: 192px;
}

#downloadPauseButton
{
    /* most styles are from .win-backbutton class */
    width: 20px;
    height: 20px;
    margin: 0px 8px 0px 12px;
    border-width: 1px;
    font-size: 10px; /* override the style from .win-backbutton to set the size of the glyph */
    line-height: 18px; /* override this from win-backbutton to match the current content box height, otherwise glyph won't center vertically. */
    visibility: hidden; /* hidden at the beginning because it's connecting to the server at the beginning and that activity can't be paused/resumed. */
}

button#downloadPauseButton.paused:before
{
    content: "\E102"; /* continue glyph */
}

button#downloadPauseButton.downloading:before
{
    content: "\E103"; /* pause glyph */
}

/* fade-in animation when switching from indeterminate progress bar to determinate progress bar */
@keyframes progress-switch-determinate {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 1.0;
    }
}

progress.switchDeterminate
{
    animation-name: progress-switch-determinate;
    animation-duration: 0.4s;
    animation-timing-function: linear;
}
