.differentBackground input[type="range"]::-ms-track
{
    color: rgb(0, 86, 0);
}

input[type="range"].differentSliderColor::-ms-fill-lower
{
    background-color: rgb(191, 85, 0);
}

input[type="range"].tickMarkAbove
{
    height: auto;
}

input[type="range"].tickMarkAbove::-ms-ticks-before
{
    display: block;
    color: rgb(150, 150, 150);
    height: 8px;
    padding-bottom: 5px;
}

input[type="range"].customTickMarkPosition::-ms-track
{
    /* tick marks are hidden by default with color: transparent, here give tick marks the same color as page background to get the cut-through effect */
    color: rgb(255, 255, 255);
}

.ui-dark input[type="range"].customTickMarkPosition::-ms-track
{
    /* keep the same as page background color */
    color: rgb(29, 29, 29);
}

input[type="range"].noValueTooltip::-ms-tooltip
{
    display: none;
}

#steps
{
    width: 226px;
    height: 47px;
    padding: 0px;
}

#steps::-ms-thumb
{
    width: 24px;
    height: 25px;
    padding: 0px;
    border: 0px;
    margin-top: 22px;
    background-color: transparent;
    background-image: url('../images/steps/thumb.png');
}

/* put :hover after ::-ms-thumb, so that when the user hovers on the track, the thumb doesn't light up */
#steps::-ms-thumb:hover
{
    background-image: url('../images/steps/thumb_hover.png');
}

/* if you put :active after ::-ms-thumb, then if the user presses on the track, the thumb doesn't turn active even after 
it jumps to the place where the user presses, because the active pseudo element is still the track, not the thumb */
#steps:active::-ms-thumb
{
    background-image: url('../images/steps/thumb_active.png');
}

#steps::-ms-track
{
    height: 47px;
    margin: 0px;
    border: 0px;
    padding: 0px;
    color: transparent;
    background-color: transparent;
}

#steps::-ms-fill-lower, #steps::-ms-fill-upper
{
    height: 47px;
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color: transparent;
    background-repeat: no-repeat;
}

#steps::-ms-fill-lower
{
    background-image: url('../images/steps/slider_enabled_filled.png');
    background-position: left top;
}

#steps::-ms-fill-upper
{
    background-image: url('../images/steps/slider_enabled.png');
    background-position: right top;
}