<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="Microsoft.SDKSamples.AssociationLaunching.VB" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Association Launching VB Sample</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>Assets\storeLogo-sdk.png</Logo>
    <Description>Association Launching VB Sample</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Applications>
    <Application Id="AssociationLaunchingVB.App" Executable="$targetnametoken$.exe" EntryPoint="AssociationLaunchingVB.App">
      <VisualElements DisplayName="Association Launching VB Sample" Logo="Assets\squareTile-sdk.png" SmallLogo="Assets\smallTile-sdk.png" Description="Association Launching VB Sample" ForegroundText="light"  BackgroundColor="#00b2f0">
        <DefaultTile ShowName="allLogos" ShortName="LaunchingVB" />
        <SplashScreen Image="Assets\splash-sdk.png" BackgroundColor="#00b2f0" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.fileTypeAssociation">

          <FileTypeAssociation Name=".alsdkvb">
            <!-- This is not the file used for the icon. The actual files are images\Icon.targetsize-*.png (16, 32, 48, and 256) which correspond to the various supported resolutions. This ensures optimal rendering of the icon. -->
            <Logo>Assets\Icon.png</Logo>
            <SupportedFileTypes>
              <FileType>.alsdkvb</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
        <Extension Category="windows.protocol">
          <Protocol Name="alsdkvb">
            <!-- This is not the file used for the icon. The actual files are images\Icon.targetsize-*.png (16, 32, 48, and 256) which correspond to the various supported resolutions. This ensures optimal rendering of the icon. -->
            <Logo>Assets\Icon.png</Logo>
          </Protocol>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>
