<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="54507529-7da2-4e29-a525-a93d10434ead" Version="1.0.0.0" Publisher="CN=mijacobs" />
  <Properties>
    <DisplayName>Part3_HelloWorldWithPages</DisplayName>
    <PublisherDisplayName>mijacobs</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Part3_HelloWorldWithPages" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="Part3_HelloWorldWithPages" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>