/* CSS applied to the ListViews in this sample */

.horizontalGrid, .verticalGrid, .horizontalList
{
    width: calc(100% - 4px);
    height: 280px;
}

.verticalList
{
    width: 270px;
    height: 290px;
}

.horizontalList
{
    height: 250px;
}