<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="Microsoft.SDKSamples.LockScreenApps.JS" Version="1.0.0.0" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" />
  <Properties>
    <DisplayName>LockScreenApps JS</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Description>LockScreenApps JS</Description>
    <Logo>images\storeLogo-sdk.png</Logo>
  </Properties>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <!-- The "internetClient" capability is necessary to display web content in tiles-->
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
  <Applications>
    <Application Id="Microsoft.SDKSamples.LockScreenApps.JS" StartPage="default.html">
      <VisualElements DisplayName="LockScreenApps JS" Logo="images\squareTile-sdk.png" SmallLogo="images\smallTile-sdk.png" Description="LockScreenApps JS" ForegroundText="light" BackgroundColor="#00b2f0">
        <LockScreen Notification="badgeAndTileText" BadgeLogo="images\badgelogo-sdk.png" />
        <DefaultTile ShortName="LockScreen JS" ShowName="allLogos" WideLogo="images\tile-sdk.png" />
        <SplashScreen BackgroundColor="#00b2f0" Image="images\splash-sdk.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" StartPage="js\backgroundTask.js">
          <BackgroundTasks>
            <Task Type="pushNotification" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
</Package>