<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="Microsoft.SDKSamples.CustomDeviceAccess.CS" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="1.0.0.0" />
  <Properties>
    <DisplayName>CustomDeviceAccess CS sample</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>Assets\storeLogo-sdk.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="CustomDeviceAccess.App" Executable="$targetnametoken$.exe" EntryPoint="CustomDeviceAccess.App">
      <VisualElements DisplayName="CustomDeviceAccess CS sample" Logo="Assets\squareTile-sdk.png" SmallLogo="Assets\smallTile-sdk.png" Description="CustomDeviceAccess CS sample" ForegroundText="dark" BackgroundColor="#00b2f0">
        <DefaultTile ShowName="allLogos" ShortName="Custom Device" />
        <SplashScreen Image="Assets\splash-sdk.png" BackgroundColor="#00b2f0" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <DeviceCapability Name="573E8C73-0CB4-4471-A1BF-FAB26C31D384" />
  </Capabilities>
</Package>
