<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="Microsoft.SDKSamples.KeyboardEvents.CPP" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="1.0.0.0" />
  <Properties>
    <DisplayName>KeyboardEvents CPP</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>images\storeLogo-sdk.png</Logo>
    <Description>Keyboard Events Sample CPP</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Applications>
    <Application Id="KeyboardEventsSampleCPP.App" Executable="KeyboardEventsSampleCPP.exe" EntryPoint="KeyboardEventsSampleCPP.App">
      <VisualElements DisplayName="KeyboardEvents CPP" Logo="images\squareTile-sdk.png" SmallLogo="images\smallTile-sdk.png" Description="KeyboardEvents CPP" ForegroundText="light" BackgroundColor="#00b2f0">
        <DefaultTile ShowName="allLogos" ShortName="Key CPP"/>
        <SplashScreen Image="images\splash-sdk.png" BackgroundColor="#00b2f0" />
      </VisualElements>
    </Application>
  </Applications>
</Package>