<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="Microsoft.SDKSamples.MobileBroadband.JS" Version="1.0.0.0" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" />
  <Properties>
    <DisplayName>MobileBroadband JS sample</DisplayName>
    <Description>Microsoft Corporation</Description>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>images\storelogo-sdk.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="en-US" />
  </Resources>
  <Capabilities>
    <!-- GUID required for Mobile Broadband device -->
    <DeviceCapability Name="BFCD56F7-3943-457F-A312-2E19BB6DC648" />
  </Capabilities>
  <Applications>
    <Application Id="Microsoft.SDKSamples.Mobilebroadband" StartPage="default.html">
      <VisualElements DisplayName="MobileBroadband JS sample" Logo="images\squaretile-sdk.png" SmallLogo="images\smalltile-sdk.png" Description="MobileBroadband JS sample" ForegroundText="light" BackgroundColor="#00b2f0" ToastCapable="true">
        <DefaultTile WideLogo="images\tile-sdk.png" ShortName="MBAE JS" ShowName="allLogos" />
        <SplashScreen Image="images\splash-sdk.png" BackgroundColor="#00b2f0" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" StartPage="js\backgroundtask.js">
          <BackgroundTasks>
            <Task Type="systemEvent" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
</Package>