<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="Microsoft.SDKSamples.SimpleCommunication.CS" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="1.0.0.0" />
  <Properties>
    <DisplayName>SimpleCommunication CS sample</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>Assets\storeLogo-sdk.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="SimpleCommunication.App" Executable="$targetnametoken$.exe" EntryPoint="SimpleCommunication.App">
      <VisualElements DisplayName="SimpleCommunication CS sample" Logo="Assets\squareTile-sdk.png" SmallLogo="Assets\smallTile-sdk.png" Description="SimpleCommunication CS sample" ForegroundText="light" BackgroundColor="#00b2f0">
        <LockScreen Notification="badge" BadgeLogo="Assets\badgeLogo.png" />
        <DefaultTile ShowName="allLogos" ShortName="RTCSample CS" />
        <SplashScreen Image="Assets\splash-sdk.png" BackgroundColor="#00b2f0" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" Executable="SimpleCommunication.exe" EntryPoint="SimpleCommunication.App">
          <BackgroundTasks>
            <Task Type="controlChannel" />
            <Task Type="audio" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClient" />
    <Capability Name="internetClientServer" />
    <DeviceCapability Name="microphone" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>Microsoft.Samples.SimpleCommunication.dll</Path>
        <ActivatableClass ActivatableClassId="Microsoft.Samples.SimpleCommunication.StspMediaSink" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.Samples.SimpleCommunication.StspSchemeHandler" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
    <Extension Category="windows.activatableClass.proxyStub">
      <ProxyStub ClassId="6A2CD34D-A473-4CAD-A2F7-2355312A6E69">
        <Path>Microsoft.Samples.SimpleCommunication.dll</Path>
        <Interface InterfaceId="0D506D03-5DA6-4C43-B9D6-340D64B11BA9" Name="IIncomingConnectionHandler" />
        <Interface InterfaceId="20A8AF49-A2D6-46BE-8C16-86B05E6482CE" Name="IStspSourceCreatedHandler" />
      </ProxyStub>
    </Extension>
  </Extensions>
</Package>