/* styles */
.error
{
    font: 11pt "Segoe UI";
    /*Reserve space in the error div for the text, even when none is present to avoid a slight resize when text appears*/
    padding-top: 6px;
    color: red;
    display:block;
}

    /* Flyout buttons */
    .win-flyout:not(.win-menu) button,
    .win-flyout:not(.win-menu) input[type="button"]
    {
        margin-top: 16px;
        margin-left: 20px;
        float: right;
    }