/* styles */

/* Styles for the header */
 header[role=banner]
{
    /* Define a grid with columns for the back button and page title. */
    -ms-grid-columns: 120px 1fr;
    -ms-grid-rows: 1fr;
    display: -ms-grid;
}

 header[role=banner] .win-backbutton
{
    -ms-grid-column:1;
    margin-left: 39px;
    margin-top: 59px;
}

header[role=banner] .titlearea {
    -ms-grid-column:2;
    padding-top:43px;
}

header[role=banner] .titlecontainer
{
    display:inline;
    background-color:transparent;
    border:none;
}

header[role=banner] .titlearea .pagetitle
{
    width: calc(100% - 20px);
}

header[role=banner] .titlearea .chevron {
    vertical-align:8px;
}

header[role=banner] .titlecontainer:hover
{    
    color: rgb(50,154,163); 
}

header[role=banner] .titlecontainer:active
{
    color: rgb(37,187,196); 
}
    
#headerMenu {
    width:180px;
}