@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<string>

<h2>@ViewData["Title"].</h2>

<form action="/Home/SendMessage" method="post">
    <input type="text" name="message" style="width:250px" />
    <input name="btnSend" value="Send" type="submit" style="margin-left:5px" />
</form>

@if (@ViewData["Error"] != null)
{
    <h2>@ViewData["Error"]</h2>
}
else
{
    <div id="MessageList">
    <h3>Latest messages</h3>
    @foreach (var msg in Model)
    {
        <div>@Html.DisplayFor(modelItem => msg) </div>
    }
    </div> 
}

