body {
    font-size:14px; font-family: Segoe UI, sans-serif; color:#2A2A2A;
}
.fl{
    float:left;
}
.noFloat{
    float:left;
}
.tile{
    width:200px;height:200px;color:#FFFFFF;margin:5px;padding:10px;text-align:left;font-family:Segoe UI Light, sans-serif; font-size:18px;text-overflow:ellipsis;overflow-y:hidden;
}
.tileBody{
    text-align:left;font-family:Segoe UI, sans-serif; font-size:12px;margin-top:10px;margin-bottom:10px;text-overflow:ellipsis;
}
.tileOrange{
    background-color:#F09609;
}
.tileOrange:hover{
    background-color:#F3AB3A;
}
.tileRed{
    width:75px;height:30px;color:#FFFFFF;margin-left:15px;margin-top:5px;cursor:pointer;padding:0px;font-family:Segoe UI Light, sans-serif; font-size:18px;background-color:#D24726;border-width:0px;border-style:none;
}
.tileRed:hover{
    background-color:#DB6B51;
}
.noPad {
    margin:0;padding0;
}
.heading{
    font-family:Segoe UI Light, sans-serif; font-size:24px; color:#FF7B0A;
    }
.scroller{overflow-y: scroll; max-height:384px; max-width:135px; margin:10px;}