<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="Microsoft.SDKSamples.MEPlaybackNative.CPP" Version="1.0.0.0" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" />
  <Properties>
    <DisplayName>MEPlaybackNative C++ sample</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>storeLogo-sdk.png</Logo>
    <Description>MEPlaybackNative</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="meplaybacknative.exe" EntryPoint="MEPlaybackNative.App">
      <VisualElements DisplayName="MEPlaybackNative C++ sample" Logo="squareTile-sdk.png" SmallLogo="smalltile-sdk.png" Description="MEPlaybackNative C++ sample" ForegroundText="light" BackgroundColor="#00b2f0">
        <DefaultTile ShortName="MEPlayer C++" ShowName="allLogos" />
        <SplashScreen Image="Splash-sdk.png" BackgroundColor="#00b2f0" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="videosLibrary" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>