@using System.Security.Claims;

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Index Page</h1>
    @if (!User.Identity.IsAuthenticated)
    {
        <p>
            you are not login, please <a href="/Account/Login">Login</a>
        </p>
    }
    else
    {
        var user = User.Identity as ClaimsIdentity;

        <p>
            welcome @user.Name, <a href="/Account/Logout">Logout</a>
        </p>

        <p>
            you can visit the authorize page, <a href="/Home/AuthPage">AuthPage</a>
        </p>
    }
</body>
</html>