<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.diagnostics />
  <connectionStrings>
    <add name="SessionDBConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\SessionDB.mdf;Integrated Security=True;User Instance=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Sever.Services.TransitionAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Sever.Services.SessionPoolAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
        multipleSiteBindingsEnabled="true" />
    <services>
      <service name="WebChat.Services.Transition">
        <endpoint address="" behaviorConfiguration="Sever.Services.TransitionAspNetAjaxBehavior"
            binding="webHttpBinding" contract="WebChat.Services.Transition" />
      </service>
      <service name="WebChat.Services.SessionPool">
        <endpoint address="" behaviorConfiguration="Sever.Services.SessionPoolAspNetAjaxBehavior"
            binding="webHttpBinding" contract="WebChat.Services.SessionPool" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
