<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="Microsoft.SDKSamples.GroupedGridView.CS" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Grouped GridView C# sample</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>Images\storeLogo-sdk.png</Logo>
    <Description>Grouped GridView C# sample</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="GroupedGridView.App" Executable="$targetnametoken$.exe" EntryPoint="GroupedGridView.App">
      <VisualElements DisplayName="Grouped GridView C# sample" Logo="Images\squareTile-sdk.png" SmallLogo="Images\smallTile-sdk.png" Description="Grouped GridView C# sample" ForegroundText="light" BackgroundColor="#00b2f0">
        <DefaultTile ShowName="allLogos" ShortName="Grouped GridView C#"/>
        <SplashScreen Image="Images\splash-sdk.png" BackgroundColor="#00b2f0" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>