
.chatpage .chat
{
    display: -ms-grid;
    -ms-grid-columns: 25% 25% 50%;
    -ms-grid-rows: 100%;
    width: 100%;
    height: 100%;
}

/* This selector is used to prevent ui-dark/light.css from overwriting changes
   to .win-surface. */
.chatpage .groupslist .win-horizontal.win-viewport .win-surface {
    margin-bottom: 60px;
    margin-left: 116px;
}

.chatpage .groupslist {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    height: 100%;
    position: relative;
    width: 95%;
    z-index: 0;
}

    .chatpage .groupslist .win-horizontal.win-viewport .win-container {
        margin-bottom: 6px;
        margin-right: 6px;
    }

    .chatpage .groupslist .win-item {
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 1fr 90px;
        display: -ms-grid;
        height: 250px;
        width: 250px;
        background-color:#000
    }

        .chatpage .groupslist .win-item .item-image {
            -ms-grid-row-span: 2;
        }

        .chatpage .groupslist .win-item .item-overlay {
            -ms-grid-row: 2;
            -ms-grid-rows: 1fr 21px;
            display: -ms-grid;
            padding: 6px 15px 2px 15px;
        }

            .chatpage .groupslist .win-item .item-overlay .item-title {
                -ms-grid-row: 1;
                overflow: hidden;
                width: 220px;
            }

            .chatpage .groupslist .win-item .item-overlay .item-subtitle {
                -ms-grid-row: 2;
                width: 220px;
            }


    .chatpage .groupslist .win-item .item-overlay {
        background: rgba(0,0,0,0.65);
    }

        .chatpage .groupslist .win-item .item-overlay .item-title {
            color: rgb(255,255,255);
        }

        .chatpage .groupslist .win-item .item-overlay .item-subtitle {
            color: rgb(255,255,255);
        }

@media screen and (max-width: 799px) {
    .chatpage .groupslist .win-vertical.win-viewport .win-surface {
        margin-bottom: 30px;
        margin-left: 6px;
    }

    .chatpage .groupslist .win-vertical.win-viewport .win-container {
        margin: 4px;
        margin-bottom: 6px;
        margin-right: 22px;
        padding: 10px;
    }

        .chatpage .groupslist .win-vertical.win-viewport .win-container:hover {
            outline: 0;
        }

    .chatpage .groupslist .win-item {
        -ms-grid-columns: 60px 1fr;
        -ms-grid-rows: 1fr;
        display: -ms-grid;
        height: 60px;
        width: 272px;
    }

        .chatpage .groupslist .win-item .item-image, .chatpage .groupslist .win-item:hover .item-image {
            -ms-grid-column: 1;
            -ms-grid-row-span: 1;
            height: 60px;
            width: 60px;
        }

        .chatpage .groupslist .win-item .item-overlay {
            -ms-grid-column: 2;
            -ms-grid-row: 1;
            -ms-grid-row-align: stretch;
            background: transparent;
            display: inline-block;
            margin-left: 10px;
            padding: 0;
        }

            .chatpage .groupslist .win-item .item-overlay .item-title {
                max-height: 40px;
                margin-top: 4px;
                width: 202px;
            }

            .chatpage .groupslist .win-item .item-overlay .item-subtitle {
                opacity: 0.6;
                width: 202px;
            }
}


    
/* The following relates to the Contact list, and mostly duplicates the css for the Groups list above. */

.chatpage .contactslist .win-horizontal.win-viewport .win-surface {
    margin-bottom: 60px;
    margin-left: 116px;
}

.chatpage .contactslist {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 0;
}

    .chatpage .contactslist .win-horizontal.win-viewport .win-container {
        margin-bottom: 6px;
        margin-right: 6px;
    }

    .chatpage .contactslist .win-item {
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 1fr 90px;
        display: -ms-grid;
        height: 250px;
        width: 250px;
        background-color:#000
    }

        .chatpage .contactslist .win-item .item-image {
            -ms-grid-row-span: 2;
        }

        .chatpage .contactslist .win-item .item-overlay {
            -ms-grid-row: 2;
            -ms-grid-rows: 1fr 21px;
            display: -ms-grid;
            padding: 6px 15px 2px 15px;
        }

            .chatpage .contactslist .win-item .item-overlay .item-title {
                -ms-grid-row: 1;
                overflow: hidden;
                width: 220px;
            }

            .chatpage .contactslist .win-item .item-overlay .item-subtitle {
                -ms-grid-row: 2;
                width: 220px;
            }
    
    .chatpage .contactslist .win-item .item-overlay {
        background: rgba(0,0,0,0.65);
    }

        .chatpage .contactslist .win-item .item-overlay .item-title {
            color: rgb(255,255,255);
        }

        .chatpage .contactslist .win-item .item-overlay .item-subtitle {
            color: rgb(255,255,255);
        }

@media screen and (max-width: 799px) {
    .chatpage .contactslist .win-vertical.win-viewport .win-surface {
        margin-bottom: 30px;
        margin-left: 6px;
    }

    .chatpage .contactslist .win-vertical.win-viewport .win-container {
        margin: 4px;
        margin-bottom: 6px;
        margin-right: 22px;
        padding: 10px;
    }

        .chatpage .contactslist .win-vertical.win-viewport .win-container:hover {
            outline: 0;
        }

    .chatpage .contactslist .win-item {
        -ms-grid-columns: 60px 1fr;
        -ms-grid-rows: 1fr;
        display: -ms-grid;
        height: 60px;
        width: 272px;
    }

        .chatpage .contactslist .win-item .item-image, .chatpage .contactslist .win-item:hover .item-image {
            -ms-grid-column: 1;
            -ms-grid-row-span: 1;
            height: 60px;
            width: 60px;
        }

        .chatpage .contactslist .win-item .item-overlay {
            -ms-grid-column: 2;
            -ms-grid-row: 1;
            -ms-grid-row-align: stretch;
            background: transparent;
            display: inline-block;
            margin-left: 10px;
            padding: 0;
        }

            .chatpage .contactslist .win-item .item-overlay .item-title {
                max-height: 40px;
                margin-top: 4px;
                width: 202px;
            }

            .chatpage .contactslist .win-item .item-overlay .item-subtitle {
                opacity: 0.6;
                width: 202px;
            }
}



.chatpage .chat .chatTextContainer {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    width: 100%;
    height: 100%;
    display: -ms-grid;
    -ms-grid-columns: 95%;
    -ms-grid-rows: 80% 12%;
}

.chatpage .chat .chatTextEchoContainer {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    width: 100%;
    height: 100%;
    margin-left: 10px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.8);
}

.chatpage .chat .chatTextEcho {
    color: rgba(33, 33, 33, 1.0);
    font-size: 24pt;    
    font-family: "segoe UI";
    padding: 8px 0px 8px 12px;
    min-width: 64px;
    letter-spacing: 0.02em;
}

.chatpage .chat .chatTextInput {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    width: 100%;
    height: 100%;
    margin-left: 10px;
    margin-top: 30px;
    font-size: 32pt;
}

/* The following sets the text shown on the list items to black when the current theme is High Contrast White. */

@media screen and (-ms-high-contrast:black-on-white)
{
    .chatpage .groupslist .win-item .item-overlay .item-title {
        color: #000
    }
    
    .chatpage .groupslist .win-item .item-overlay .item-subtitle {
        color: #000
    }
    
    .chatpage .contactslist .win-item .item-overlay .item-title {
        color: #000
    }
    
    .chatpage .contactslist .win-item .item-overlay .item-subtitle {
        color: #000
    }
}
