@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-10">
            <h1>Hello @ViewBag.UserInfo["name"]</h1>
        </div>
        <div class="col-md-2">
            <img src="UserPicture" />
        </div>
    </div>
</div>