<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="Microsoft.SDKSamples.Toasts.CPP" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Toasts CPP</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>images\storeLogo-sdk.png</Logo>
    <Description>ToastsSampleCPP</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Applications>
    <Application Id="ToastsSampleCPP.App" Executable="ToastsSampleCPP.exe" EntryPoint="ToastsSampleCPP.App">
      <VisualElements DisplayName="Toasts CPP" Logo="images\squareTile-sdk.png" SmallLogo="images\smallTile-sdk.png" Description="Toasts CPP" ForegroundText="light" BackgroundColor="#00b2f0" ToastCapable="true">
        <DefaultTile ShortName="Toast CPP" ShowName="allLogos" />
        <SplashScreen BackgroundColor="#00b2f0" Image="images\splash-sdk.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>