
#footer
{
    display: block;
    position: fixed;
    top: 0px;
    padding: 5px;
    margin: 5px;
}

#footer span
{
    font-size:12px;
    color:#707070;
}

#footer .company
{
    float:left;
}

#footer .links
{
    float:right;
}

#footer .links a
{
    font-size:12px;
    color:#707070;
    margin-left:8px;
    text-decoration:none;
}

#footer .links .pipe
{
    border-right:1px solid #707070;
    font-size:9px;
    margin-left:8px;
}
