<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ClientSecret" value="h6U4iTtUjXrFNyUYzkqQYe3XkfPLqVnmfL1A91+vw5Y=" />
    <add key="ClientId" value="f3dafcea-8e9e-4a32-bde0-887bd8b0d40e" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime />
    <pages controlRenderingCompatibilityVersion="4.0" />
    <machineKey />
  </system.web>
</configuration>