<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="Microsoft.SDKSamples.RemovableStorage.CPP" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="1.0.0.0" />
  <Properties>
    <DisplayName>RemovableStorage CPP sample</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>Assets\storeLogo-sdk.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="RemovableStorageCPP.App" Executable="RemovableStorageCPP.exe" EntryPoint="RemovableStorageCPP.App">
      <VisualElements DisplayName="RemovableStorage CPP sample" Logo="Assets\squareTile-sdk.png" SmallLogo="Assets\smallTile-sdk.png" Description="RemovableStorage CPP sample" ForegroundText="light" BackgroundColor="#00b2f0">
        <DefaultTile ShortName="RemovableStorage CPP" ShowName="allLogos" />
        <SplashScreen Image="Assets\splash-sdk.png" BackgroundColor="#00b2f0" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.autoPlayContent">
          <AutoPlayContent>
            <LaunchAction
                Verb="storageDevice"
                ActionDisplayName="RemovableStorage CPP (Camera Memory)"
                ContentEvent="ShowPicturesOnArrival"/>
          </AutoPlayContent>
        </Extension>
        <Extension Category="windows.autoPlayDevice">
          <AutoPlayDevice>
            <LaunchAction
                Verb="wpdImage"
                ActionDisplayName="RemovableStorage CPP (Camera)"
                DeviceEvent="WPD\ImageSource"/>
          </AutoPlayDevice>
        </Extension>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="image">
            <SupportedFileTypes>
              <FileType>.jpg</FileType>
              <FileType>.png</FileType>
              <FileType>.gif</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="removableStorage" />
  </Capabilities>
</Package>