/***************   Styles used for setting type of panning  ***************/
.None {
    overflow: hidden;
}

.Horizontal {
    overflow-x: auto;
    overflow-y: hidden;
}

.Vertical {
    overflow-x: hidden;
    overflow-y: auto;
}

.Unrailed {
    overflow: auto;
    -ms-scroll-rails: none;
}


.Railed {
    overflow: auto;
    -ms-scroll-rails: railed;
}
