<?xml version="1.0" encoding="UTF-8"?>
<!--                                                                  -->
<!-- Copyright (c) Microsoft Corporation. All rights reserved.        -->
<!-- This code is licensed under the Visual Studio SDK license terms. -->
<!-- THIS CODE IS PROVIDED *AS IS* WITHOUT WARRANTY OF                -->
<!-- ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING ANY               -->
<!-- IMPLIED WARRANTIES OF FITNESS FOR A PARTICULAR                   -->
<!-- PURPOSE, MERCHANTABILITY, OR NON-INFRINGEMENT.                   -->
<!--                                                                  -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Defines.wxi ?>

  <!-- TODO: Replace Product.Id and Product.UpgradeCode with new GUIDs for your MSI. -->
  <!-- TODO: Optionally, also change * to a fixed GUID, otherwise a new one will be generated every build in every component. -->
  <Product Id="CF2DAEF4-AA27-4408-96BB-BA2FE915806D" Name="$(var.FullProductName)" Language="$(var.ProductLanguage)" Version="$(var.ProductVersion)" Manufacturer="$(var.CompanyName)" UpgradeCode="61E3E5B0-D28D-4DFF-8E8A-50CCEC7E56A8">
    <Package InstallerVersion="200" Compressed="yes" Description="$(var.ProductDescription)" InstallScope="perMachine" />

    <Property Id="ISOSHELLSFX">
      <RegistrySearch Id="IsoShellSfx" Root="HKLM" Key="SOFTWARE\Microsoft\DevDiv\vs\Servicing\$(var.ShellVersion)\isoshell\$(var.ProductLanguage)" Name="Install" Type="raw" />
    </Property>
    
    <Condition Message="This application requires $(var.ShellName).  Please install $(var.ShellName) then run this installer again.">
      <![CDATA[Installed OR ISOSHELLSFX]]>
    </Condition>
    
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="CompanyDirectory" Name="$(var.CompanyName)">
          <Directory Id="INSTALLDIR" Name="$(var.FullProductName)">
            <Directory Id="ExtensionsFolder" Name="Extensions" />
            <Directory Id="ResourcesFolder" Name="$(var.ProductLanguage)" />
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.FullProductName)"/>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="$(var.ShortProductName)Shell" Level="1">
      <ComponentGroupRef Id="ApplicationGroup" />
      <ComponentGroupRef Id="HelpAboutPackage" />
      <ComponentRef Id="GeneralProfile" />
      <ComponentGroupRef Id="EditorAdornment"/>      
      <ComponentGroupRef Id="SlideShowDesignerGroup"/>

      <!-- Note: The following ComponentGroupRef is required to pull in generated authoring from project references. -->
      <ComponentGroupRef Id="Product.Generated" />
    </Feature>
  </Product>
</Wix>
