<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="Microsoft.SDKSamples.ControlChannelWebSocket.CPP" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="1.0.0.0" />
  <Properties>
    <DisplayName>ControlChannelTriggerWithStreamWebSocket CPP Sample</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>Images\storeLogo-sdk.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="ControlChannelTriggerWithStreamWebSocket.App" Executable="$targetnametoken$.exe" EntryPoint="ControlChannelTriggerWithStreamWebSocket.App">
      <VisualElements DisplayName="ControlChannelTriggerWithStreamWebSocket C++ sample" Logo="Images\squareTile-sdk.png" SmallLogo="Images\smallTile-sdk.png" Description="ControlChannelTriggerWithStreamWebSocket C++ sample" ForegroundText="light" BackgroundColor="#00b2f0" ToastCapable="true">
        <LockScreen Notification="badge" BadgeLogo="Images\badgelogo-sdk.png" />
        <DefaultTile ShowName="allLogos" WideLogo="Images\tile-sdk.png" />
        <SplashScreen Image="Images\splash-sdk.png" BackgroundColor="#00b2f0" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" Executable="$targetnametoken$.exe" EntryPoint="Windows.Networking.Sockets.WebSocketKeepAlive">
          <BackgroundTasks>
            <Task Type="controlChannel" />
          </BackgroundTasks>
        </Extension>
        <Extension Category="windows.backgroundTasks" Executable="$targetnametoken$.exe" EntryPoint="Background.PushNotifyTask">
          <BackgroundTasks>
            <Task Type="controlChannel" />
          </BackgroundTasks>
        </Extension>
        <Extension Category="windows.backgroundTasks" Executable="$targetnametoken$.exe" EntryPoint="Background.NetworkChangeTask">
          <BackgroundTasks>
            <Task Type="controlChannel" />
            <Task Type="systemEvent" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="privateNetworkClientServer" />
  </Capabilities>
</Package>