<?xml version="1.0" encoding="utf-8"?> 
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="Microsoft.SDKSamples.Gyrometer.CPP" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="1.0.0.0"/>
  <Properties>
    <DisplayName>Gyrometer CPP sample</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>Assets\storeLogo-sdk.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate"/>
  </Resources>
  <Applications>
    <Application Id="GyrometerCPP.App" Executable="$targetnametoken$.exe" EntryPoint="GyrometerCPP.App">
      <m2:VisualElements DisplayName="Gyrometer CPP sample" Square150x150Logo="Assets\squaretile-sdk.png" Square30x30Logo="Assets\smalltile-Windows-sdk.png" Description="Gyrometer CPP sample" ForegroundText="light" BackgroundColor="#00b2f0">
        <m2:DefaultTile ShortName="Gyro CPP" DefaultSize="square150x150Logo" Wide310x150Logo="Assets\tile-sdk.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo"/>
            <m2:ShowOn Tile="wide310x150Logo"/>
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\splash-Windows-sdk.png" BackgroundColor="#00b2f0"/>
      </m2:VisualElements>
    </Application>
  </Applications>
</Package>
