/* styles */
.playtobutton
{  
    display: inline-block;  
    min-width: 0px;  
    min-height: 0px;  
    background-clip: border-box;  
    box-sizing: border-box;  
    border-radius: 50%;  
    border-width: 2px;  
    border-style: solid;  
    padding: 0px;  
    background-color:transparent;
  
    /* Normal sizing */  
    margin-right: 34px;  
    width: 40px;  
    height: 40px;  
    font-size: 14pt;  
    line-height: 36px; /* line-height must match the content box height */  
    vertical-align: baseline;  
}  
  
.playtobutton:hover, .playtobutton:active, .playtobutton:hover:active  
{  
    border-width: 2px;  
    border-style: solid;  
    border-radius: 50%;
}  
  
.playtobutton::before  
{  
    font-family: "Segoe UI Symbol";  
    content: "\E29B";
    vertical-align: 50%;  
}  
  
.playtobutton:disabled, .playtobutton:hover:active:disabled  
{  
    background-clip: padding-box;  
} 
