/* _lcid="1033" _version="16.0.2605"
_LocalBinding */
.office{
font-family:"Segoe UI",Segoe,Tahoma,Helvetica,Arial,sans-serif;
color:rgb(68,68,68);
font-size:13px;
}
.office a{
color:rgb(0,114,198);
}
.office a:link{
text-decoration:none;
}
.office-helper{
color:rgb(119,119,119);
}
.office-error{
color:rgb(191,0,0);
}
.office-hide,.ms-hide{
display:none;
}
.office-listview img{
border-style:none;
}
.office-peoplepicker{
width:371px;
}
.office-peoplepicker-main{
cursor:text;
position:relative;
padding:3px 25px 3px 0px;
border:1px solid rgb(171,171,171);
min-height:22px;
}
.office-peoplepicker-main:hover{
border-color:rgb(146,192,224);
}
.office-peoplepicker-focus{
border-color:rgb(42,141,214);
}
.office-peoplepicker-default{
top:3px;
left:4px;
position:absolute;
}
.office .office-peoplepicker-input{
border:0px;
padding:0px 1px;
margin-left:5px;
background-color:transparent;
vertical-align:inherit;
}
.office-peoplepicker-input:focus{
outline:0px;
}
.office-peoplepicker-input::-ms-clear{
display:none;
}
.office-peoplepicker-menu{
z-index:1;
display:none;
cursor:default;
max-width:300px;
min-width:300px;
position:absolute;
left:-1px;
border:1px solid rgb(198,198,198);
width:100%;
margin:0px 10px 0px 0px;
padding:3px 0px 0px;
overflow-y:auto;
overflow-x:hidden;
list-style-type:none;
box-shadow:transparent 0px 0px 0px 0px;
background-color:rgb(255,255,255);
max-height:190px;
}
.office-peoplepicker-autofillopened .office-peoplepicker-menu{
display:block;
}
.office-peoplepicker-menu-item,.office-ui-controls-menu-footer{
white-space:nowrap;
padding:1px 5px 3px;
margin:0px;
cursor:pointer;
border:1px solid transparent;
}
.office-peoplepicker-menu .office-peoplepicker-menu-item.office-peoplepicker-autofill-focus,
.office-peoplepicker-menu:hover .office-peoplepicker-menu-item.office-peoplepicker-autofill-focus:hover,
.office-peoplepicker-menu:hover .office-peoplepicker-menu-item:hover{
background-color:rgba(205,230,247,0.498039);
}
.office-peoplepicker-menu:hover .office-peoplepicker-menu-item.office-peoplepicker-autofill-focus{
background-color:inherit;
}
.office-peoplepicker-menu-item a:focus{
outline:none;
}
.office-peoplepicker-menu-item > a{
text-decoration:none;
text-decoration:none;
display:block;
position:relative;
}
.office-peoplepicker-menu hr{
border-width:1px 0px 0px;
border-top:1px solid rgb(198,198,198);
margin:2px 0px;
color:rgb(198,198,198);
}
.office-menu-sublabel{
color:rgb(119,119,119);
}
.office-menu-footer{
margin:0px;
cursor:default;
padding:0px 12px 7px 5px;
font-size:0.9em;
}
.office-peoplepicker-record{
cursor:pointer;
white-space:nowrap;
display:inline-block;
margin:0px 5px 1px 2px;
}
.office-peoplepicker-unresolved,.office-peoplepicker-resolved{
display:inline-block;
margin-left:3px;
overflow:hidden;
}
.office-peoplepicker-deleterecord{
margin-left:3px;
}
.office-peoplepicker-resolved{
vertical-align:bottom;
text-decoration:underline;
}
.office-peoplepicker-record .office-peoplepicker-unresolved{
background-image:url(img/squiggle.png);
background-position:0% 100%;
background-repeat:repeat-x;
vertical-align:text-top;
padding-bottom:2px;
color:rgb(68,68,68);
}
.office-peoplepicker-loading{
background-image:url(img/gears16.gif);
background-position:0px 4px;
background-repeat:no-repeat;
}
.office-peoplepicker-autofillopened.office-peoplepicker-loading{
background-image:none;
}
.office-peoplepicker-autofillopened.office-peoplepicker-loading .office-peoplepicker-autofill-loading{
display:list-item;
}
.office-peoplepicker-autofillopened.office-peoplepicker-loading .office-menu-footer{
display:none;
}
.office-peoplepicker-autofill-loading{
background-image:url(img/gears24.gif);
height:32px;
background-repeat:no-repeat;
background-position:center;
display:none;
}
.office-peoplepicker-error{
margin-left:4px;
}
.office-peoplepicker-alert{
display:none;
}
.ms-spimn-img
{
position:absolute;
}
.ms-spimn-imgSize-10x10
{
width:10px;
height:10px;
}
.ms-spimn-imgSize-16x16
{
width:16px;
height:16px;
}
.ms-spimn-imgSize-5x36
{
width:5px;
height:36px;
}
.ms-spimn-imgSize-5x48
{
width:5px;
height:48px;
}
.ms-spimn-imgSize-8x72
{
width:8px;
height:72px;
}
.ms-spimn-presence-online-10x10x32
{
left:-208px;
top:-187px;
}
.ms-spimn-presence-online-16x16x32
{
left:-127px;
top:-199px;
}
.ms-spimn-presence-online-5x36x32
{
left:-169px;
top:-115px;
}
.ms-spimn-presence-online-5x48x32
{
left:-36px;
top:-149px;
}
.ms-spimn-presence-online-8x72x32
{
left:-61px;
top:-75px;
}
.ms-spimn-presence-online-10x10x4
{
left:-211px;
top:-199px;
}
.ms-spimn-presence-online-16x16x4
{
left:-145px;
top:-191px;
}
.ms-spimn-presence-online-5x36x4
{
left:-176px;
top:-39px;
}
.ms-spimn-presence-online-5x48x4
{
left:-29px;
top:-149px;
}
.ms-spimn-presence-online-8x72x4
{
left:-81px;
top:-75px;
}
.ms-spimn-presence-online-oof-10x10x32
{
left:-199px;
top:-199px;
}
.ms-spimn-presence-online-oof-16x16x32
{
left:-181px;
top:-199px;
}
.ms-spimn-presence-online-oof-5x36x32
{
left:-169px;
top:-153px;
}
.ms-spimn-presence-online-oof-5x48x32
{
left:-22px;
top:-149px;
}
.ms-spimn-presence-online-oof-8x72x32
{
left:-71px;
top:-75px;
}
.ms-spimn-presence-online-oof-10x10x4
{
left:-220px;
top:-181px;
}
.ms-spimn-presence-online-oof-16x16x4
{
left:-163px;
top:-191px;
}
.ms-spimn-presence-online-oof-5x36x4
{
left:-176px;
top:-1px;
}
.ms-spimn-presence-online-oof-5x48x4
{
left:-15px;
top:-149px;
}
.ms-spimn-presence-online-oof-8x72x4
{
left:-81px;
top:-1px;
}
.ms-spimn-presence-away-10x10x32
{
left:-181px;
top:-217px;
}
.ms-spimn-presence-away-16x16x32
{
left:-215px;
top:-91px;
}
.ms-spimn-presence-away-5x36x32
{
left:-190px;
top:-115px;
}
.ms-spimn-presence-away-5x48x32
{
left:-155px;
top:-51px;
}
.ms-spimn-presence-away-8x72x32
{
left:-131px;
top:-75px;
}
.ms-spimn-presence-away-10x10x4
{
left:-169px;
top:-209px;
}
.ms-spimn-presence-away-16x16x4
{
left:-197px;
top:-19px;
}
.ms-spimn-presence-away-5x36x4
{
left:-155px;
top:-101px;
}
.ms-spimn-presence-away-5x48x4
{
left:-155px;
top:-1px;
}
.ms-spimn-presence-away-8x72x4
{
left:-131px;
top:-1px;
}
.ms-spimn-presence-away-oof-10x10x32
{
left:-215px;
top:-109px;
}
.ms-spimn-presence-away-oof-16x16x32
{
left:-197px;
top:-1px;
}
.ms-spimn-presence-away-oof-5x36x32
{
left:-141px;
top:-151px;
}
.ms-spimn-presence-away-oof-5x48x32
{
left:-134px;
top:-149px;
}
.ms-spimn-presence-away-oof-8x72x32
{
left:-1px;
top:-1px;
}
.ms-spimn-presence-away-oof-10x10x4
{
left:-157px;
top:-209px;
}
.ms-spimn-presence-away-oof-16x16x4
{
left:-197px;
top:-37px;
}
.ms-spimn-presence-away-oof-5x36x4
{
left:-190px;
top:-77px;
}
.ms-spimn-presence-away-oof-5x48x4
{
left:-141px;
top:-1px;
}
.ms-spimn-presence-away-oof-8x72x4
{
left:-11px;
top:-1px;
}
.ms-spimn-presence-blocked-10x10x32
{
left:-145px;
top:-209px;
}
.ms-spimn-presence-blocked-16x16x32
{
left:-197px;
top:-55px;
}
.ms-spimn-presence-blocked-5x36x32
{
left:-155px;
top:-139px;
}
.ms-spimn-presence-blocked-5x48x32
{
left:-127px;
top:-149px;
}
.ms-spimn-presence-blocked-8x72x32
{
left:-121px;
top:-75px;
}
.ms-spimn-presence-blocked-10x10x4
{
left:-215px;
top:-121px;
}
.ms-spimn-presence-blocked-16x16x4
{
left:-197px;
top:-73px;
}
.ms-spimn-presence-blocked-5x36x4
{
left:-190px;
top:-39px;
}
.ms-spimn-presence-blocked-5x48x4
{
left:-120px;
top:-149px;
}
.ms-spimn-presence-blocked-8x72x4
{
left:-21px;
top:-1px;
}
.ms-spimn-presence-blocked-oof-10x10x32
{
left:-133px;
top:-217px;
}
.ms-spimn-presence-blocked-oof-16x16x32
{
left:-215px;
top:-73px;
}
.ms-spimn-presence-blocked-oof-5x36x32
{
left:-148px;
top:-151px;
}
.ms-spimn-presence-blocked-oof-5x48x32
{
left:-113px;
top:-149px;
}
.ms-spimn-presence-blocked-oof-8x72x32
{
left:-31px;
top:-1px;
}
.ms-spimn-presence-blocked-oof-10x10x4
{
left:-121px;
top:-217px;
}
.ms-spimn-presence-blocked-oof-16x16x4
{
left:-197px;
top:-91px;
}
.ms-spimn-presence-blocked-oof-5x36x4
{
left:-190px;
top:-1px;
}
.ms-spimn-presence-blocked-oof-5x48x4
{
left:-141px;
top:-51px;
}
.ms-spimn-presence-blocked-oof-8x72x4
{
left:-121px;
top:-1px;
}
.ms-spimn-presence-busy-10x10x32
{
left:-215px;
top:-133px;
}
.ms-spimn-presence-busy-16x16x32
{
left:-197px;
top:-109px;
}
.ms-spimn-presence-busy-5x36x32
{
left:-162px;
top:-1px;
}
.ms-spimn-presence-busy-5x48x32
{
left:-106px;
top:-149px;
}
.ms-spimn-presence-busy-8x72x32
{
left:-41px;
top:-1px;
}
.ms-spimn-presence-busy-10x10x4
{
left:-109px;
top:-217px;
}
.ms-spimn-presence-busy-16x16x4
{
left:-197px;
top:-127px;
}
.ms-spimn-presence-busy-5x36x4
{
left:-183px;
top:-153px;
}
.ms-spimn-presence-busy-5x48x4
{
left:-148px;
top:-101px;
}
.ms-spimn-presence-busy-8x72x4
{
left:-111px;
top:-75px;
}
.ms-spimn-presence-busy-oof-10x10x32
{
left:-215px;
top:-145px;
}
.ms-spimn-presence-busy-oof-16x16x32
{
left:-215px;
top:-55px;
}
.ms-spimn-presence-busy-oof-5x36x32
{
left:-162px;
top:-39px;
}
.ms-spimn-presence-busy-oof-5x48x32
{
left:-99px;
top:-149px;
}
.ms-spimn-presence-busy-oof-8x72x32
{
left:-51px;
top:-1px;
}
.ms-spimn-presence-busy-oof-10x10x4
{
left:-97px;
top:-217px;
}
.ms-spimn-presence-busy-oof-16x16x4
{
left:-197px;
top:-145px;
}
.ms-spimn-presence-busy-oof-5x36x4
{
left:-183px;
top:-115px;
}
.ms-spimn-presence-busy-oof-5x48x4
{
left:-148px;
top:-1px;
}
.ms-spimn-presence-busy-oof-8x72x4
{
left:-61px;
top:-1px;
}
.ms-spimn-presence-donotdisturb-10x10x32
{
left:-220px;
top:-157px;
}
.ms-spimn-presence-donotdisturb-16x16x32
{
left:-19px;
top:-199px;
}
.ms-spimn-presence-donotdisturb-5x36x32
{
left:-162px;
top:-153px;
}
.ms-spimn-presence-donotdisturb-5x48x32
{
left:-78px;
top:-149px;
}
.ms-spimn-presence-donotdisturb-8x72x32
{
left:-11px;
top:-75px;
}
.ms-spimn-presence-donotdisturb-10x10x4
{
left:-49px;
top:-217px;
}
.ms-spimn-presence-donotdisturb-16x16x4
{
left:-37px;
top:-199px;
}
.ms-spimn-presence-donotdisturb-5x36x4
{
left:-183px;
top:-1px;
}
.ms-spimn-presence-donotdisturb-5x48x4
{
left:-71px;
top:-149px;
}
.ms-spimn-presence-donotdisturb-8x72x4
{
left:-101px;
top:-1px;
}
.ms-spimn-presence-donotdisturb-oof-10x10x32
{
left:-208px;
top:-175px;
}
.ms-spimn-presence-donotdisturb-oof-16x16x32
{
left:-215px;
top:-19px;
}
.ms-spimn-presence-donotdisturb-oof-5x36x32
{
left:-169px;
top:-1px;
}
.ms-spimn-presence-donotdisturb-oof-5x48x32
{
left:-64px;
top:-149px;
}
.ms-spimn-presence-donotdisturb-oof-8x72x32
{
left:-21px;
top:-75px;
}
.ms-spimn-presence-donotdisturb-oof-10x10x4
{
left:-37px;
top:-217px;
}
.ms-spimn-presence-donotdisturb-oof-16x16x4
{
left:-55px;
top:-199px;
}
.ms-spimn-presence-donotdisturb-oof-5x36x4
{
left:-176px;
top:-153px;
}
.ms-spimn-presence-donotdisturb-oof-5x48x4
{
left:-1px;
top:-149px;
}
.ms-spimn-presence-donotdisturb-oof-8x72x4
{
left:-31px;
top:-75px;
}
.ms-spimn-presence-offline-10x10x32
{
left:-25px;
top:-217px;
}
.ms-spimn-presence-offline-16x16x32
{
left:-73px;
top:-199px;
}
.ms-spimn-presence-offline-5x36x32
{
left:-169px;
top:-39px;
}
.ms-spimn-presence-offline-5x48x32
{
left:-57px;
top:-149px;
}
.ms-spimn-presence-offline-8x72x32
{
left:-91px;
top:-75px;
}
.ms-spimn-presence-offline-10x10x4
{
left:-220px;
top:-169px;
}
.ms-spimn-presence-offline-16x16x4
{
left:-91px;
top:-199px;
}
.ms-spimn-presence-offline-5x36x4
{
left:-176px;
top:-115px;
}
.ms-spimn-presence-offline-5x48x4
{
left:-50px;
top:-149px;
}
.ms-spimn-presence-offline-8x72x4
{
left:-41px;
top:-75px;
}
.ms-spimn-presence-offline-oof-10x10x32
{
left:-13px;
top:-217px;
}
.ms-spimn-presence-offline-oof-16x16x32
{
left:-215px;
top:-1px;
}
.ms-spimn-presence-offline-oof-5x36x32
{
left:-169px;
top:-77px;
}
.ms-spimn-presence-offline-oof-5x48x32
{
left:-43px;
top:-149px;
}
.ms-spimn-presence-offline-oof-8x72x32
{
left:-51px;
top:-75px;
}
.ms-spimn-presence-offline-oof-10x10x4
{
left:-1px;
top:-217px;
}
.ms-spimn-presence-offline-oof-16x16x4
{
left:-109px;
top:-199px;
}
.ms-spimn-presence-offline-oof-5x36x4
{
left:-176px;
top:-77px;
}
.ms-spimn-presence-offline-oof-5x48x4
{
left:-8px;
top:-149px;
}
.ms-spimn-presence-offline-oof-8x72x4
{
left:-91px;
top:-1px;
}
.ms-spimn-presence-disconnected-10x10x32
{
left:-85px;
top:-217px;
}
.ms-spimn-presence-disconnected-16x16x32
{
left:-190px;
top:-163px;
}
.ms-spimn-presence-disconnected-5x36x32
{
left:-162px;
top:-77px;
}
.ms-spimn-presence-disconnected-5x48x32
{
left:-141px;
top:-101px;
}
.ms-spimn-presence-disconnected-8x72x32
{
left:-111px;
top:-1px;
}
.ms-spimn-presence-disconnected-10x10x4
{
left:-208px;
top:-163px;
}
.ms-spimn-presence-disconnected-16x16x4
{
left:-190px;
top:-181px;
}
.ms-spimn-presence-disconnected-5x36x4
{
left:-183px;
top:-77px;
}
.ms-spimn-presence-disconnected-5x48x4
{
left:-92px;
top:-149px;
}
.ms-spimn-presence-disconnected-8x72x4
{
left:-71px;
top:-1px;
}
.ms-spimn-presence-disconnected-oof-10x10x32
{
left:-73px;
top:-217px;
}
.ms-spimn-presence-disconnected-oof-16x16x32
{
left:-215px;
top:-37px;
}
.ms-spimn-presence-disconnected-oof-5x36x32
{
left:-162px;
top:-115px;
}
.ms-spimn-presence-disconnected-oof-5x48x32
{
left:-85px;
top:-149px;
}
.ms-spimn-presence-disconnected-oof-8x72x32
{
left:-1px;
top:-75px;
}
.ms-spimn-presence-disconnected-oof-10x10x4
{
left:-61px;
top:-217px;
}
.ms-spimn-presence-disconnected-oof-16x16x4
{
left:-1px;
top:-199px;
}
.ms-spimn-presence-disconnected-oof-5x36x4
{
left:-183px;
top:-39px;
}
.ms-spimn-presence-disconnected-oof-5x48x4
{
left:-148px;
top:-51px;
}
.ms-spimn-presence-disconnected-oof-8x72x4
{
left:-101px;
top:-75px;
}
table.ms-listviewtable
{
border-collapse:separate;
}
.ms-vh,.ms-vh2,.ms-vhImage,.ms-vh2-nograd,.ms-vh3-nograd,.ms-vh2-nograd-icon,.ms-vh2-nofilter-icon,.ms-ph{
padding:5px 17px 5px 5px;
}
.ms-vh-icon,.ms-vh-icon-empty,.ms-vh2-nofilter,.ms-vh2-nofilter-notextalign,.ms-vh2-nofilter-perm
{
padding:5px;
}
.ms-vh-icon > div > .s4-ctx,.ms-vh-icon-empty > div > .s4-ctx
{
display:none;
}
.ms-vh-hoverable:hover
{
/* [ReplaceColor(themeColor:"HoverBackground")] */ background-color:rgba( 205,230,247,0.5 );
}
.ms-core-needIEFilter .ms-vh-hoverable:hover
{
/* [ReplaceColor(themeColor:"HoverBackground")] */ -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=rgba( 205,230,247,0.5 ),endColorstr=rgba( 205,230,247,0.5 ))";;
}
.ms-headerCellStyleHover
{
/* [ReplaceColor(themeColor:"HoverBackground")] */ background-color:rgba( 205,230,247,0.5 );
}
.ms-core-needIEFilter .ms-headerCellStyleHover{
/* [ReplaceColor(themeColor:"HoverBackground")] */ -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7fcde6f7,endColorstr=#7fcde6f7)";
}
.ms-headerCellStylePressed
{
/* [ReplaceColor(themeColor:"SelectionBackground",opacity:"1")] */ background-color:#9ccef0;
}
.ms-headerCellStyleMenuOpen
{
/* [ReplaceColor(themeColor:"SelectionBackground")] */ background-color:rgba( 156,206,240,0.5 );
}
.ms-core-needIEFilter .ms-headerCellStyleMenuOpen{
/* [ReplaceColor(themeColor:"SelectionBackground")] */ -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7f9ccef0,endColorstr=#7f9ccef0)";
}
.ms-vh2-nofilter,.ms-vh2-nofilter-notextalign,.ms-vh2-nofilter-perm,.ms-vh a,.ms-vh2,.ms-vh2 a
{
/* [ReplaceColor(themeColor:"SubtleBodyText")] */ color:#777;
}
.ms-headerCellStyleHover a,
.ms-headerCellStylePressed a,
.ms-headerCellStyleMenuOpen a
{
/* [ReplaceColor(themeColor:"CommandLinks")] */ color:#666;
}
.ms-headerSortTitleLink,.ms-headerSortArrowLink
{
cursor:default;
}
.ms-headerSortArrowLink
{
display:block;
}
.ms-headerCellStyleIcon:hover
{
/* [ReplaceColor(themeColor:"AccentLines")] */ border-bottom-color:#2a8dd4;
}
.ms-spGrid-HeaderContentStyle
{
padding:7px 22px 6px 4px;
}
.ms-spGrid-HeaderContentStyle-Rename
{
padding:3px 5px 0px 5px;
}
.ms-minWidthHeader
{
width:1px;
}
.ms-cellstyle,.ms-cellStyleNonEditable,.ms-cellStyleMenuHover,.ms-MenuCellStyle-TdHover,.ms-MenuCellStyle-MenuDivHover
{
border:solid 1px transparent;
}
.ms-list-itemLink
{
margin-left:auto;
margin-right:auto;
text-align:center;
width:30px;
height:25px;
}
.ms-list-TitleLink
{
width:250px;
}
.ms-lstItmLinkAnchor
{
margin-top:6px;
}
.ms-list-itemLink-td
{
width:30px;
vertical-align:top;
}
.ms-vh-selectAllIcon
{
vertical-align:middle;
width:30px;
padding:0px;
}
.ms-vh-selectAllIcon:hover
{
/* [ReplaceColor(themeColor:"HoverBackground")] */ background-color:rgba( 205,230,247,0.5 );
}
.ms-core-needIEFilter .ms-vh-selectAllIcon:hover
{
/* [ReplaceColor(themeColor:"HoverBackground")] */ -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7fcde6f7,endColorstr=#7fcde6f7)";;
}
.ms-vb-imgFirstCell.ms-vb-imgFirstCell.ms-vb-imgFirstCell
{
cursor:pointer;
border-width:0px;
border-right-width:10px;
}
.ms-vb-imgFirstCell:hover,.ms-vb-imgFirstCell:focus
{
/* [ReplaceColor(themeColor:"HoverBackground")] */ background-color:rgba( 205,230,247,0.5 );
}
.s4-itm-selected > .ms-vb-imgFirstCell.ms-vb-imgFirstCell
{
/* [ReplaceColor(themeColor:"RowAccent")] */ background-color:#0072c6;
/* [ReplaceColor(themeColor:"SelectionBackground")] */ border-right-color:rgba( 156,206,240,0.5 );
background-clip:padding-box;
-webkit-background-clip:padding;
}
.s4-itm-imgCbx
{
outline-style:none;
width:20px;
text-align:center;
}
.s4-itm-imgCbx-inner
{
width:20px;
height:100%;
}
.ms-selectitem-span
{
visibility:hidden;
display:inline-block;
height:10px;
width:10px;
position:relative;
overflow:hidden;
}
.ms-selectitem-icon
{
position:absolute;
}
.ms-vb-imgFirstCell:hover .ms-selectitem-icon,.ms-vb-imgFirstCell:focus .ms-selectitem-icon,.ms-itmHoverEnabled:hover .ms-selectitem-icon
{
left:-32px;
top:-256px;
}
.s4-itm-selected .ms-selectitem-icon.ms-selectitem-icon
{
left:-44px;
top:-256px;
}
.s4-itm-selected .ms-selectitem-span,.ms-vb-imgFirstCell:hover .ms-selectitem-span,.ms-vb-imgFirstCell:focus .ms-selectitem-span,.ms-itmHoverEnabled:hover .ms-selectitem-span
{
visibility:visible;
}
.ms-selectall-span
{
display:inline-block;
height:25px;
width:25px;
line-height:25px;
text-align:center;
}
.ms-selectall-iconouter
{
outline:none;
display:inline-block;
height:10px;
width:10px;
position:relative;
overflow:hidden;
text-align:center;
margin-left:-3px;
}
.ms-selectall-icon
{
left:-32px;
top:-256px;
position:absolute;
}
.ms-newdocument-iconouter
{
display:inline-block;
height:16px;
width:16px;
position:relative;
overflow:hidden;
text-align:center;
top:4px;
}
.ms-newdocument-icon
{
left:-91px;
top:-196px;
position:absolute;
}
.ms-filter-iconouter
{
display:inline-block;
height:10px;
width:12px;
position:relative;
overflow:hidden;
margin:0px 2px;
}
.ms-filter-icon
{
left:-251px;
top:-174px;
position:absolute;
}
.ms-sortarrowdown-iconouter
{
display:inline-block;
height:10px;
width:7px;
position:relative;
overflow:hidden;
margin:0px 2px;
}
.ms-sortarrowdown-icon
{
left:-23px;
top:-256px;
position:absolute;
}
.ms-sortarrowup-iconouter
{
display:inline-block;
height:10px;
width:7px;
position:relative;
overflow:hidden;
margin:0px 2px;
}
.ms-sortarrowup-icon
{
left:-14px;
top:-256px;
position:absolute;
}
.ms-commentcollapse-iconouter
{
display:inline-block;
height:12px;
width:12px;
position:relative;
overflow:hidden;
}
.ms-commentcollapse-icon
{
left:-251px;
top:-146px;
position:absolute;
}
.ms-commentcollapsertl-iconouter
{
display:inline-block;
height:12px;
width:12px;
position:relative;
overflow:hidden;
}
.ms-commentcollapsertl-icon
{
left:-251px;
top:-160px;
position:absolute;
}
.ms-commentexpand-iconouter
{
display:inline-block;
height:12px;
width:12px;
position:relative;
overflow:hidden;
}
.ms-commentexpand-icon
{
left:-253px;
top:-186px;
position:absolute;
}
.ms-commentexpandrtl-iconouter
{
display:inline-block;
height:12px;
width:12px;
position:relative;
overflow:hidden;
}
.ms-commentexpandrtl-icon
{
left:-251px;
top:-118px;
position:absolute;
}
.ms-updatelink-span
{
height:16px;
width:16px;
position:relative;
display:inline-block;
overflow:hidden;
}
.ms-updatelink-icon
{
left:-109px;
top:-196px;
position:absolute;
}
table.ms-listviewtable tbody > tr > td.ms-vb-lastCell{
padding-right:10px;
}
.ms-spgrid-col-header-normal
{
font-size:0.85em;
font-weight:normal;
/* [ReplaceColor(themeColor:"SubtleBodyText")] */ color:#777;
background-color:transparent;
/* [ReplaceColor(themeColor:"SubtleLines")] */ border-bottom-color:#c6c6c6;
border-right-color:transparent;
border-top-color:transparent;
border-left-color:transparent;
}
.ms-spgrid-col-header-normal-hover
{
font-size:0.85em;
font-weight:normal;
/* [ReplaceColor(themeColor:"CommandLinks")] */ color:#666;
/* [ReplaceColor(themeColor:"HoverBackground")] */ background-color:rgba( 205,230,247,0.5 );
/* [ReplaceColor(themeColor:"SubtleLines")] */ border-bottom-color:#c6c6c6;
border-right-color:transparent;
border-top-color:transparent;
border-left-color:transparent;
}
.ms-spgrid-col-header-elem-bg-colors-normal-hover
{
background-color:transparent;
border-left-color:transparent;
border-bottom-color:transparent;
border-right-color:transparent;
}
.ms-spgrid-col-header-elem-hover-bg-colors-normal-hover
{
background-color:transparent;
border-left-color:transparent;
border-top-color:transparent;
border-bottom-color:transparent;
}
.ms-spgrid-col-elem-colors-click-normal-hover
{
background-color:transparent;
border-left-color:transparent;
}
.ms-spgrid-col-header-part-selected
{
font-size:0.85em;
font-weight:normal;
/* [ReplaceColor(themeColor:"SubtleBodyText")] */ color:#777;
background-color:transparent;
/* [ReplaceColor(themeColor:"AccentLines")] */ border-bottom-color:#2a8dd4;
border-right-color:transparent;
border-top-color:transparent;
border-left-color:transparent;
}
.ms-spgrid-col-header-part-selected-hover
{
font-size:0.85em;
font-weight:normal;
/* [ReplaceColor(themeColor:"CommandLinks")] */ color:#666;
/* [ReplaceColor(themeColor:"HoverBackground")] */ background-color:rgba( 205,230,247,0.5 );
/* [ReplaceColor(themeColor:"AccentLines")] */ border-bottom-color:#2a8dd4;
border-right-color:transparent;
border-top-color:transparent;
border-left-color:transparent;
}
.ms-spgrid-col-header-elem-bg-colors-part-selected-hover
{
background-color:transparent;
border-left-color:transparent;
border-bottom-color:transparent;
border-right-color:transparent;
}
.ms-spgrid-col-header-elem-hover-bg-colors-part-selected-hover
{
background-color:transparent;
border-left-color:transparent;
border-top-color:transparent;
border-bottom-color:transparent;
}
.ms-spgrid-col-elem-colors-click-part-selected-hover
{
background-color:transparent;
border-left-color:transparent;
}
.ms-spgrid-col-header-all-selected
{
font-size:0.85em;
font-weight:normal;
/* [ReplaceColor(themeColor:"SubtleBodyText")] */ color:#777;
background-color:transparent;
/* [ReplaceColor(themeColor:"AccentLines")] */ border-bottom-color:#2a8dd4;
border-right-color:transparent;
border-top-color:transparent;
border-left-color:transparent;
}
.ms-spgrid-col-header-all-selected-hover
{
font-size:0.85em;
font-weight:normal;
/* [ReplaceColor(themeColor:"CommandLinks")] */ color:#666;
/* [ReplaceColor(themeColor:"HoverBackground")] */ background-color:rgba( 205,230,247,0.5 );
/* [ReplaceColor(themeColor:"AccentLines")] */ border-bottom-color:#2a8dd4;
border-right-color:transparent;
border-top-color:transparent;
border-left-color:transparent;
}
.ms-spgrid-col-header-elem-bg-colors-all-selected-hover
{
background-color:transparent;
border-left-color:transparent;
border-bottom-color:transparent;
border-right-color:transparent;
}
.ms-spgrid-col-header-elem-hover-bg-colors-all-selected-hover
{
background-color:transparent;
border-left-color:transparent;
border-top-color:transparent;
border-bottom-color:transparent;
}
.ms-spgrid-col-elem-colors-click-all-selected-hover
{
background-color:transparent;
border-left-color:transparent;
}
.ms-standardheader
{
font-size:1em;
margin:0px;
text-align:left;
font-weight:normal;
}
.ms-formlabel
{
white-space:nowrap;
font-weight:normal;
padding:6px 5px 6px 0px;
}
.ms-formlabel h3.ms-standardheader
{
font-weight:normal;
}
.ms-formbody
{
background:transparent;
padding:6px 0px;
}
.ms-formdescriptioncolumn-wide
{
width:200px;
}
.ms-formdescriptioncolumn-slim
{
width:113px;
}
.ms-propertysheet th.ms-vh2-nofilter-notextalign
{
font-family:tahoma,sans-serif;
}
.ms-inputformheader
{
padding-left:6px;
}
.ms-inputformdescription
{
width:475px;
padding-right:9px;
padding-left:6px;
}
.ms-inputformcontrols
{
width:375px;
}
.ms-sectionheader
{
/* [ReplaceColor(themeColor:"AccentText")] */ color:#0072c6;
font-weight:bold;
}
.ms-sectionheader a,.ms-sectionheader a:hover,.ms-sectionheader a:visited
{
/* [ReplaceColor(themeColor:"AccentText")] */ color:#0072c6;
text-decoration:none;
}
.ms-sectionline
{
font-size:0px;
}
.ms-sectionline > img:first-child
{
display:none;
}
.ms-listheaderlabel{
/* [ReplaceColor(themeColor:"BodyText")] */ color:#444;
}
.ms-menutoolbar td td.ms-viewselector,.ms-menutoolbar td td.ms-viewselectorhover,.ms-toolbar td td.ms-viewselector,.ms-toolbar td td.ms-viewselectorhover,td.ms-viewselector{
padding:0px;
}
.ms-menutoolbar td td{
border:none;
}
div.ms-viewselector,div.ms-viewselectorhover{
padding:4px 8px;
cursor:pointer;
}
div.ms-viewselector a,div.ms-viewselectorhover a.ms-menu-a span{
/* [ReplaceColor(themeColor:"AccentText")] */ color:#0072c6;
}
.ms-bottompagingline{
padding-top:10px;
padding-bottom:1px;
padding-left:36px;
}
.ms-bottompaging > tbody > tr > td.ms-bottompagingline{
padding-left:0px;
}
.ms-bottompagingline1{
height:3px;
}
.ms-bottompagingline2,.ms-bottompagingline3{
height:1px;
}
.ms-bottompagingline2 img,.ms-bottompagingline3 img,.ms-partline img{
display:none;
}
.ms-paging{
white-space:nowrap;
padding:0px 5px 2px 5px;
}
.ms-menutoolbar .ms-splitbuttondropdown{
padding:3px 2px 0px 2px;
}
.ms-menutoolbar .ms-splitbuttontext{
padding:0px 7px 1px 7px;
}
.ms-splitbutton{
margin:0px 2px;
}
.ms-splitbuttonhover{
margin:0px 2px;
border-collapse:collapse;
height:22px;
/* [ReplaceColor(themeColor:"HoverBackground")] */ background-color:rgba( 205,230,247,0.5 );}
.ms-splitbuttonhover .ms-splitbuttondropdown{
padding:3px 1px 0px 2px;
}
.ms-splitbuttonhover .ms-splitbuttontext{
padding:0px 6px 0px 6px;
}
.ms-splitbuttonhover .ms-splitbuttondropdown,.ms-splitbuttonhover .ms-splitbuttontext{
/* [ReplaceColor(themeColor:"SubtleLines")] */ border:solid 1px #c6c6c6;
cursor:pointer;
}
.ms-vh table.ms-selectedtitle,.ms-vh2 table.ms-selectedtitle,.ms-vh-icon table.ms-selectedtitle,.ms-vh table.ms-unselectedtitle,.ms-vh2 table.ms-unselectedtitle,.ms-vh-icon table.ms-unselectedtitle{
height:21px;
}
.ms-vh table.ms-selectedtitle,.ms-vh2 table.ms-selectedtitle,.ms-vh-icon table.ms-selectedtitle{
/* [ReplaceColor(themeColor:"HeaderBackground")] */ background-color:rgba( 255,255,255,0.85 );
border:none;
}
.ms-vh2 .ms-selectedtitle .ms-vb,.ms-vh2 .ms-unselectedtitle .ms-vb{
padding-left:5px;
padding-right:5px;
padding-top:1px;
}
.ms-vh-icon .ms-selectedtitle .ms-vb,.ms-vh-icon .ms-unselectedtitle .ms-vb{
padding-left:0px;
vertical-align:middle;
border-bottom:solid 3px transparent;
}
.ms-selectedtitle{
/* [ReplaceColor(themeColor:"HeaderBackground")] */ background-color:rgba( 255,255,255,0.85 );
/* [ReplaceColor(themeColor:"WebPartHeading")] */ border:1px solid #444;
margin:0px;
padding:0px;
cursor:pointer;
}
.ms-selectedtitlealternative
{
/* [ReplaceColor(themeColor:"HeaderBackground")] */ background-color:rgba( 255,255,255,0.85 );
/* [ReplaceColor(themeColor:"WebPartHeading")] */ border:1px solid #444;
margin:0px;
padding:0px;
cursor:pointer;
}
.ms-unselectedtitle{
background-color:transparent;
margin:0px;
padding:0px;
}
.ms-newgif{
display:inline-block;
margin-left:5px;
}
.ms-menuimagecell{
/* [ReplaceColor(themeColor:"BackgroundOverlay",opacity:"1")] */ background-color:#fff;
cursor:pointer;
/* [ReplaceColor(themeColor:"BackgroundOverlay",opacity:"1")] */ border:solid 1px #fff;
padding:0px;
height:18px;
}
.ms-vh .ms-menuimagecell,.ms-vh2 .ms-menuimagecell,.ms-vh-icon .ms-menuimagecell{
height:20px;
}
.ms-vh .ms-menuimagecell img,.ms-vh2 .ms-menuimagecell img,.ms-vh-icon .ms-menuimagecell img{
margin-top:2px;
margin-bottom:2px;
}
.ms-vh,.ms-vh2,.ms-vh-icon,.ms-vh-icon-empty,.ms-vh2-nofilter,.ms-vh2-nofilter-notextalign,.ms-vh2-nofilter-perm,.ms-vhImage,.ms-vh2-nograd,.ms-vh3-nograd,.ms-vh2-nograd-icon,.ms-vh2-nofilter-icon,.ms-ph{
font-weight:normal;
font-size:0.85em;
/* [ReplaceColor(themeColor:"SubtleBodyText")] */ color:#777;
text-align:left;
text-decoration:none;
vertical-align:middle;
white-space:nowrap;
}
.ms-vh-icon{
vertical-align:middle;
}
.ms-vh2-nofilter-notextalign{
text-align:inherit;
}
.ms-gb,.ms-gb2,.ms-gbload,.ms-vb-tall,.ms-vb-user,.ms-pb,.ms-pb-selected td{
/* [ReplaceColor(themeColor:"BodyText")] */ color:#444;
}
.ms-gb a,.ms-gb2 a{
/* [ReplaceColor(themeColor:"SubtleBodyText")] */ color:#777;
}
.ms-vh,.ms-vh2,.ms-vh2-nograd,.ms-vh3-nograd,.ms-vh2-nograd-icon,.ms-vh2-nofilter-icon,.ms-ph{
white-space:nowrap;
}
.ms-vh,.ms-vh2,.ms-vh-icon,.ms-vh2-nofilter-icon,.ms-viewheadertr .ms-vh-group,.ms-vh2-nograd,.ms-vh3-nograd,.ms-vh2-nograd-icon,.ms-ph,.ms-pickerresultheadertr{
background-repeat:repeat-x;
}
.ms-disc .ms-viewheadertr th.ms-vh2{
padding:1px 5px 0px 4px;
}
.ms-viewheadertr{
cursor:default;
}
.ms-disc .ms-vh2 .ms-selectedtitle .ms-vb,.ms-disc .ms-vh2 .ms-unselectedtitle .ms-vb{
padding-left:4px;
}
th.ms-vh3-nograd{
width:12px;
/* [ReplaceColor(themeColor:"SubtleBodyText")] */ color:#777;
}
.ms-vh .ms-vh{
background-image:none;
border-left:none;
padding-left:1px;
background-color:transparent;
}
.ms-vh-div{
}
.ms-vh-icon,.ms-vh2-nograd-icon,.ms-vh2-nofilter-icon{
width:16px;
min-width:16px;
}
.ms-vh-icon-empty{
width:0px;
}
.ms-imnImgTD
{
padding-right:6px;
padding-bottom:0px;
}
.ms-vhltr
{
padding-right:2px;
}
.ms-vhrtl .ms-imnImgTD
{
padding-left:2px;
}
.ms-imnTxtTD
{
padding-top:0px;
padding-bottom:0px;
}
.ms-vhImage{
width:18pt
}
.ms-gb{
/* [ReplaceColor(themeColor:"Lines")] */ border-bottom:1px solid #ababab;
height:22px;
font-weight:bold;
padding-bottom:3px;
}
.ms-gb .ms-vb2{
font-weight:normal;
}
.ms-listviewtable .ms-gb,.ms-listviewtable .ms-gb2{
padding-top:14px;
}
.ms-gb2{
height:22px;
/* [ReplaceColor(themeColor:"SubtleBodyText")] */ color:#777;
padding-bottom:3px;
}
.ms-gbload{
height:22px;
/* [ReplaceColor(themeColor:"SubtleBodyText")] */ color:#777;
padding-bottom:3px;
}
.ms-vb,.ms-vb2,.ms-vb-user,.ms-vb-tall,.ms-pb,.ms-pb-selected
{
/* [ReplaceColor(themeColor:"BodyText")] */ color:#444;
vertical-align:top;
}
.ms-vb a:link,.ms-vb2 a:link,.ms-vb-user a:link{
text-decoration:none;
}
.ms-vb a.ms-listlink,.ms-vb2 a.ms-listlink,.ms-vb-user a.ms-listlink,.ms-vb a.ms-listlink:visited,.ms-vb a.ms-listlink:visited:hover{
/* [ReplaceColor(themeColor:"BodyText")] */ color:#444;
text-decoration:none;
}
.ms-vb a:hover,.ms-vb2 a:hover{
text-decoration:underline;
}
td.ms-list-addnew > a:hover{
text-decoration:none;
}
.ms-vb a:visited,.ms-vb2 a:visited,.ms-vb-user a:visited{
/* [ReplaceColor(themeColor:"Hyperlink")] */ color:#0072c6;
text-decoration:none;
}
.ms-vb a:visited:hover,.ms-vb2 a:visited:hover,.ms-vb-user a:visited:hover{
/* [ReplaceColor(themeColor:"Hyperlink")] */ color:#0072c6;
text-decoration:underline;
}
.ms-alternatingstrong .ms-vb a:link,.ms-alternatingstrong .ms-vb2 a:link,.ms-alternatingstrong .ms-vb-user a:link,.ms-alternatingstrong .ms-vb a:visited,.ms-alternatingstrong .ms-vb2 a:visited,.ms-alternatingstrong .ms-vb-user a:visited,.ms-alternatingstrong .ms-vb a:visited:hover,.ms-alternatingstrong .ms-vb2 a:visited:hover,.ms-alternatingstrong .ms-vb-user a:visited:hover{
/* [ReplaceColor(themeColor:"Hyperlink")] */ color:#0072c6;
}
.ms-vb-icon{
vertical-align:top;
padding:7px 8px 0px 4px;
cursor:default;
white-space:nowrap;
}
.ms-vb-icon > img{
height:16px;
width:16px;
}
img.ms-vb-icon-overlay{
height:9px;
width:9px;
}
.ms-vb-icon-overlay{
border:0px;
position:relative;
left:-7px;/* _locComment="{StringCat=STY}{ValidString=!@RTLLangs@;-7px}{ValidString=@RTLLangs@;7px}" */
bottom:-2px;
height:9px;
width:9px;
}
.ms-vb-user{
padding-top:4px;
padding-right:2px;
padding-left:4px;
}
.ms-vb-user a{
vertical-align:top;
}
.ms-vb-title .ms-vb{
padding:2px 6px 3px 4px;
}
.ms-vb2{
padding:4px 8px 4px 4px;
}
.ms-pb,.ms-pb-selected{
padding-left:5px;
padding-right:5px;
white-space:nowrap;
}
.ms-pb{
height:22px;
padding-top:3px;
}
.ms-pb-selected{
height:22px;
padding-top:3px;
/* [ReplaceColor(themeColor:"SelectionBackground")] */ background-color:rgba( 156,206,240,0.5 );
/* [ReplaceColor(themeColor:"SelectionBackground")] */ border-top:1px solid rgba( 156,206,240,0.5 );
/* [ReplaceColor(themeColor:"SelectionBackground")] */ border-bottom:1px solid rgba( 156,206,240,0.5 );
}
.ms-pb a,.ms-pb-selected a{
/* [ReplaceColor(themeColor:"BodyText")] */ color:#444;
text-decoration:none;
cursor:default;
}
.ms-vb-tall{
line-height:1.5em;
padding:2px 6px 10px 6px;
}
th .ms-vb,.ms-vh2-nofilter-icon,th.ms-vh2-nograd,th.ms-vh2-nograd-icon{
/* [ReplaceColor(themeColor:"BodyText")] */ color:#444;
}
th .ms-vb a,.ms-vh2-nofilter-icon a{
/* [ReplaceColor(themeColor:"BodyText")] */ color:#444;
}
th .ms-selectedtitle .ms-vb,th .ms-selectedtitle .ms-vh2-nofilter-icon,th .ms-selectedtitle .ms-vb a,th .ms-selectedtitle .ms-vh2-nofilter-icon a{
/* [ReplaceColor(themeColor:"SubtleBodyText")] */ color:#777;
}
.ms-vb-menuPadding
{
padding-right:15px;
}
.ms-vh2-nofilter-icon,.ms-vh2-nograd,.ms-vh3-nograd,.ms-vh2-nograd-icon{
padding-left:8px;
padding-right:8px;
padding-top:3px;
height:20px;
}
table.ms-listviewtable tbody tr.ms-newsletteralt td{
/* [ReplaceColor(themeColor:"SubtleEmphasisBackground")] */ background-color:#f1f1f1;
/* [ReplaceColor(themeColor:"SubtleEmphasisBackground")] */ border:1px solid #f1f1f1;
}
.ms-core-needIEFilter table.ms-listviewtable tbody tr.ms-newsletteralt td{
/* [ReplaceColor(themeColor:"SubtleEmphasisBackground",opacity:"1")] */ border:1px solid #efefef;
/* [ReplaceColor(themeColor:"SubtleEmphasisBackground")] */ -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#c6efefef,endColorstr=#c6efefef)";
}
table.ms-listviewtable tbody tr td.ms-newsletterline{
/* [ReplaceColor(themeColor:"SubtleEmphasisBackground")] */ border-top:1px solid #f1f1f1;
}
.ms-core-needIEFilter table.ms-listviewtable tbody tr td.ms-newsletterline{
/* [ReplaceColor(themeColor:"SubtleEmphasisBackground",opacity:"1")] */ border:1px solid #efefef;
}
.ms-nlline{
/* [ReplaceColor(themeColor:"SubtleEmphasisBackground")] */ background:#f1f1f1;
}
.ms-ppleft{
height:440px;
margin:2px;
overflow-y:auto;
overflow-x:hidden;
padding-right:20px;
}
.ms-ppright{
width:600px;
margin:8px;
}
.ms-basictable .ms-alternating{
background-color:transparent;
}
a.ms-addnew{
font-weight:normal;
/* [ReplaceColor(themeColor:"CommandLinks")] */ color:#666;
text-decoration:none;
}
a.ms-addnew:hover{
/* [ReplaceColor(themeColor:"CommandLinks")] */ color:#666;
text-decoration:underline;
}
td.ms-addnew{
padding-left:10px;
padding-right:7px;
padding-top:5px;
}
.ms-list-addnew{
padding-top:8px;
padding-bottom:12px;
font-weight:normal;
text-align:left;
}
.ms-number{
padding-right:8px;
}
.ms-list-emptyText{
padding-top:0px;
padding-bottom:96px;
/* [ReplaceColor(themeColor:"SubtleBodyText")] */ color:#777;
}
.ms-list-emptyText-compact{
padding-top:0px;
padding-bottom:12px;
/* [ReplaceColor(themeColor:"SubtleBodyText")] */ color:#777;
}
table.ms-listviewtable > tbody > tr > td.ms-stylebox{
/* [ReplaceColor(themeColor:"Lines")] */ border:1px solid #ababab;
text-align:left
}
.ms-alternating
{
background-color:transparent;
}
.ms-alternatingstrong
{
/* [ReplaceColor(themeColor:"SubtleEmphasisBackground")] */ background-color:#f1f1f1;
}
.ms-core-needIEFilter .ms-alternatingstrong{
/* [ReplaceColor(themeColor:"SubtleEmphasisBackground")] */ -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#c6efefef,endColorstr=#c6efefef)";
}
.ms-alternatingstrong td td,.ms-basictable .ms-alternating td td{
border:0px;
}
ms-imnSpan
{
white-space:nowrap;
overflow:hidden;
}
a.ms-imnlink
{
cursor:default;
}
.ms-spimn-presenceLink
{
display:inline-block;
padding:1px 0px 1px 0px;
}
.ms-spimn-presenceWrapper
{
display:inline-block;
white-space:nowrap;
position:relative;
overflow:hidden;
}
.ms-imnImg
{
display:inline-block;
margin-right:6px;
}
.ms-imnImgInline
{
margin-right:3px;
}
.ms-peopleux-detailsMaxWidth
{
max-width:150px;
}
.ms-peopleux-userdisplink
{
margin-right:3px;
position:relative;
}
.ms-peopleux-userdetails
{
display:table-cell;
vertical-align:top;
padding-top:0px;
padding-left:8px;
}
.ms-peopleux-userdetails > UL
{
margin:0px;
}
.ms-peopleux-detailuserline
{
padding-top:2px;
}
.ms-peopleux-vanillaUser
{
padding-right:3px;
}
.ms-peopleux-userImgDiv
{
position:relative;
overflow:hidden;
}
.ms-peopleux-imgUserLink
{
display:inline-block;
padding:1px 1px 1px 0px;
}
.ms-peopleux-userImgWrapper
{
display:inline-block;
overflow:hidden;
position:relative;
}
.ms-peopleux-userImg
{
position:absolute;
left:0px;
height:auto;
}
input.ms-defaultverticalalign{
vertical-align:baseline;
}
.ms-listviewtable .ms-itmhover
{
height:30px;
}
.ms-listviewtable input.s4-itm-cbx
{
position:absolute;
top:-2000px;
}
tr.ms-itmhover:hover input.s4-itm-cbx,tr.s4-itm-selected input.s4-itm-cbx
{
position:relative;
top:0px;
}
.ms-vb-title{
vertical-align:top;
padding:2px 16px 2px 1px;
}
.s4-ctx{
padding:0px 4px;
position:absolute;
display:block;
cursor:default;
}
.s4-ctx a{
cursor:default;
}
.ms-vb-title .s4-ctx-show
{
/* [ReplaceColor(themeColor:"HoverBackground")] */ background-color:rgba( 205,230,247,0.5 );
}
.ms-core-needIEFilter .ms-vb-title .s4-ctx-show
{
background-color:transparent;
/* [ReplaceColor(themeColor:"SelectionBackground")] */ -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7f9ccef0,endColorstr=#7f9ccef0)";
}
.ms-itmHoverEnabled:hover > *{
/* [ReplaceColor(themeColor:"HoverBackground")] */ background-color:rgba( 205,230,247,0.5 );
border:1px solid transparent;
}
.ms-itmHoverEnabled:hover .ms-list-itemLink-td{
/* [ReplaceColor(themeColor:"HoverBackground",opacity:"1")] */ background-color:#cde6f7;
}
.s4-itm-selected > *,.s4-itm-selected:hover > *{
/* [ReplaceColor(themeColor:"SelectionBackground")] */ background-color:rgba( 156,206,240,0.5 );
border:1px solid transparent;
}
.s4-itm-selected .ms-list-itemLink-td,.s4-itm-selected:hover .ms-list-itemLink-td{
/* [ReplaceColor(themeColor:"SelectionBackground",opacity:"1")] */ background-color:#9ccef0;
}
.ms-core-needIEFilter .s4-itm-selected>td,.ms-core-needIEFilter .s4-itm-selected:hover>td{
/* [ReplaceColor(themeColor:"SelectionBackground")] */ -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7f9ccef0,endColorstr=#7f9ccef0)";
}
.s4-ctx span{
font-size:0pt;
visibility:hidden;
}
.s4-ctx > a > img{
border:0px none transparent;
text-decoration:none;
vertical-align:middle;
}
.s4-ctx > a > img:visited,.ctxImg > a > img:hover{
border:0px none transparent;
text-decoration:none;
}
input.ms-vb-itmcbx{
min-width:16px;
vertical-align:top;
cursor:default;
}
.s4-hide-tr > tbody > tr{
display:none;
}
.ms-csrlistview-controldiv{
padding-bottom:9px;
}
.ms-csrlistview-viewselectormenu{
margin:0px;
padding:0px 0px 0px 5px;
cursor:pointer;
display:inline;
white-space:nowrap;
}
.ms-csrlistview-viewselectormenu .ms-viewselector-arrow{
margin:6px 5px 11px 8px;
}
.ms-csrlistview-viewselectormenu .ms-viewselector,.ms-csrlistview-viewselectormenu .ms-viewselectorhover{
display:inline-block;
margin:0px 15px 5px 0px;
padding:2px 5px 2px 0px;
}
.ms-csrlistview-viewselectormenu .ms-viewselectorhover .ms-menu-a{
cursor:default;
text-decoration:none;
}
.ms-viewselectorhover .ms-viewselector-currentView{
/* [ReplaceColor(themeColor:"AccentText")] */ color:#0072c6;
}
.ms-pivotControl-container{
margin-right:30px;
padding-bottom:7px;
}
.ms-pivotControl-overflowDot{
width:16px;
height:16px;
overflow:hidden;
position:relative;
display:inline-block;
vertical-align:bottom;
}
.ms-pivotControl-surfacedOpt,
.ms-pivotControl-surfacedOpt-selected{
margin-right:20px;
}
.ms-pivotControl-container,
.ms-pivotControl-surfacedOpt,
.ms-pivotControl-surfacedOpt-selected,
.ms-pivotControl-overflowSpan,
.ms-pivotControl-overflowDot{
display:inline-block;
}
.ms-pivotControl-surfacedOpt,
.ms-pivotControl-overflowDot{
/* [ReplaceColor(themeColor:"CommandLinks")] */ color:#666;
}
.ms-pivotControl-surfacedOpt:hover,
.ms-pivotControl-overflowDot:hover,
.ms-pivotControl-surfacedOpt-selected{
/* [ReplaceColor(themeColor:"CommandLinksHover")] */ color:#0072c6;
}
.ms-pivotControl-surfacedOpt:hover,
.ms-pivotControl-overflowDot:hover,
.ms-pivotControl-surfacedOpt-selected:hover{
cursor:pointer;
text-decoration:none;
}
.ms-viewselector-arrow{
vertical-align:middle;
}
.ms-menu-althov .ms-menu-hovarw{
display:none !important;
}
.ms-menu-althov-active .ms-menu-stdarw{
display:none !important;
}
.ms-menu-althov-active span.ms-menu-hovarw{
display:inline-block !important;
}
.ms-menu-althov-active .ms-menu-hovarw{
display:inline;
}
.ms-rifield
{
height:28px;
}
.ms-rifield-icon
{
float:left;
margin:5px 10px 5px 0px;
}
.ms-rifield-title
{
padding-top:5px;
}
.ms-rifield-remove
{
float:right;
}
.ms-rifield-showall
{
float:left;
margin-top:10px
}
.ms-addcolumn-span
{
height:16px;
width:16px;
position:relative;
display:inline-block;
overflow:hidden;
}
.ms-addcolumn-icon
{
left:-200px;
top:-84px;
position:absolute;
}
.ms-list-addnew-imgSpan16
{
height:16px;
width:16px;
position:relative;
display:inline-block;
overflow:hidden;
margin-right:5px;
margin-top:-1px;
vertical-align:middle;
}
.ms-list-addnew-img16
{
left:-233px;
top:-138px;
position:absolute;
}
.ms-heroCommandLink:hover .ms-list-addnew-imgSpan16 > .ms-list-addnew-img16
{
left:-233px;
top:-120px;
}
.ms-list-addnew-imgSpan,
.ms-list-addnew-imgSpan20
{
height:20px;
width:20px;
position:relative;
display:inline-block;
overflow:hidden;
margin-right:5px;
vertical-align:middle;
}
.ms-list-addnew-img,
.ms-list-addnew-img20
{
left:-67px;
top:-180px;
position:absolute;
}
.ms-heroCommandLink:hover .ms-list-addnew-imgSpan > .ms-list-addnew-img,
.ms-heroCommandLink:hover .ms-list-addnew-imgSpan20 > .ms-list-addnew-img20
{
left:-131px;
top:-134px;
}
.ms-csrformvalidation
{
margin-top:6px;
display:inline-block;
}
.ms-ellipsis-a,.ms-ellipsis-a-tile
{
position:relative;
display:inline-block;
overflow:hidden;
}
.ms-ellipsis-a
{
height:16px;
width:16px;
}
.ms-ellipsis-a-tile
{
height:16px;
width:16px;
float:right;
}
.ms-ellipsis-icon,.ms-ellipsis-icon-tile
{
position:absolute;
}
.ms-ellipsis-icon
{
left:-1px;
top:-238px;
}
.ms-ellipsis-icon-tile
{
left:-37px;
top:-202px;
/* [ReplaceColor(themeColor:"TileText")] */ color:#fff;
}
.ms-lstItmLinkAnchor
{
vertical-align:middle;
}
table.ms-toolbar{
height:45px;
border:none;
/* [ReplaceColor(themeColor:"SubtleLines")] */ border:1px solid #c6c6c6;
}
.ms-menutoolbar{
/* [ReplaceColor(themeColor:"SubtleLines")] */ border-bottom:1px solid #c6c6c6;
height:45px;
}
.ms-menutoolbar td{
padding:0px 0px 0px 4px;
margin:0px;
border:none;
}
.ms-menutoolbar td a{
text-decoration:none;
}
.ms-menutoolbar td a:hover{
text-decoration:none;
}
.ms-menubuttoninactivehover,.ms-buttoninactivehover{
margin:3px;
padding:3px 4px 4px;
border:1px solid transparent;
background-color:transparent;
white-space:nowrap;
}
.ms-menubuttonactivehover,.ms-buttonactivehover{
margin:3px;
padding:3px 4px 4px 4px;
/* [ReplaceColor(themeColor:"SubtleLines")] */ border:solid 1px #c6c6c6;
cursor:pointer;
}
.ms-buttoninactivehover{
white-space:nowrap;
}
.ms-buttoninactivehover img,.ms-buttonactivehover img{
margin:0px 1px 0px 0px;
}
td.ms-menutoolbarheader{
padding:auto 7px;
}
span.ms-viewselector,span.ms-viewselectorhover{
padding:4px 8px;
cursor:pointer;
}
.ms-InlineSearch-Outline-Baseline
{
width:178px;
border-style:solid;
border-width:1px;
height:22px;
padding:0px 0px 0px 5px;
margin:-4px 0px 0px;
white-space:nowrap;
float:left;
}
.ms-InlineSearch-Outline-Empty
{
/* [ReplaceColor(themeColor:"Lines")] */ border-color:#ababab;
}
.ms-InlineSearch-Outline-Focused
{
/* [ReplaceColor(themeColor:"AccentLines")] */ border-color:#2a8dd4;
}
.ms-InlineSearch-Outline-Filled
{
/* [ReplaceColor(themeColor:"StrongLines")] */ border-color:#92c0e0;
}
input.ms-InlineSearch-SearchBox-Baseline.ms-InlineSearch-SearchBox-Baseline
{
background-color:transparent;
margin:0px;
padding:0px;
width:152px;
height:22px;
border-width:0px;
vertical-align:middle;
outline:none;
}
input.ms-InlineSearch-SearchBox-Baseline::-ms-clear
{
display:none;
}
.ms-InlineSearch-SearchBox-EmptyFocused
{
font-style:normal;
/* [ReplaceColor(themeColor:"BodyText")] */ color:#444;
}
.ms-InlineSearch-SearchBox-EmptyUnfocused.ms-InlineSearch-SearchBox-EmptyUnfocused
{
/* [ReplaceColor(themeColor:"SubtleBodyText")] */ color:#777;
}
.ms-InlineSearch-SearchBox-Filled.ms-InlineSearch-SearchBox-Filled
{
/* [ReplaceColor(themeColor:"BodyText")] */ color:#444;
}
.ms-InlineSearch-SearchProgress
{
background-color:transparent;
white-space:nowrap;
padding:2px 2px 0px 0px;
margin:-4px 0px 2px 5px;
float:left;
}
.ms-InlineSearch-SearchStatus
{
background-color:transparent;
display:block;
}
.ms-InlineSearch-DivBaseline
{
display:inline-block;
vertical-align:middle;
}
.ms-vl-apptile,.ms-vl-apptile-tenant
{
display:inline-block;
width:288px;
min-height:96px;
margin-right:13px;
margin-bottom:16px;
white-space:nowrap;
vertical-align:top;
}
.ms-vl-apptile-tenant
{
margin-right:16px;
}
.ms-vl-applist
{
margin-top:16px;
}
.ms-vl-sectionHeaderRow
{
/* [ReplaceColor(themeColor:"SubtleLines")] */ border-bottom:solid 1px #c6c6c6;
}
.ms-vl-sectionHeader
{
margin-bottom:8px;
display:inline-block;
}
.ms-vl-appimage
{
vertical-align:top;
display:inline-block;
height:96px;
}
.ms-vl-appinfo,.ms-vl-appinfo-tenant
{
min-height:96px;
width:180px;
vertical-align:top;
display:inline-block;
margin-left:5px;
margin-right:5px;
white-space:normal;
}
.ms-vl-appinfo-tenant
{
margin-left:9px;
}
.ms-vl-callout
{
word-break:normal;
}
.ms-vl-recent
{
/* [ReplaceColor(themeColor:"BackgroundOverlay",opacity:"1")] */ color:#fff;
/* [ReplaceColor(themeColor:"SearchURL")] */ background-color:#338200;
padding:3px 4px;
display:inline-block;
}
.ms-vl-callout-beak
{
/* [ReplaceColor(themeColor:"SubtleEmphasisBackground")] */ background-color:#f1f1f1;
}
.ms-core-needIEFilter .ms-vl-callout-beak
{
background-color:transparent;
/* [ReplaceColor(themeColor:"SubtleEmphasisBackground")] */ -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#c6efefef,endColorstr=#c6efefef)";
}
.ms-vl-appdescription,.ms-vl-apptitle
{
white-space:normal;
word-break:normal;
}
.ms-vl-apptitle,a:visited.ms-vl-apptitle
{
line-height:1.2;
display:inline-block;
text-decoration:none;
border:1px solid transparent;
/* [ReplaceColor(themeColor:"BodyText")] */ color:#444;
}
.ms-vl-appnewsubsitelink
{
margin-bottom:8px;
display:inline-block;
}
.ms-vl-apptitle:hover
{
text-decoration:none;
}
.ms-vl-apptitleouter
{
display:inline-block;
width:160px;
max-height:2.5em;
overflow:hidden;
}
.ms-vl-newSubsiteHeaderSpacer
{
height:16px;
}
.ms-vl-calloutarrow,a:hover.ms-vl-calloutarrow
{
vertical-align:top;
text-decoration:none;
margin-top:1px;
/* [ReplaceColor(themeColor:"BodyText")] */ color:#444;
}
.ms-vl-settingsmarginleft
{
margin-left:20px;
}
.ms-vl-alignactionsmiddle > .ms-splinkbutton-text
{
vertical-align:top;
}
.ms-vl-pointer
{
cursor:pointer;
}
.ms-vl-siteicon
{
padding-right:11px;
}
a.ms-vl-disabledapp
{
text-decoration:none;
cursor:default;
/* [ReplaceColor(themeColor:"DisabledText")] */ color:#b1b1b1;
}
.ms-vl-disabledapp > div
{
/* [ReplaceColor(themeColor:"DisabledText")] */ color:#b1b1b1;
cursor:default;
}
.ms-vl-disabledapp > .ms-vl-appimage > a > img
{
cursor:default;
}
.ms-vl-disabledapp > .ms-vl-appimage > a
{
opacity:0.3;
}
.ms-vl-disabledapp > .ms-vl-appimage
{
/* [ReplaceColor(themeColor:"DisabledBackground")] */ background-color:#fdfdfd;
}
.ms-vl-calloutversion
{
margin-bottom:4px;
margin-top:10px;
}
.ms-vl-calloutterms
{
margin-bottom:5px;
}
.ms-vl-appstatus
{
white-space:normal;
width:180px;
}
.ms-vl-apptileselected
{
/* [ReplaceColor(themeColor:"SelectionBackground")] */ background-color:rgba( 156,206,240,0.5 );
}
.ms-vl-apptilehover:hover
{
/* [ReplaceColor(themeColor:"HoverBackground")] */ background-color:rgba( 205,230,247,0.5 );
}
.ms-vl-appadd-img
{
left:-1px;
top:-30px;
position:absolute;
}
div.ms-ssc-siteNameSection
{
margin-bottom:9px;
}
.ms-ssc-siteTitleBoxLine
{
margin-bottom:1px;
}
.ms-ssc-previewUrlLine
{
line-height:2.2em;
height:2.2em;
}
.ms-ssc-mgdPathDropdown
{
margin:0px 2px;
}
.ms-ssc-customValidator
{
display:block;
margin-top:3px;
}
.ms-ssc-moreAdmins .sp-peoplepicker-errorMsg
{
margin-left:0px;
font-size:.9em;
}
.ms-ssc-buttonSection .ms-ButtonHeightWidth
{
margin-left:6px;
}
.ms-newdoc-callout-main
{
padding-top:10px;
margin-bottom:-7px;
}
.ms-newdoc-callout-item
{
padding:10px 0px;
margin-left:-20px;
margin-right:-20px;
cursor:default;
}
.ms-newdoc-callout-item:hover
{
/* [ReplaceColor(themeColor:"HoverBackground")] */ background-color:rgba( 205,230,247,0.5 );
text-decoration:none;
}
.ms-core-needIEFilter .ms-newdoc-callout-item:hover
{
background-color:transparent;
/* [ReplaceColor(themeColor:"HoverBackground")] */ -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7fcde6f7,endColorstr=#7fcde6f7)";;
text-decoration:none;
}
.ms-newdoc-callout-text
{
margin-left:10px;
}
.ms-newdoc-callout-img
{
margin-left:20px;
}
.sp-peoplepicker-topLevel,.sp-peoplepicker-topLevelDisabled{
cursor:text;
height:100%;
width:371px;
position:relative;
padding:3px 25px 3px 0px;
}
input.sp-peoplepicker-editorInput[type=text]{
border:0px;
padding:0px 1px;
margin-left:5px;
vertical-align:inherit;
background-color:transparent;
}
input.sp-peoplepicker-editorInput[type=text]:focus{
outline:0px;
}
input.sp-peoplepicker-editorInput::-ms-clear{
display:none;
}
.sp-peoplepicker-autoFillContainer{
z-index:1;
padding:0px;
display:none;
cursor:default;
max-width:300px;
min-width:300px;
position:absolute;
/* [ReplaceColor(themeColor:"SubtleLines")] */ border-color:#c6c6c6;
}
.sp-peoplepicker-initialHelpText{
top:3px;
left:4px;
position:absolute;
}
.sp-peoplepicker-autoFillPresence{
z-index:1;
width:20px;
height:20px;
position:absolute;
}
.sp-peoplepicker-userSpan{
cursor:pointer;
white-space:nowrap;
display:inline-block;
margin:0px 5px 1px 2px;
}
.sp-peoplepicker-delImage{
margin-left:3px;
}
.sp-peoplepicker-delImage:hover{
text-decoration:none;
}
.sp-peoplepicker-userPresence{
margin-right:3px;
display:inline-block;
}
.sp-peoplepicker-userSpan .ms-entity-unresolved{
font-style:normal;
}
.sp-peoplepicker-userSpan .ms-entity-resolved{
vertical-align:bottom;
}
.sp-peoplepicker-userSpan .ms-entity-unresolved,.sp-peoplepicker-userSpan .ms-entity-resolved{
overflow:hidden;
}
.sp-peoplepicker-userDisplayLink{
/* [ReplaceColor(themeColor:"BodyText")] */ color:#444;
}
.sp-peoplepicker-userDisplayLink:hover{
text-decoration:none;
}
.sp-peoplepicker-waitImg{
width:16px;
height:16px;
display:none;
font-size:0px;
position:absolute;
}
.sp-peoplepicker-errorMsg{
margin-top:6px;
margin-left:6px;
display:inline-block;
}
.ms-core-menu-footer{
margin:0px;
cursor:default;
padding:0px 12px 7px 5px;
}
.ms-core-menu-loading{
margin:0px;
cursor:default;
text-align:center;
}
.sp-peoplepicker-autoFillContainer .ms-core-menu-item{
white-space:nowrap;
padding:1px 5px 3px 5px;
}
.sp-peoplepicker-autoFillContainer .ms-core-menu-link{
padding:0px;
}
.sp-peoplepicker-autoFillContainer .ms-core-menu-label{
display:block;
}
.sp-autoFill-menu{
min-width:100%;
}
.sp-peoplepicker-autoFillContainer .sp-autoFill-scroll{
width:100%;
border:none;
margin:0px;
padding:0px;
min-width:100%;
padding-top:3px;
overflow-y:auto;
overflow-x:hidden;
margin-right:10px;
list-style-type:none;
box-shadow:0px 0px 0px 0px transparent;
/* [ReplaceColor(themeColor:"BackgroundOverlay",opacity:"1.0")] */ background-color:#fff;
}
.sp-autoFill-scroll .ms-core-menu-label{
border:none;
}
.ms-pageinformation td,
.ms-pageinformation th
{
text-align:left;
}
.ms-featurealtrow
{
/* [ReplaceColor(themeColor:"SubtleEmphasisBackground")] */ background-color:#f1f1f1;
}
.ms-core-needIEFilter .ms-featurealtrow
{
background-color:transparent;
/* [ReplaceColor(themeColor:"SubtleEmphasisBackground")] */ -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#c6efefef,endColorstr=#c6efefef)";
}
.ms-featurestatus
{
/* [ReplaceColor(themeColor:"EmphasisText")] */ color:#fff;
/* [ReplaceColor(themeColor:"EmphasisBackground",opacity:"1")] */ background-color:#0072c6;
margin-right:10px;
padding:7px;
}
.ms-cbp
{
padding-left:3px;
}
.ms-storMeFree{
/* [ReplaceColor(themeColor:"SubtleEmphasisBackground",opacity:"1")] */ background-color:#efefef;
/* [ReplaceColor(themeColor:"SubtleEmphasisBackground")] */ background-color:#f1f1f1;
}
.ms-storMeUsed{
/* [ReplaceColor(themeColor:"EmphasisBackground",opacity:"1")] */ background-color:#0072c6;
/* [ReplaceColor(themeColor:"EmphasisText")] */ color:#fff;
padding-left:8px;
padding-right:8px;
padding-top:3px;
padding-bottom:3px;
}
.ms-storman-quotabarouter{
height:8px;
width:100px;
border-style:solid;
border-width:1px;
}
.ms-storman-quotabarnormalcol{
border-color:#649b61;
}
.ms-storman-quotabarwarningcol{
border-color:#fff19d;
}
.ms-storman-quotabarcriticalcol{
border-color:#d80303;
}
a.ms-taskListShortcutCallout
{
height:16px;
width:16px;
display:inline-block;
overflow:hidden;
vertical-align:bottom;
}
span.ms-taskListShortcutCalloutSpan
{
height:16px;
width:16px;
/* [RecolorImage(themeColor:"BodyText",method:"Filling",includeRectangle:{x:161,y:178,width:16;height:16})] */ background:url("/_layouts/15/images/spcommon.png?rev=33") no-repeat -161px -178px;
display:inline-block;
}
.ms-viewtotalselect{
width:104px;
}
.ms-recycleBinIconSpan
{
display:inline-block;
overflow:hidden;
position:relative;
height:16px;
width:16px;
}
.ms-recycleBinIconImg
{
top:-156px;
left:-197px;
position:absolute;
}
.ms-dtinput,.ms-dttimeinput{
vertical-align:middle;
padding:0px 4px 0px 0px;
}
.ms-dttimeinput{
direction:ltr;
}
.ms-linksection-iconCell
{
vertical-align:top;
}
.ms-siteSettings-root .ms-linksection-iconCell
{
display:none;
}
.ms-linksection-title
{
/* [ReplaceColor(themeColor:"BodyText")] */ color:#444;
}
.ms-siteSettings-root .ms-linksection-textCell
{
width:280px;
}
.ms-linksection-columnBox
{
padding-right:50px;
vertical-align:top;
}
.ms-linksection-textCell
{
padding-bottom:26px;
}
.ms-linksection-listRoot
{
list-style-type:none;
padding-left:0px;
margin:auto;
}
