<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
  </system.web>

  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="webBinding">
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="VBRESTfulWCFServiceProvider.UserServiceBehavior"
       name="VBRESTfulWCFServiceProvider.UserService">
        <endpoint address="" behaviorConfiguration="VBRESTfulWCFServiceProvider.UserServiceBehavior"
         binding="webHttpBinding" bindingConfiguration="webBinding" contract="VBRESTfulWCFServiceProvider.IUserService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="VBRESTfulWCFServiceProvider.UserServiceBehavior">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="VBRESTfulWCFServiceProvider.UserServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  
</configuration>
