.searchResults header[role=banner] .titlearea {
    -ms-grid-columns: auto 20px 1fr 20px;
    display: -ms-grid;
}

    .searchResults header[role=banner] .titlearea .pagetitle {
        width: auto;
    }

    .searchResults header[role=banner] .titlearea .pagesubtitle {
        -ms-grid-column: 3;
        margin-top: 32px;
    }

.searchResults section[role=main] {
    /* Define a grid with rows for the filters and results */
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 180px 1fr;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    display: -ms-grid;
}

    .searchResults section[role=main] .resultsmessage {
        margin-left: 120px;
        margin-right: 120px;
        margin-top: 193px;
    }

    .searchResults section[role=main] .filterbar {
        -ms-font-feature-settings: "case" 1;
        -ms-grid-row: 1;
        height: auto;
        list-style-type: none;
        margin-left: 60px;
        margin-right: 60px;
        margin-top: 133px;
        margin-bottom: 20px; 
        max-width: calc(100% - 120px);
        position: relative;
        white-space: normal; 
        z-index: 1;
    }

        .searchResults section[role=main] .filterbar li {
            display: inline;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 5px;
            opacity: 0.6;
        }

            .searchResults section[role=main] .filterbar li.highlight, .searchResults section[role=main] .filterbar li:hover {
                opacity: 1.00;
            }

    .searchResults section[role=main] .resultslist {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        height: 100%;
        position: relative;
        width: 100%;
        z-index: 0;
    }

        .searchResults section[role=main] .resultslist .win-vertical.win-viewport .win-surface {
            margin-bottom: 60px;
            margin-left: 90px;
            margin-right: 90px;
            margin-top: 198px;
        }

        .searchResults section[role=main] .resultslist .win-container {
            margin-bottom: 10px;
            margin-left: 23px;
            margin-right: 23px;
        }

        .searchResults section[role=main] .resultslist .item {
            /* Define a grid with columns for an icon, spacing and item details */
            -ms-grid-columns: 40px 10px 1fr;
            -ms-grid-rows: 1fr;
            display: -ms-grid;
            height: 80px;
            padding-left: 7px;
            padding-right: 7px;
            padding-top: 1px;
            /*width: 280px;*/
            width: 600px; 
        }

            .searchResults section[role=main] .resultslist .item .item-image {
                -ms-grid-column: 1;
                -ms-grid-row: 1;
                height: 40px;
                margin-top: 6px;
                width: 40px;
            }

            .searchResults section[role=main] .resultslist .item .item-content {
                -ms-grid-column: 3;
                -ms-grid-row: 1;
            }

                .searchResults section[role=main] .resultslist .item .item-content .item-subtitle, .searchResults section[role=main] .resultslist .item .item-content .item-description {
                    opacity: 0.6;
                }

                /* Define a style for both selected filters and text matching the query. */
                .searchResults section[role=main] .resultslist .item .item-content mark {
                    -ms-high-contrast-adjust: none;
                    background: transparent;
                    color: rgba(90, 183, 227, 1);
                }
