#controlStyleMessage
{
    padding: 6px;
}

#controlStyleMessage.dark
{
    background-color: rgb(17,17,17);
    color: rgb(255,255,255);
}

#controlStyleMessage.light
{
    background-color: white;
    color: rgb(33, 33, 33);
}

/* don't need tick mark on the color slider */
input[type="range"].colorSlider::-ms-track
{
    color: transparent;
}

#redSlider::-ms-fill-lower
{
    background-color: red;
}

#greenSlider::-ms-fill-lower
{
    background-color: green;
}

#blueSlider::-ms-fill-lower
{
    background-color: blue;
}