/* styles */

/* detailed description under the name of each sub example */
.detail 
{
    font-size: 9pt;
    margin-top: 6px;
}

/* two column layout of all the scenarios */
.twoColumnGridContainer-ControlList 
{
    display: -ms-grid;
    -ms-grid-columns: 300px auto;    
}

/*save space when the creen has less width */
@media screen and (max-width: 800px) 
{
    .twoColumnGridContainer-ControlList
    {
        -ms-grid-columns: 200px auto;
    }
}

.twoColumnGridContainer-ControlList > div
{
    margin: 10px 0px 20px 30px;
}

.noWrap
{
    min-width: 400px; /* avoid wrapping into multiple lines when the width is small, make it horizontally scrollable instead. */
}

.differentBackground
{
    padding: 50px;
}

.ui-dark .differentBackground
{
    background-color: rgb(67, 76, 62);
}

.ui-light .differentBackground
{
    background-color: rgb(181, 202, 146);
}

.lightBackground
{
    background-color: white;
    color: rgb(33, 33, 33);
    padding: 50px;
}

.darkBackground
{
    background-color: rgb(17,17,17);
    color: rgb(255,255,255);
    padding: 50px;
}

.stylingSampleAlign
{
    padding-left: 50px;
}
