input[type="file"].differentFileUploadStyle {
    background-color: rgba(242, 242, 242, 0.3);
    border: 0px;
    border-radius: 5px;
    width: 296px;
    padding: 0px;
    height: 30px;
}

input[type="file"].differentFileUploadStyle::-ms-value {
    border: 0px;
    background-color: transparent;  /* let the background color of the control show through */
    color: rgb(161, 161, 161);
    margin: 0px 10px 0px 10px;      /* add some margin to the left and right so that the text doesn't go edge to edge */ 
}

input[type="file"].differentFileUploadStyle::-ms-browse {
    background-color: rgb(249, 184, 208);
    border: 0px;
    border-radius: 0px 5px 5px 0px;
    width: 30px;
    padding: 0px;
    color: transparent;             /* hide the default "Browse..." text */
    background-image: url("../images/plus.svg");
    background-size: 14px 14px;     /* resize the svg image */
    background-repeat: no-repeat;
    background-position: center;
}

input[type="file"].differentFileUploadStyle::-ms-browse:hover {
    background-color: rgb(246, 152, 187);
    color: transparent;
}

input[type="file"].differentFileUploadStyle::-ms-browse:hover:active {
    background-color: rgb(239, 73, 134);
    color: transparent;
}
