/* styles */
#content {
    float: left;    
    margin-top: 10px;
    margin-left: 15px;
}

.row {
    float: right;
    clear: right;
    margin: 5px;
}

.row span {
    text-align: right;
}

.row button {
    margin-left: 10px;
}

.row input {
    margin-left: 10px;     
}

#outputdiv {
    float: left;
    clear: right;
    margin-top: 20px;
    margin-left: 5px;
    visibility: hidden;
}

