<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:w="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="Microsoft.SDKSamples.LockScreenCall.CS" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Lock Screen Call C# sample</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>Assets\storeLogo-sdk.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="SDKSample.App" Executable="$targetnametoken$.exe" EntryPoint="SDKSample.App">
      <VisualElements DisplayName="Lock Screen Call C# sample" Logo="Assets\squareTile-sdk.png" SmallLogo="Assets\smallTile-sdk.png" Description="Lock Screen Call C# sample" ForegroundText="light" BackgroundColor="#00b2f0" ToastCapable="true">
        <LockScreen Notification="badge" BadgeLogo="Assets\badgelogo-sdk.png" />
        <DefaultTile ShowName="allLogos" ShortName="Lock Screen Call C#" />
        <SplashScreen Image="Assets\splash-sdk.png" BackgroundColor="#00b2f0" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="SamplePlaceholder">
          <BackgroundTasks>
            <Task Type="audio" />
            <Task Type="timer" />
          </BackgroundTasks>
        </Extension>
        <w:Extension Category="windows.lockScreenCall" />
      </Extensions>
    </Application>
  </Applications>
</Package>