<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="Microsoft.SDKSamples.TailoredBankAppShare.JS" 
            Version="1.0.0.0" 
            Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" />
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="sharedUserCertificates" />
  </Capabilities>
  <Extensions>
    <!--Certificates Extension-->
    <Extension Category="windows.certificates">
      <Certificates>
          <Certificate StoreName="Root" Content="myroot.cer" />
          <Certificate StoreName="CA" Content="mystandca.cer"/>
        <TrustFlags ExclusiveTrust="true" />
        <SelectionCriteria AutoSelect="true" />
      </Certificates>
    </Extension>
  </Extensions>
  <Properties>
    <DisplayName>TailoredBankAppShare JS Sample</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>images\storeLogo-sdk.png</Logo>
  </Properties>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Applications>
    <Application Id="App" StartPage="default.html">
       <VisualElements DisplayName="TailoredBankAppShare JS sample" Logo="images\squareTile-sdk.png" SmallLogo="images\smallTile-sdk.png" Description="TailoredBankAppShare JS sample" ForegroundText="light" BackgroundColor="#00b2f0" ToastCapable="false">
        <DefaultTile ShortName="TBA JS" ShowName="allLogos" />
        <SplashScreen BackgroundColor="#00b2f0" Image="images\splash-sdk.png" />
       </VisualElements>
    </Application>
  </Applications>
</Package>
