.ms-grid
{
    display: -ms-grid;
    -ms-grid-rows: 100px 1fr 50px;
    -ms-grid-columns: 50px 1fr 50px;
	width: 100%;
	height: 100%;
}

#controllerPresent {
	color:#ff6a00;
	-ms-grid-column: 2;
	-ms-grid-row: 3;
	z-index: 1;
	text-align: center;
}

#sketchSurface {
	border: thick ridge black;
	background-color: #BFBFBF;
	width: 100%;
	height: 100%;
}

#banner {
	-ms-grid-row: 1;
	-ms-grid-column-span: 3;
}

#main {
	-ms-grid-row: 2;
	-ms-grid-column:2;
	width: 100%;
	height: 100%;
}

@media screen and (-ms-view-state: fullscreen-landscape)
{
}

@media screen and (-ms-view-state: filled)
{
}

@media screen and (-ms-view-state: snapped)
{
}

@media screen and (-ms-view-state: fullscreen-portrait)
{
}
