<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Defines.wxi ?>
    <Fragment Id="FragmentDebuggerProxy">
    <DirectoryRef Id="INSTALLDIR">
      <Component Id='DebuggerProxyAssembly' Guid='*'>
        <File Id='DebuggerProxyAssembly' Name='DebuggerProxy.dll' DiskId='1' Source='$(var.BuildOutputDir)DebuggerProxy.dll' KeyPath='yes' />
      </Component>
      <Component Id='DebuggerProxyManifest' Guid='*'>
        <File Id='DebuggerProxyManifest' Name='DebuggerProxy.dll.manifest' DiskId='1' Source='$(var.BuildOutputDir)DebuggerProxy.dll.manifest' KeyPath='yes' />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="DebuggerProxy">
      <ComponentRef Id="DebuggerProxyAssembly" />
      <ComponentRef Id="DebuggerProxyManifest" />
    </ComponentGroup>
    
    </Fragment>
</Wix>