<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Defines.wxi ?>
    <Fragment Id="FragmentProfiles">
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="ProfilesFolder" Name="Profiles">
        <Component Id='GeneralProfile' Guid='*'>
          <File Id='GeneralProfile' Name='General.vssettings' DiskId='1' Source='$(var.BuildOutputDir)Profiles\General.vssettings' KeyPath='yes' />
        </Component>
      </Directory>
    </DirectoryRef>
    </Fragment>
</Wix>