<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="Microsoft.SDKSamples.ControlChannelWebSocket.CPP" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="1.0.0.0" />
  <Properties>
    <DisplayName>ControlChannelWebSocket CPP sample</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>Assets\storeLogo-sdk.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="ControlChannelWebSocket.App" Executable="$targetnametoken$.exe" EntryPoint="ControlChannelWebSocket.App">
      <VisualElements DisplayName="ControlChannelWebSocket CPP sample" Description="ControlChannelWebSocket CPP sample" BackgroundColor="#00b2f0" ForegroundText="light" ToastCapable="true" Logo="Assets\squareTile-sdk.png" SmallLogo="Assets\smallTile-sdk.png">
        <DefaultTile ShortName="ControlChannelWebSocket CPP" />
        <LockScreen Notification="badge" BadgeLogo="Assets\badgelogo-sdk.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
        <SplashScreen BackgroundColor="#00b2f0" Image="Assets\splash-sdk.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" Executable="$targetnametoken$.exe" EntryPoint="BackgroundTaskHelper.PushNotifyTask">
          <BackgroundTasks>
            <Task Type="controlChannel" />
          </BackgroundTasks>
        </Extension>
        <Extension Category="windows.backgroundTasks" Executable="$targetnametoken$.exe" EntryPoint="BackgroundTaskHelper.NetworkChangeTask">
          <BackgroundTasks>
            <Task Type="controlChannel" />
            <Task Type="systemEvent" />
          </BackgroundTasks>
        </Extension>
        <Extension Category="windows.backgroundTasks" Executable="$targetnametoken$.exe" EntryPoint="Windows.Networking.Sockets.WebSocketKeepAlive">
          <BackgroundTasks>
            <Task Type="controlChannel" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="privateNetworkClientServer" />
  </Capabilities>
</Package>