<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <appSettings>
    <!-- IMPORTANT: You MUST read the ReadMe document to help you change these values -->
    <!-- The ClientId and ClientSecret below will NOT work for you -->
    <add key="ClientId" value="a3c84c97-1700-42f3-bbd8-999290313a61" />
    <add key="ClientSecret" value="7xBn8z9IS/BPPwIDoHx2FAIWPawL06z2MJ6uCaEFCKI=" />
    <add key="RedirectUrl" value="https://localhost:44315/Pages/OAuth.aspx" />
  </appSettings>
</configuration>