<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Real-Time Notifications</title>
    <script>
        var socket = undefined;
    </script>
</head>

<body>
    <div id="login">
        <h1>Connect</h1>
        <p>Your Name:<input type="text" id="name" /></p>
        <p><button id="loginBtn">Login</button></p>
        <script>
            document.getElementById("loginBtn").onclick = function () {
                var name = document.getElementById("name").value;
                var uri = "ws://" + window.location.host + "/LiveChat?Name=" + name;
                socket = new WebSocket(uri);

                socket.onopen = function () {
                    document.getElementById("login").style.display = "none";
                    document.getElementById("chat").style.display = "block";
                    document.getElementById("displayName").innerHTML = name;
                };

                var list = document.getElementById("messages");
                socket.onmessage = function (event) {
                    var result = JSON.parse(event.data);
                    var name = result.Sender;
                    var message = result.Message;

                    var item = document.createElement("li");
                    item.appendChild(document.createTextNode(name + " said:" + message));
                    list.appendChild(item);
                };
            };
        </script>
    </div>
    <div id="chat" style="display:none">
        <h1>Wellcome <span id="displayName"></span></h1>

        <p>To:<input type="text" id="to" /></p>
        <p>content:<input type="text" id="content" /></p>
        <p><button id="Send">Send</button></p>
        <script>
            document.getElementById("Send").onclick = function () {
                socket.send(JSON.stringify({
                    Receiver: document.getElementById("to").value,
                    Message: document.getElementById("content").value
                }));

                document.getElementById("content").value = "";
            };
        </script>

        <ul id="messages"></ul>
    </div>

    @*<script language="javascript" type="text/javascript">
            var uri = "ws://" + window.location.host + "/LiveChat?Name=Aslan";
            socket = new WebSocket(uri);
            socket.onmessage = function (event) {
                appendItem(list, event.data);
                console.log(event.data);
            };

            var list = document.getElementById("messages");
            var button = document.getElementById("sendButton");
            button.addEventListener("click", function() {

                var input = document.getElementById("textInput");
                sendMessage(input.value);

                input.value = "";
            });
            function sendMessage(message) {
                console.log("Sending: " + message);
                socket.send(message);
            }
            function appendItem(list, message) {
                var item = document.createElement("li");
                item.appendChild(document.createTextNode(message));
                list.appendChild(item);
            }
        </script>*@
</body>
</html>