<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="Microsoft.SDKSamples.ScheduledNotifications.VB" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Scheduled Notifcations VB Sample</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>Assets\storeLogo-sdk.png</Logo>
    <Description>Scheduled Notifcations VB sample</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Applications>
    <Application Id="ScheduledNotificationsSampleVB.App" Executable="$targetnametoken$.exe"   EntryPoint="ScheduledNotificationsSampleVB.App">
      <VisualElements DisplayName="Scheduled Notifications VB Sample" Logo="Assets\squareTile-sdk.png" SmallLogo="Assets\smallTile-sdk.png" Description="Scheduled Notifications VB Samples" ForegroundText="light"  BackgroundColor="#00b2f0" ToastCapable="true">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\tile-sdk.png"  ShortName ="SchedNotify VB"/>
        <SplashScreen Image="Assets\splash-sdk.png" BackgroundColor="#00b2f0" />
      </VisualElements>
    </Application>
  </Applications>
</Package>
