<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="Microsoft.SDKSamples.ScheduledNotifications.CS" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="1.0.0.0" />
  <Properties>
    <DisplayName>ScheduledNotifications CS Sample</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>Assets\storelogo-sdk.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="ScheduledNotifications.App" Executable="$targetnametoken$.exe" EntryPoint="ScheduledNotifications.App">
      <m2:VisualElements DisplayName="ScheduledNotifications C#" Square150x150Logo="Assets\squareTile-sdk.png" Square30x30Logo="Assets\smallTile-Windows-sdk.png" Description="ScheduledNotifications C#" BackgroundColor="#00b2f0" ForegroundText="light" ToastCapable="true">
        <m2:DefaultTile ShortName="ScheduledNotifications C#" Wide310x150Logo="Assets\tile-sdk.png" DefaultSize="square150x150Logo">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\splash-Windows-sdk.png" BackgroundColor="#00b2f0"/>
      </m2:VisualElements>
    </Application>
  </Applications>
</Package>

