<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="Microsoft.SDKSamples.PortableDevice.CPP" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="1.0.0.0" />
  <Properties>
    <DisplayName>PortableDevice CPP sample</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>Assets\storeLogo-sdk.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="PortableDeviceCPP.App" Executable="PortableDeviceCPP.exe" EntryPoint="PortableDeviceCPP.App">
      <VisualElements DisplayName="PortableDevice CPP sample" Logo="Assets\squareTile-sdk.png" SmallLogo="Assets\smallTile-sdk.png" Description="PortableDevice CPP sample" ForegroundText="light" BackgroundColor="#00b2f0">
        <DefaultTile ShortName="PortableDevice CPP" ShowName="allLogos" />
        <SplashScreen Image="Assets\splash-sdk.png" BackgroundColor="#00b2f0" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <DeviceCapability Name="6AC27878-A6FA-4155-BA85-F98F491D4F33"/> <!-- Required to access a portable device -->
    <DeviceCapability Name="0B9F1048-B94B-DC9A-4ED7-FE4FED3A0DEB"/> <!-- Optional, declare if using a Status device service -->
  </Capabilities>
</Package>