<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UserID" value="AnaC@contoso.com" />
    <add key="Password" value="Xu8d__3" />
    <add key="LiveIDConnectionUri" value="https://pod51037psh.outlook.com/PowerShell-LiveID?PSVersion=2.0\0"/>
    <add key="SchemaUri" value="http://schemas.microsoft.com/powershell/Microsoft.Exchange" />
    <!-- Optional Parameter -->
    <add key="AutodiscoverUrl" value="https://sixpr02.outlook.com/EWS/Exchange.asmx"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>