<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <base href="/">
</head>
<body>
    <app>Loading...</app>

    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
</body>
</html>