<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <customErrors mode="Off" />
      <trace enabled="true" localOnly="false" mostRecent="true" pageOutput="false" requestLimit="100" traceMode="SortByTime" writeToDiagnosticsTrace="true" />
    </system.web>
  <appSettings>
    <add key="ClientId" value="" />
    <add key="ClientSecret" value="WUOQ+u3GP5DpMTaPOt9p/w9BFMsgzUpbjFTfyrsX7n0=" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--Used by app for SharePoint-->
        <binding name="secureBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="https" bindingConfiguration="secureBinding" />
    </protocolMapping>
  </system.serviceModel>
</configuration>
