<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CSDataSqlCommand.Properties.Settings.MyConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MySchool;Integrated Security=True;Asynchronous Processing=true;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>