<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="Microsoft.SDKSamples.KeyboardEventsSample.VB" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Keyboard Events VB Sample</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>Assets\storeLogo-sdk.png</Logo>
    <Description>Keyboard Events SampleCS</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Applications>
    <Application Id="KeyboardEventsSampleVB.App" Executable="KeyboardEventsSampleVB.exe" EntryPoint="KeyboardEventsSampleVB.App">
      <VisualElements DisplayName="Keyboard Events VB Sample" Logo="Assets\squareTile-sdk.png" SmallLogo="Assets\smallTile-sdk.png" Description="KeyboardEvents VB Sample" ForegroundText="light"  BackgroundColor="#00b2f0">
        <DefaultTile ShowName="allLogos" ShortName="KeyVB"/>
        <SplashScreen Image="Assets\splash-sdk.png" BackgroundColor="#00b2f0" />
      </VisualElements>
    </Application>
  </Applications>
</Package>
