<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <appSettings>
        <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
        <add key="ValidationSettings:UnobtrusiveValidationMode" value="WebForms" />

        <!--
                // NOTE: these keys should be kept protected with DPAPI 
                // and not exposed in clear text within the web code.

               Visit https://manage.dev.live.com/ to get values for your application
            -->
        <add key="key_0" value="c2S9hfqqpxeHkQjAcAOvSCIxPYcOW5By" />

        <!--
            This value corresponds to "Client ID" field
          -->
        <add key="appId" value="00000000480C1164" />

        <!--
            This value corresponds to "Redirect domain" field
          -->
        <add key="audience" value="jsonwebtokensample.com" />
    </appSettings>
    
    <system.web>
      <compilation debug="false" targetFramework="4.5" />
      <httpRuntime requestValidationMode="4.5" targetFramework="4.5" encoderType="System.Web.Security.AntiXss.AntiXssEncoder, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <pages controlRenderingCompatibilityVersion="4.5" />
      <machineKey compatibilityMode="Framework45" />
    </system.web>

</configuration>
