/* The styles below control the appearance of the tiles in the game. */
/* The most important differences are the images used to imply nought, crosses, or available tiles, */
/* but also note that the hand pointer cursor is only used for available (blank) tiles */
/* to imply that they user can click it */
.blank {
    cursor:pointer;
    background-image:url(../images/blank.png);
    width:96px;
    height:96px;
    margin:2px;
    float:left;
}
.nought {
    cursor:default;
    background-image:url(../images/nought.png);
    width:96px;
    height:96px;
    margin:2px;
    float:left;
}
.cross {
    cursor:default;
    background-image:url(../images/cross.png);
    width:96px;
    height:96px;
    margin:2px;
    float:left;
}
