<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Data.Edm" version="5.6.1" targetFramework="win81" />
  <package id="Microsoft.Data.OData" version="5.6.1" targetFramework="win81" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="win81" />
  <package id="System.Spatial" version="5.6.1" targetFramework="win81" />
  <package id="WindowsAzure.Storage-Preview" version="3.0.3.0-preview" targetFramework="win81" />
</packages>