@model CSDetermineOSAndBrowserASPNETCore.UserAgent.UserAgent

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
</head>
<body>
    <div>
        <form action="/" method="get">
            Try type a user agent <br />
            <input type="text" id="userAgent" name="userAgent" value="@ViewBag.userAgent" style="width:100%" /><br />
            <button>Submit</button>
        </form>
    </div>

    <h1>OS</h1>
    <p>name:@Model.OS.Name</p>
    <p>version:@Model.OS.Version</p>

    <h1>Browser</h1>
    <p>name:@Model.Browser.Name</p>
    <p>version:@Model.Browser.Version</p>
    <p>major:@Model.Browser.Major</p>

</body>
</html>