body {
      font-family: Calibri;
    margin:0px auto;
    width:1024px;
    
}

#div_Header{
    height:45px;
    background-color:#0765b5;
    width:1020px;
}
#div_HeaderTitle{
      color:#ffffff;
    font-size:22px;
    padding:10px;
}


#div_Content{
    margin:0px 0px 0px 190px;
    width:800px;
    
}
#div_LeftNav {
    background-color:#f3f3f3;
    height:100%;
    width:188px;
    position:absolute;
}

    #div_LeftNav ul {
        padding:0px;
        margin:10px 0 0 0;
        list-style-type:none;
    }
        #div_LeftNav ul li {
           padding:10px 0px 10px 10px;
            height:20px;
  
        }
            #div_LeftNav ul li:hover {
                background-color:#dcdcdc;
            }
    #div_LeftNav ul li a {
        font-size:18px;
        color:#040404;
        font-weight:bold;
    }
        #div_LeftNav ul li a:link {
            text-decoration:none;
        }
#div_LeftNav ul li a:visited {
    text-decoration:none;
    color:#040404;
}