/********************************************************************************
**    Copyright (c) 2000 Microsoft Corporation. All Rights Reserved.
********************************************************************************/

#include <windows.h>
#include <winres.h>
#include "resource.h"
#include "version.h"

//
//  Icons.
//
IDI_AC97CPL  ICON    PRELOAD DISCARDABLE  "ac97cpl.ico"

//
//  String Tables.
//
STRINGTABLE DISCARDABLE
BEGIN
    IDS_AC97CPL         "AC97 codec"
    IDS_AC97CPLINFO     "Displays features of ac97 codec"
    IDS_AC97_WARNING_MUST_INSTALL_DRIVER 
                            "You must install the ac97 sample driver."
    IDS_AC97_WARNING_PROPERTYPAGE_DLL_COULD_NOT_LOAD 
                            "The ac97 property page DLL could not load."
    IDS_AC97_WARNING_PROPERTYPAGEPROVIDER_FAILURE 
                            "AC97PropPageProvider had a failure."
    IDS_AC97_WARNING_REINSTALL_DRIVER 
                            "Please reinstall the ac97 sample driver."
END

