<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EFDemoDBEntities" connectionString="metadata=res://*/EFOutputParameter.csdl|res://*/EFOutputParameter.ssdl|res://*/EFOutputParameter.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=EFDemoDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>