<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Defines.wxi ?>
  <Fragment Id="FragmentIronPythonProjectTemplates">
    <DirectoryRef Id="IronPythonExtensionFolder">
      <Directory Id="IronPythonProjectTemplatesFolder" Name="ProjectTemplates" DiskId="1" >
        <Directory Id="IronPythonProjectTemplatesIronPythonFolder" Name="IronPython" DiskId="1" >
          <Directory Id="IronPythonProjectTemplates1033Folder" Name="1033" DiskId="1" FileSource="$(var.IronPythonExtensionDir)ProjectTemplates\IronPython\1033" >
            <Component Id="IPClassLibProjectTemplate" Guid="*">
              <File Id="IPClassLibProjectTemplate" Name='IPClassLib.zip' KeyPath='yes' />
            </Component>
            <Component Id="IPConsoleAppProjectTemplate" Guid="*">
              <File Id="IPConsoleAppProjectTemplate" Name='IPConsoleApp.zip' KeyPath='yes' />
            </Component>
            <Component Id="IPWinformAppProjectTemplate" Guid="*">
              <File Id="IPWinformAppProjectTemplate" Name='IPWinformApp.zip' KeyPath='yes' />
            </Component>
            <Component Id="pyWPFApplicationProjectTemplate" Guid="*">
              <File Id="pyWPFApplicationProjectTemplate" Name='pyWPFApplication.zip' KeyPath='yes' />
            </Component>
            <Component Id="WebApplicationProjectTemplate" Guid="*">
              <File Id="WebApplicationProjectTemplate" Name='WebApplication.zip' KeyPath='yes' />
            </Component>
            <Component Id="WebServiceProjectTemplate" Guid="*">
              <File Id="WebServiceProjectTemplate" Name='WebService.zip' KeyPath='yes' />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </DirectoryRef>
    
    <ComponentGroup Id="IronPythonProjectTemplates">
      <ComponentRef Id="IPClassLibProjectTemplate"/>
      <ComponentRef Id="IPConsoleAppProjectTemplate"/>
      <ComponentRef Id="IPWinformAppProjectTemplate"/>
      <ComponentRef Id="pyWPFApplicationProjectTemplate"/>
      <ComponentRef Id="WebApplicationProjectTemplate"/>
      <ComponentRef Id="WebServiceProjectTemplate"/>
    </ComponentGroup>

  </Fragment>
</Wix>