<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <appSettings>
    <!-- IMPORTANT: You MUST read the ReadMe document to help you change these values -->
    <!-- The ClientId and ClientSecret below will NOT work for you -->
    <add key="ClientId" value="a65d1b82-00a6-4b23-8b16-c5e5c9ec3297" />
    <add key="ClientSecret" value="hXkb1kDEbOGrzKJ5x9RzFQZDlR6cDb5Bm1dWZX3opSg=" />
    <add key="RedirectUrl" value="https://localhost:44315/Pages/OAuth.aspx" />
  </appSettings>
</configuration>