
/**********************************************/
/*                                            */
/* General Styles used for all FlipViews      */
/*                                            */
/**********************************************/

.flipView
{
    width: 480px;
    height: 270px;
    border: solid 1px black;
    background-image: url("../images/texture.png");    
}

.flipViewContent
{
    width: 480px;
    height: 270px;
}

/**********************************************/
/*                                            */
/* Styles used in the Item Template           */
/*                                            */
/**********************************************/
.overlaidItemTemplate
{
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr;
    width: 480px;
    height: 270px;
}

    .overlaidItemTemplate img
    {
        width: 100%;
        height: 100%;
    }
    
    .overlaidItemTemplate .overlay
    {
        position: relative;
        -ms-grid-row-align: end;
        background-color: rgba(0,0,0,0.65);
        height: 40px;
        padding: 20px 15px;
        overflow: hidden;
    }

        .overlaidItemTemplate .overlay .ItemTitle
        {
            color: rgba(255, 255, 255, 0.8);
        }