<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Defines.wxi ?>
  <Fragment Id="FragmentIronPythonCodeSnippets">
    <DirectoryRef Id="IronPythonExtensionFolder">
      <Directory Id="IronPythonCodeSnippetsIndexFolder" Name="CodeSnippets" DiskId="1" FileSource="$(var.IronPythonExtensionDir)\CodeSnippets">
        <Component Id="SnippetsIndex" Guid="*">
          <File Id="SnippetsIndex" Name='SnippetsIndex.xml' KeyPath='yes' />
        </Component>
        <Directory Id='IronPythonCodeSnippetsFolder' Name='Snippets' DiskId='1' FileSource='$(var.IronPythonExtensionDir)\CodeSnippets\Snippets'>
          <Component Id="ClassSnippet" Guid="*">
            <File Id="ClassSnippet" Name='class.snippet' KeyPath='yes' />
          </Component>
          <Component Id="ConstructorSnippet" Guid="*">
            <File Id="ConstructorSnippet" Name='ctor.snippet' KeyPath='yes' />
          </Component>
          <Component Id="ElseSnippet" Guid="*">
            <File Id="ElseSnippet" Name='else.snippet' KeyPath='yes' />
          </Component>
          <Component Id="ForSnippet" Guid="*">
            <File Id="ForSnippet" Name='for.snippet' KeyPath='yes' />
          </Component>
          <Component Id="IfSnippet" Guid="*">
            <File Id="IfSnippet" Name='if.snippet' KeyPath='yes' />
          </Component>
          <Component Id="WhileSnippet" Guid="*">
            <File Id="WhileSnippet" Name='while.snippet' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>
    </DirectoryRef>
    
    <ComponentGroup Id="IronPythonCodeSnippets">
      <ComponentRef Id="SnippetsIndex" />
      <ComponentRef Id="ClassSnippet" />
      <ComponentRef Id="ConstructorSnippet" />
      <ComponentRef Id="ElseSnippet" />
      <ComponentRef Id="ForSnippet" />
      <ComponentRef Id="IfSnippet" />
      <ComponentRef Id="WhileSnippet" />
    </ComponentGroup>

  </Fragment>
</Wix>