<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Defines.wxi ?>

  <Product Id="5E374578-29AF-465A-9EA6-5119160ABE15" Name="IronPython Studio 2010 (Isolated)" Language="$(var.ProductLanguage)" Version="$(var.ProductVersion)" Manufacturer="$(var.CompanyName)" UpgradeCode="F133491E-3AE8-4E73-8FE0-1FE8F66EF14C">
    <Package InstallerVersion="200" Compressed="yes" Description="$(var.ProductDescription)" InstallPrivileges="elevated" InstallScope="perMachine" />

    <Property Id="ISOSHELLSFX">
      <RegistrySearch Id="IsoShellSfx" Root="HKLM" Key="Software\Microsoft\VisualStudio\$(var.ShellVersion)\Setup\IsoShell\$(var.ProductLanguage)" Name="ProductDir" Type="raw" />
    </Property>

    <Property Id="ARPPRODUCTICON">ProductIcon</Property>

    <Condition Message="This application requires $(var.ShellName).  Please install $(var.ShellName) then run this installer again.">
      <![CDATA[Installed OR ISOSHELLSFX]]>
    </Condition>

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="CompanyDirectory" Name="$(var.CompanyName)">
          <Directory Id="INSTALLDIR" Name="$(var.FullProductName)">
            <Directory Id="ExtensionsFolder" Name="Extensions" />
            <Directory Id="ResourcesFolder" Name="$(var.ProductLanguage)" />
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.FullProductName)"/>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="IronPython Studio 2010 (Isolated)" Level="1">
      <ComponentGroupRef Id="ApplicationGroup" />
      <ComponentRef Id="GeneralProfile" />
      <ComponentGroupRef Id="IronPythonExtension"/>      

      <!-- Note: The following ComponentGroupRef is required to pull in generated authoring from project references. -->
      <ComponentGroupRef Id="Product.Generated" />
    </Feature>

    <Icon Id="ProductIcon" SourceFile="Resources\Product.ico" />
  </Product>
</Wix>
