/* detailed description under the name of each sub example */


#myContentElement 
{
    display: -ms-grid;
    width: 350px;
    -ms-grid-rows: 40px auto;
    -ms-grid-row-align: start;
    padding: 10px;
}

#myContentElement_rating 
{
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    padding: 10px;
}

#myContentElement_description 
{
    -ms-grid-column: 2;
    -ms-grid-row-span: 2;
    font-size: 10pt;
}

#myContentElement_picture 
{
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    background-image: url("../images/SauceCaramel.png");
    background-position: center top;
    background-repeat: no-repeat;
}


/* scenario 2 - 1 ---------------------------------- */
/* the default for a div is display: block, which takes up the whole line and makes the tooltip appear 
    at the center of the line, so here set it to inline-block to wrap around the anchor. */
.tooltipAnchor
{
    display: inline-block;
}

#arrowButton
{
    border: 0px;
    margin: 0px;
    font-family: "Segoe UI Symbol";
    font-size: 40px;
    line-height: 40px;
    min-width: 0px;
    background-color: transparent;
}

#arrowButton:before
{
    content: "\27A1";
}

.strawberryTooltip
{
    text-align: center;
    font-family: "Segoe UI Semibold";
    line-height: 34px;
}

.win-rating.movieRating .win-star.win-average.win-empty
{
    color: rgba(0, 0, 0, 0.3);
}

.win-rating.movieRating .win-star.win-average.win-full
{
    color: rgb(33, 33, 33);
}

.win-rating.movieRating .win-star.win-user.win-empty
{
    color: rgba(0, 0, 0, 0.3);
}

.win-rating.movieRating .win-star.win-user.win-full
{
    color: rgb(53, 174, 67);
}
