.scrubbingGroup
{
    display: -ms-flexbox;
    -ms-flex-direction: column;
    -ms-flex-pack: justify;
    -ms-flex-align: center;
    width: 70px;
    
    /* Stop the page from panning/zooming, since the desired interaction model is that scrubbing should win over panning/zooming. */
    -ms-touch-action: none;
}

.scrubbingElement
{
    width: 68px;
    height: 68px;
    margin: 4px 10px 4px 10px;
    background-color: transparent;
    border: 0px;
    border-radius: 100%;
    line-height: normal;
    font-family: "Segoe UI Symbol";
    font-size: 50px;
    text-align: center;
}

.scrubbing-pressed
{
    color: white;
}

/* hospital */
#scrubbingElement1:before
{
    content: "\1F3E5";
}

#scrubbingElement1.scrubbing-pressed
{
    background-color: #f7921e;
}

/* bank */
#scrubbingElement2:before
{
    content: "\1F3E6";
}

#scrubbingElement2.scrubbing-pressed
{
    background-color: #ec1c23;
}

/* school */
#scrubbingElement3:before
{
    content: "\1F3EB";
}

#scrubbingElement3.scrubbing-pressed
{
    background-color: #00a650;
}

/* factory */
#scrubbingElement4:before
{
    content: "\1F3ED";
}

#scrubbingElement4.scrubbing-pressed
{
    background-color: #58409a;
}

#scrubbingInfo
{
    margin-top: 20px;
}
