/*-- Common CSS start --*/

/*root grid css*/
#rootGrid
{
	width: 100%;
	height: 100%;
	display: -ms-grid;
	-ms-grid-rows: 10px auto 1fr auto auto;
	-ms-grid-columns: 10px 1fr 10px;
}
/*Title CSS*/
#title {
	 -ms-grid-row:2;
	 -ms-grid-column:2;
	 -ms-word-wrap:break-word;
}
.AppLogo{
	font-size:14.667px;
	font-family:'segoe ui';
}
.AppName{
	font-family:'segoe ui';
	font-size:18px;
}


/*Content CSS*/
#content {
	-ms-grid-row: 3;
	-ms-grid-column:2;
	display: -ms-grid;	
}
/*Error css*/
#error{
	-ms-grid-row:4;
}

/*Footer css*/
#footer {
	-ms-grid-row:5;
	-ms-grid-column:2;
	margin-bottom:30px;
}
#footerText .company
{
	float:left;
}
#footerText a{
	float:right;
}

/*-- Common CSS end --*/

#content{
	-ms-grid-rows:auto 10px 1fr;
	-ms-grid-columns: 0px 1fr 0px;
}

.input{
	-ms-grid-row:1;
	-ms-grid-column:2;    
	margin-top:5px;
}

#loadbtn{
	margin-left:5px;
}

#urlerror{
	-ms-grid-row:2;
	-ms-grid-column:2;
	visibility:collapse;
	color:red;
}

.output{
	-ms-grid-row:3;
	-ms-grid-column: 2;    
	margin-top:5px;
}

#loadingProcessProgressRing{
	width:50px;
	height:50px;
    
	position: absolute;
	left: 40%;
	top:55%;
}

#webview{
	width:100%;
	height:100%;
}