<?xml version="1.0" encoding="utf-8"?> 
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="Microsoft.SDKSamples.LightSensor.JS" Version="1.0.0.0" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US"/>
  <Properties>
    <DisplayName>LightSensor JS sample</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>images\storeLogo-sdk.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="en-US"/>
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <m2:VisualElements DisplayName="LightSensor JS sample" Description="LightSensor JS sample" ForegroundText="light" BackgroundColor="#00b2f0" Square150x150Logo="images\squaretile-sdk.png" Square30x30Logo="images\smalltile-Windows-sdk.png">
        <m2:DefaultTile ShortName="LightSens JS" DefaultSize="square150x150Logo" Wide310x150Logo="images\tile-sdk.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo"/>
            <m2:ShowOn Tile="wide310x150Logo"/>
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="images\splash-Windows-sdk.png"/>
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities/>
</Package>