.scoresPage section[role=main] {
    margin-left: auto;
    margin-right: auto;
    width: 320px; /* Width can be no more than 320px in order to fit in snapped view */
}

.scoresPage .collectionList {
    width: 320px;
    height: 100%;
    position: relative;
    z-index: 0;
}

    .scoresPage .collectionList .win-item {
        width: 320px;
        height: 70px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 2px;
        margin-bottom: 2px;
        padding: 0px;
    }
    
    .scoresPage .collectionList .item {
        width: 100%;
        height: 100%;
        display: -ms-grid;
        -ms-grid-columns: 64px 12px 1fr;
        -ms-grid-rows: 1fr;
    }

    /* Ensure that the scores show for black/custom high-contrast themes.
       See: http://msdn.microsoft.com/en-US/library/windows/apps/hh700340 */
    @media screen and (-ms-high-contrast) {
        .scoresPage .collectionList .item .item-image {
            color: #FFFFFF !important;
        }
    }

    /* Ensure that the scores show for white high-contrast themes.
       See: http://msdn.microsoft.com/en-US/library/windows/apps/hh700340 */
    @media screen and (-ms-high-contrast:black-on-white) {
        .scoresPage .collectionList .item .item-image {
            color: #000000 !important;
        }
    }

        .scoresPage .collectionList .item .item-overlay{
            -ms-grid-column: 3;
        }

    .scoresPage .collectionList .item-rank {
        font-size: 38pt;
        color: #111111;
        width: 60px;
        height: 60px;
        margin-left: auto;
        margin-right: auto;
        line-height: 54px;
        vertical-align: middle;
        text-align: center;
        margin-top: 3px;
    }
