#rootGrid
{
	width: 100%;
	height: 100%;
	display: -ms-grid;
	-ms-grid-rows: 10px auto 1fr auto;
	-ms-grid-columns: 10px 1fr 10px;
}

/*Title CSS*/
#title {
	 -ms-grid-row:2;
	 -ms-grid-column:2;
	 -ms-word-wrap:break-word;
}

.AppName{
	font-family:'segoe ui';
	font-size:18px;
}

/*Content CSS*/
#content {
	-ms-grid-row: 3;
	-ms-grid-column:2;
	display: -ms-grid;
	-ms-grid-columns:auto auto auto;
	-ms-grid-rows:auto auto;
}
#left{
	-ms-grid-row:1;
	-ms-grid-column:1;
	margin:2px;
}
#middle{
	-ms-grid-row:1;
	-ms-grid-column:2;
	margin:2px;
}

#right{
	-ms-grid-row:1;
	-ms-grid-column:3;
	margin:2px;
}

#result{
	-ms-grid-row:2;
	-ms-grid-column-span:3;
	margin:5px 5px 5px 5px;
}
/*Footer css*/
#footer {
	-ms-grid-row:4;
	-ms-grid-column:2;
	-ms-grid-rows:auto,auto;
	margin-bottom:10px;
}
#footer image{
    -ms-grid-row:1;
}
#footerText{
    -ms-grid-row:2;    
    -ms-grid-rows:auto,auto;
}
#footerText .company{
    -ms-grid-row:1;
    float:left;
}

#footerText a{
    -ms-grid-row:2;
    float:right;
}