body {
    font-size: 14px;
    font-family: Segoe UI, sans-serif;
    color: #2A2A2A;
}
.fl{
    float:left;
}
a, a:hover {
    text-decoration: none;
    outline: none;
    color: #FAFAFA;
}
a:active, a:focus {
    outline: 0;
}
.noFloat{
    float:left;
}
.tile {
    width: 200px;
    height: 100px;
    color: #FFFFFF;
    border:none;
    margin: 2px;
    cursor: pointer;
    padding: 5px;
    float: left;
    text-align: left;
    font-family: Segoe UI Light, sans-serif;
    font-size: 18px;
}
.tileBody {
    text-align: left;
    font-family: Segoe UI, sans-serif;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.tileOrange {
    background-color: #F09609;
}
.tileOrange:hover{
    background-color: #F3AB3A;
}
.tileRed{
    background-color: #D24726;
    float:none;
}
.tileRed:hover{
    background-color: #DB6B51;
}
.heading {
    font-family: Segoe UI Light, sans-serif;
    font-size: 24px;
    color: #FF7B0A;
}