.regularListIconTextItem
{
    width: 300px;
    height: 70px;
    padding: 5px;
    overflow: hidden;
    display: -ms-grid;
}

img.regularListIconTextItem-Image 
{
    width: 60px;
    height: 60px;
    margin: 5px;
   -ms-grid-column: 1;
}

.regularListIconTextItem-Detail
{
    margin: 5px;
   -ms-grid-column: 2;
}

