/* styles */

/* Background color reflects app's personality */
.win-settingsflyout .win-header {
    background-color: #00b2f0;
}

/* Make the back button arrow match the header color when pressed */
.win-header .win-backbutton:hover:active {
    color: #00b2f0;
}

/* Settings flyout border color follows the header background color with a 20% darkening*/
/* The darkening is achieved by using 80% of the original value */
.win-settingsflyout {
    border-color: #008ec0;
}

#helpSettingsFlyout, #legalSettingsFlyout, #defaultSettingsFlyout {
    width: 546px;
}
