/* styles */
#listview1 {
    min-height: 125px;
    height: 100%;
}

.itemTempl {
    width: 140px;
    height: 100px;
    padding: 0px;
    overflow: hidden;
    background-color: #eaeaea;
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr 24px;
}

    .itemTempl img {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-row-align: stretch;
        -ms-grid-column-align: center;
    }

.content {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-align: stretch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 3px 3px;
    background-color: #808080;
    color: White;
}

/* CSS to align form elements */
.label {
    float: left;
    text-align: right;
    width: 150px;
    margin-right: 20px;
    margin-top: 5px;
}

.right {
    text-align: right;
    width: 150px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 5px;
}

.inline {
    display: inline-block;
    width: 600px;
}

input[type=range] {
    height: 10px;
    width: 150px;
    padding-bottom: 10px;
}

#devkey {
    width: 400px;
}
