@model HtmlAgilityPack.HtmlNodeCollection
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <p>Visit the source html -> <a href="~/page.html">link</a></p>
    <h1>All the link in the terget page</h1>

    @foreach (var item in Model)
    {
        <p>
            <a href="@item.Attributes["href"].Value">@item.InnerHtml</a>
        </p>
    }
</body>
</html>

