#pageContainer
{
    display: -ms-flexbox;
    height: 100vh;
    /*This code is used for direct manipulation of the pages*/
    -ms-scroll-snap-type: mandatory;
    -ms-scroll-snap-points-x: snapInterval(0%, 100%);
    overflow-x: scroll;
    overflow-y: hidden;    
}

/*Pages take the full height and width of their parents, and display their contents using CSS grid*/
.page{
    width: calc(100% - 80px);
    height: calc(100% - 80px);   
    padding: 40px;
    display: -ms-grid;
}
    
/*The flow-to and flow-from properties are the key to how regions work. Specifically, 
content is flowed from an iframe (#src, in this case) to a stream (content), and from 
the stream (content) to one or more regions(.fullRegion). This process renders the source iframe invisible.*/
#sourceIFrame {
    -ms-flow-into: content;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

.fullRegion {
    -ms-flow-from: content;
}

.snappedRegion
{
    -ms-flow-from: content;
}

/*In snapped mode the fullRegion class no longer recieves content from the content stream, but the snappedRegion class does.*/
@media (-ms-view-state: snapped)
{
    .fullRegion 
    {
        -ms-flow-from: null;
    }

    .snappedRegion
    {
        -ms-flow-from: content;
    }

    /*Change the navigation direction to vertical for RTL and LTR languages*/
    #pageContainer
    {
        -ms-flex-direction: column;
    }

    body
    {
        /*This code is used for direct manipulation of the pages*/
        -ms-scroll-snap-y: mandatory, setInterval(0%, 100%);
        overflow-y: scroll;
        overflow-x: hidden;    
    }

    /*Pages take the full height and width of their parents*/
    .page{
        width: calc(100% - 80px);
        height: 100%;   
        padding: 0px 40px 0px 40px;
    }


}


