body
{
    font-size:12pt;
}
/* Create a console-like design for the calculator output.*/
.output
{
    height:50px;
    background-color:#c7c7c7;
    color:#000;
    font-family:Consolas;
    border-style:inset;
    border-color:#e2e0e0;
    text-align:right;
    font-size:2em;
    padding:5px;
}
/* Create consistent look and feel for the buttons.*/
.button, number-button
{
    height:20px;
    width:23%;
    text-align:center; 
}
/* Use CSS classes to show/hide elements in the interface 
    without disrupting inline CSS attributes.*/
.hidden 
{
    display:none;
}
.visible 
{
    display:block;
}

#memory-indicator{
    font-size:0.7em;
    position:absolute;
    left:inherit
}
#stored-data {
    font-size:0.7em;
}

#content-buttons {
    text-align:center;
}