<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebServiceClient.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WebServiceClient.Settings>
            <setting name="WebServiceClient_ConverEuros_IEuroservice" serializeAs="String">
                <value>http://www.drbob42.co.uk/cgi-bin/Euro42/soap/IEuro</value>
            </setting>
            <setting name="WebServiceClient_ConvertEuros_IEuroservice" serializeAs="String">
                <value>http://www.drbob42.co.uk/cgi-bin/Euro42/soap/IEuro</value>
            </setting>
            <setting name="WebServiceClient_LocalTime_LocalTime" serializeAs="String">
                <value>http://www.ripedev.com/webservices/LocalTime.asmx</value>
            </setting>
            <setting name="WebServiceClient_DailyDiblert_DailyDilbert" serializeAs="String">
                <value>http://www.esynaps.com/WebServices/DailyDiblert.asmx</value>
            </setting>
            <setting name="WebServiceClient_BandN_BNPrice" serializeAs="String">
                <value>http://www.abundanttech.com/WebServices/bnprice/bnprice.asmx</value>
            </setting>
        </WebServiceClient.Settings>
    </applicationSettings>
</configuration>