/* detailed description under the name of each sub example */

/* styles */

.differentToggleColor.win-toggleswitch .win-switch::-ms-fill-lower
{
    background-color: rgb(191, 85, 0);
}

.differentLabelStyle.win-toggleswitch .win-title
{
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 8px;
    font-size: 10pt;
}

.differentLabelStyle.win-toggleswitch.win-off .win-label
{
    font-family: "Segoe UI Symbol";
    font-size: 24pt;
    color: rgba(180, 180, 180, 1.0);
}

/* put a power font glyph inside the label using CSS. you could also use a piece of HTML for the label */
.differentLabelStyle.win-toggleswitch.win-off .win-label:before
{
    content: "\E07D";
}

.differentLabelStyle.win-toggleswitch.win-on .win-label
{
    font-family: "Segoe UI Symbol";
    font-size: 24pt;
    color: rgba(0, 230, 0, 1.0);
}

.differentLabelStyle.win-toggleswitch.win-on .win-label:before
{
    content: "\E07D";
}

.differentLabelStyle.win-toggleswitch .win-switch::-ms-fill-lower
{
    background-color: rgba(0, 230, 0, 1.0);
}

.differentSwitchShape.win-toggleswitch
{
    height: auto;
}

.differentSwitchShape.win-toggleswitch .win-switch
{
    width: 96px;
    height: auto;
}

.differentSwitchShape.win-toggleswitch .win-switch::-ms-track
{
    width: auto;
    height: 44px;
    border-color: rgb(100, 100, 100);
    border-radius: 24px;
    background-image: linear-gradient(to bottom, rgb(44, 44, 44) 0%, rgb(55, 55, 55) 100%);
}

.differentSwitchShape.win-toggleswitch .win-switch::-ms-fill-upper
{
    background-color: transparent;
    margin: 0px;
}

.differentSwitchShape.win-toggleswitch .win-switch::-ms-fill-lower
{
    background-color: rgb(0, 186, 0);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 40px;
    margin: 2px;
    border: 0px;
}

.differentSwitchShape.win-toggleswitch .win-switch::-ms-thumb
{
    background-color: rgb(220, 220, 220);
    background-image: linear-gradient(to bottom, rgb(233, 233, 233) 0%, rgb(196, 196, 196) 100%);
    height: 36px;
    width: 66px;
    border-radius: 20px;
    margin-right: 4px;
    margin-left: 4px;
    border: 2px solid rgb(220, 220, 220);
}