
a, a:link, a:hover, a:active, a:hover, a:visited, a:hover:active
{
    color:#212121;
    background-color: transparent;
}

.win-listview > .win-horizontal .win-container {
   margin-bottom: 20px;
   margin-right: 20px;
}

.win-listview .win-item.win-hover
{
    background-color: rgba(0, 0, 0, 0.13);
}

.win-listview .win-item:focus
{    
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.13);     
}

.win-listview .win-item.win-selected:focus 
{
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.13); 
}

.win-title
{
    position:relative;
    top:17px;
    line-height:60px;
}

.win-backbutton
{
    position:relative;
    top:11px;
}

.win-semanticzoom
{
    height: 100%;
}

.win-listview, #detailListView, #jumpListView
{
    height: 100%;
}

.win-commandicon
{
    border: none;
    border-radius: 0;
}

.win-commandicon.win-large
{
    width: 40px;
    height: 40px;
}

button.win-command:hover .win-commandicon, button:active .win-commandicon
{
    border: none;
    border-radius: 0;
}

button.win-command:hover:active .win-commandicon
{
    border: none;
}

.win-listview .win-horizontal .win-surface
{
    margin-left: 120px;
}

.win-groups.win-listview .win-horizontal .win-surface
{
    margin-left: 120px;
}

.win-listview .win-groupheader {
    margin-left: 0px;
}

@media screen and (-ms-high-contrast)
{
    .win-command
    {
        -ms-high-contrast-adjust: none;
    }
}

@media all and (-ms-view-state: snapped)
{
    button.win-command .win-label
    {
        display: none;
    }
    
    button.win-command .win-commandicon
    {
        margin: 0px 10px;
    }

    #map, #tripReport, #news, #save {
        display: none;
    }
    
    .win-title
    {        
        position:relative;
        top:10px;
        line-height:30px;                       
    }
    
    .win-backbutton
    {
        position:relative;
        top:6px;
    }

}