progress
{
    color:#59cc0e;
}


#jumpListView
{
    padding-top:20px;    
}


#jumpListView .win-surface
{
    margin-left: 120px;
}

.hidden
{
    display: none;
}

.invisible {
    visibility: hidden;
}

#loadingBar
{
    height: 100px;
    width: 100px;
    -ms-grid-row-align: end;
    -ms-grid-column-align: center;
}

#loadingMessage
{
    -ms-grid-row-align: start;
    -ms-grid-column-align: center;
    -ms-grid-row: 2;
    margin-top: 20px;
}

#loadingBarContainer
{
    display: -ms-grid;
    height: 100%;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
}

#home .win-commandicon {
    background: url('/images/home.svg');
}

#schedule .win-commandicon {
    background: url('/images/schedule.svg');
}

#sessions .win-commandicon {
    background: url('/images/sessions.svg');
}

#people .win-commandicon {
    background: url('/images/people.svg');
}

#map .win-commandicon {
    background: url('/images/floor-plan.svg');
}

#news .win-commandicon {
    background: url('/images/news.svg');
}

#tripReport .win-commandicon {
    background: url('/images/trip-report.svg');
}

#save .win-commandicon {
    background: url('/images/save.svg');
}

#home .win-commandicon:hover {
    background: url('/images/hover/home.svg');
}

#schedule .win-commandicon:hover {
    background: url('/images/hover/schedule.svg');
}

#sessions .win-commandicon:hover  {
    background: url('/images/hover/sessions.svg');
}

#people .win-commandicon:hover  {
    background: url('/images/hover/people.svg');
}

#map .win-commandicon:hover {
    background: url('/images/hover/floor-plan.svg');
}

#news .win-commandicon:hover {
    background: url('/images/hover/news.svg');
}

#tripReport .win-commandicon:hover {
    background: url('/images/hover/trip-report.svg');
}

#save .win-commandicon:hover {
    background: url('/images/hover/save.svg');
}

#home .win-commandicon:active {
    background: url('/images/highcontrast/home.svg');
}

#schedule .win-commandicon:active {
    background: url('/images/highcontrast/schedule.svg');
}

#sessions .win-commandicon:active {
    background: url('/images/highcontrast/sessions.svg');
}

#people .win-commandicon:active {
    background: url('/images/highcontrast/people.svg');
}

#map .win-commandicon:active {
    background: url('/images/highcontrast/floor-plan.svg');
}

#news .win-commandicon:active {
    background: url('/images/highcontrast/news.svg');
}

#tripReport .win-commandicon:active {
    background: url('/images/highcontrast/trip-report.svg');
}

#save .win-commandicon:active {
    background: url('/images/highcontrast/save.svg');
}

@media screen and (-ms-high-contrast) {
    button.win-command .win-label {
        color: #FFFFFF;
    }
    
    #home .win-commandicon, #home .win-commandicon:hover, #home .win-commandicon:active {
        background: url('/images/highcontrast/home.svg');
    }

    #schedule .win-commandicon, #schedule .win-commandicon:hover, #schedule .win-commandicon:active {
        background: url('/images/highcontrast/schedule.svg');
    }

    #sessions .win-commandicon, #sessions .win-commandicon:hover, #sessions .win-commandicon:active {
        background: url('/images/highcontrast/sessions.svg');
    }

    #people .win-commandicon, #people .win-commandicon:hover, #people .win-commandicon:active {
        background: url('/images/highcontrast/people.svg');
    }

    #map .win-commandicon, #map .win-commandicon:hover, #map .win-commandicon:active {
        background: url('/images/highcontrast/floor-plan.svg');
    }

    #news .win-commandicon, #news .win-commandicon:hover, #news .win-commandicon:active {
        background: url('/images/highcontrast/news.svg');
    }

    #tripReport .win-commandicon, #tripReport .win-commandicon:hover, #tripReport .win-commandicon:active {
        background: url('/images/highcontrast/trip-report.svg');
    }

    #save .win-commandicon, #save .win-commandicon:hover, #save .win-commandicon:active {
        background: url('/images/highcontrast/save.svg');
    }
}

@media screen and (-ms-high-contrast:black-on-white) {
    button.win-command .win-label {
        color: #000000;
    }
    #home .win-commandicon:active {
        background: url('/images/home.svg');
    }

    #schedule .win-commandicon:active {
        background: url('/images/schedule.svg');
    }

    #sessions .win-commandicon:active {
        background: url('/images/sessions.svg');
    }

    #people .win-commandicon:active {
        background: url('/images/people.svg');
    }

    #map .win-commandicon:active {
        background: url('/images/floor-plan.svg');
    }

    #news .win-commandicon:active {
        background: url('/images/news.svg');
    }

    #tripReport .win-commandicon:active {
        background: url('/images/trip-report.svg');
    }

    #save .win-commandicon:active {
        background: url('/images/save.svg');
    }
}

.mainContent {
    margin-left: 120px;
}

.zoomItem {
    width: 250px;
    height: 100px;
    background-color: #444444;
    color: #FFFFFF;
    font-size: 1.7em;
    line-height: 1;
    display: -ms-grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr;
}

#jumpListView > .win-horizontal .win-container {
   margin-bottom: 10px;
   margin-right: 10px;
}

.zoomItem .zoomContent {
    -ms-grid-row-align: center;
    margin-left: 25px;
}

.listContent
{
    height: 100%;
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: auto 1fr;
}

.listContent .controls
{
    margin-left: 120px;
    /* work around the line height added by the <select> element */
    position: relative;
    top: -8px;
}

.peopleContent .controls {
    position: initial;
    margin-top:18px;
    margin-bottom:7px;
}
.mapContent .controls {
    position: initial;
    margin-top:14px;
    margin-bottom:7px;
}


@media screen and (-ms-view-state: snapped) {
    .listContent .controls {
        display:none;
    }
    .listContent {
        margin-left: 20px;
    }
}

.listContent #semanticZoom
{
    -ms-grid-row: 2;
}

.itemCategoryColor1 {
  background-color: #0087FF;
}
.itemCategoryColor2 {
  background-color: #FF3C00;
}
.itemCategoryColor3 {
  background-color: #00C7C7;
}
.itemCategoryColor4 {
  background-color: #FF9500;
}
.itemCategoryColor5 {
  background-color: #854FFF;
}
.itemCategoryColor6 {
  background-color: #ED1E79;
}

.backgroundHighlight
{
    background-color: #58CC0E;
}

.colorHighlight 
{
    color: #58CC0E;
}

.slashColor1 {
    color: #0087FF;
}
.slashColor2 {
    color: #FF3C00;
}
.slashColor3 {
    color: #00C7C7;
}
.slashColor4 {
    color: #FF9500;
}
.slashColor5 {
    color: #854FFF;
}
.slashColor6 {
    color: #ED1E79;
}

.slashColorNeutral
{
    color: #57CE03;
}

.placeholderFill
{
    background-image: url("/images/placeholder-pattern.png");
}

.hideTextOverflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

input[type='checkbox'].favoriteButton {
    background-image: url("/images/empty-heart-small.svg");
    background-position: center 3px;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}
.collapsedSessionItem input[type='checkbox'].favoriteButton{
    background-image: url("/images/empty-heart-tiny.svg");
    background-position: center 4px;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}


input[type='checkbox'].favoriteButton.colorHeart {
    background-image: url("/images/empty-heart-small-color.svg");
}

input[type="checkbox"].favoriteButton:hover::-ms-check, input[type="checkbox"].favoriteButton:active::-ms-check
{
    color: transparent;
    background-color: transparent;
    border: 0px;
}

input[type='checkbox'].favoriteButton::-ms-check {
    color: transparent;
    background-color: transparent;
    border: 0px;
}
input[type='checkbox'].favoriteButton:checked {
    background-image: url("/images/filled-heart-small.svg");
}
.collapsedSessionItem input[type='checkbox'].favoriteButton:checked {
    background-image: url("/images/filled-heart-tiny.svg");
}


input[type='checkbox'].favoriteButton.colorHeart:checked {
    background-image: url("/images/filled-heart-small-color.svg");
}

input[type='checkbox'].favoriteTitleButton {
    background-image: url("/images/empty-heart-big.svg");
    margin: 0px 0px 0px 10px;
    padding: 0px;
    height: 29px;
    width: 34px;
}

input[type="checkbox"].favoriteTitleButton:hover::-ms-check, input[type="checkbox"].favoriteTitleButton:active::-ms-check
{
    color: transparent;
    background-color: transparent;
    border: 0px;
}

input[type='checkbox'].favoriteTitleButton::-ms-check {
    color: transparent;
    background-color: transparent;
    border: 0px;
}
input[type='checkbox'].favoriteTitleButton:checked {
    background-image: url("/images/filled-heart-big.svg");
}

.listItem {
    display: -ms-grid;
    font-family: "Segoe UI";
    height: 80px;
    line-height: 20px;
    width: 420px;
}

.listItem.hideFavoriteButton .favoriteButton {
    visibility: hidden;
}

.listOption
{
    font-family: "Segoe UI Light";
    font-size: 20pt;
    line-height: 1;
    display: inline;
    margin-right: 40px;
    color: #212121;
}

@media screen and (-ms-view-state: snapped) {
    #jumpListView .win-surface
    {
        margin-left: 0px;
    }
    
    .listOption {
        font-size: 18pt;
        margin-right: 10px;
    }
    input[type='checkbox'].favoriteTitleButton 
    {
        background-image: url("/images/empty-heart-big-snapped.svg");    
        background-repeat:no-repeat;      
        width:18px;
        height:16px;  
    }   
    input[type='checkbox'].favoriteTitleButton:checked 
    {      
        background-image: url("/images/filled-heart-big-snapped.svg");
        background-repeat:no-repeat;
        width:18px;
        height:16px;  
    }
    
    
    
}

.listOptionActive
{
    color: #39B200;
}

.customSelect
{
    display: inline;
}

.filterItem
{
    font-family:"Segoe UI Light";
    display: inline;
    font-size: 20pt;
    color: #212121;
}
#daySelect
{
    font-family:"Segoe UI Light";
    background-color:transparent;
    border:none;       
    color: #212121;
    padding-right: 10px;
}   
#groupingSelect
{
    font-family:"Segoe UI Light";
    background-color:transparent;
    border:none;       
    color: #212121;
}


.win-listview .win-groupheader
{
    padding-left:0px;
    font-family:"Segoe UI Light";
    font-size:20pt;    
    margin-top:-1px;    
    padding-bottom:5px;
    margin-bottom:7px;
    letter-spacing:0.02em;
}