/* Home */

#homeContent
{
    height: 100%;
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: auto 1fr 25px;
}

.homeItem {
    display: -ms-grid;
    -ms-grid-rows: auto 25px;
    font-family: "Segoe UI";
    /*height: 295px;
    width: 480px;*/
    width: 720px;
    height: 430px;
}

.homeItem .thumbnail img {
    /* this is 1/2 size
    height: 270px;
    width: 480px;*/
    width: 720px;
    height: 405px;
    -ms-interpolation-mode: bicubic;
}

.homeItem .title {
    -ms-grid-row: 2;
    background-color: #585858;
    color: #FFFFFF;
    line-height: normal;
    font-size: 11pt;
    font-family: "Segoe UI"; 
    padding-left: 5px;
}

#featuredText
{
    margin-top: 16px;
    margin-left: 120px;
    margin-right: 120px;
    color: #212121;
    font-family: "Segoe UI Light";
    line-height: 1.2;
    font-size: 21pt;    
    margin-bottom: 26px;
}

#featuredListView
{
    -ms-grid-row: 2;
}

#homeContent #featuredListView .win-horizontal .win-surface
{
    margin-left: 120px;
}

#newsTicker
{
    -ms-grid-row: 3;
    padding-left: 10px;
    background-color: #000000;
    color: #FFFFFF;
    display: -ms-grid;
    -ms-grid-columns: auto 1fr;
    -ms-grid-rows: 1fr;
    font-family: "Segoe UI";
    font-size: 11pt;
    line-height: 25px;
}

#newsContent
{
    background-color: #262626;
    color: #939393;
    -ms-grid-column: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 10px;
    padding-left: 10px;
    
}

.newsItem
{
    transition: opacity 2s, transform 1s;
}

.newsItemNew
{
    transform: translateY(40px);
}

.newsItemOld
{
    opacity: 0;
}

#homeContent .timeItem, #homeContent .agendaItem
{
    -ms-grid-columns: auto 1fr;
}

@media screen and (-ms-view-state: snapped) {
    
    #homeContent
    {
        margin-left: 20px;
    }
    #homeContent #featuredText
    {
        display: none;
    }
    #newsTicker
    {
        margin-left: -20px;
    }

    #homeContent #featuredListView .win-surface
    {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 0px;
    }
    
    
    .homeItem {
        height: 208px;
        width: 280px;
    }

    .homeItem .title {
        height: 25px;
        width: 280px;
    }

    .homeItem .thumbnail img {
        height: 183px;
        width: 280px;
    }
}