html {
    cursor: default;
    position: fixed;
}

#outerPage {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    -ms-grid-rows: auto 1fr;
    -ms-grid-columns: 1fr;
}

#outerPage header[role=banner] {
    display: -ms-grid;
    padding-top: 30px;
    -ms-grid-columns: 120px 1fr;
    -ms-grid-rows: 1fr;
}

#backButton {
    margin-top: 19px;
    margin-left: 40px;
}

#backButton:disabled {
    visibility: hidden;
}

#outerPage.darkTitle header[role=banner], #outerPage.darkTitle #backButton {
    color: #FFFFFF;
    background-color: #000000;
}

/*@media screen and (-ms-high-contrast)
{
    #backButton
    {
        -ms-high-contrast-adjust: none;
    }
}*/


#pageTitle {
    -ms-grid-column: 2;
    -ms-grid-row-align: center;
    margin: 0px;
    padding-bottom: 30px;
    padding-right: 20px;
    
}

#pageTitle img {
    vertical-align: text-bottom;
}    

#outerPage section[role=main] {
    -ms-grid-row: 2;
    position: relative;
}

@media screen and (-ms-view-state: snapped) {
    #backButton {
        margin-left: 20px;
        margin-top: 5px;
    }
    
    #outerPage header[role=banner] {
        -ms-grid-columns: 60px 1fr;
        padding-top: 24px;
    }

    #pageTitle {
        padding-bottom: 20px;
    }
    
  
}

body
{
    background-color: #F3F3F3;
    background-image: url('/images/slash.png');
    background-repeat: no-repeat;
    background-position: left top;
}