/* Floorplan / Map */
.mapContent {
    -ms-grid-rows: auto 1fr 80px 20px 160px;
    -ms-grid-columns: 1fr;
}

.mapContent .controls {
    margin-bottom:28px;
}

.mapContent .floorMap {
    padding-left:120px;
    padding-right:120px;
    -ms-grid-row: 2;         
}

.mapContent #sessionInfo {
    -ms-grid-row: 3;
    background-color:#777777;
    color: white;
    display: -ms-grid;
    -ms-grid-columns: 1fr auto auto auto 1fr;
    -ms-grid-rows: 1fr;
}

.mapContent #sessionInfo.hidden {
    display: none;
}

.mapContent #selectedRoom {
    margin-left: 20px;
    margin-right: 20px;
   -ms-grid-column: 2;
   -ms-grid-column-align:end;
   -ms-grid-row-align:center;
   display: inline-block;
   font-family:"Segoe UI";
   
}

.mapContent #selectedRoomStatus {
    padding-top: 5px;
    font-size: 11pt;
}

.mapContent #selectedRoomName {
   font-weight:900;
   font-size:20pt;
}

.mapContent #selectedDetails {
    display: inline-block;
    margin-right: 40px;
    -ms-grid-column: 3;
    -ms-grid-row-align:center;  
}

.mapContent #selectedTitle {
    max-width: 50vw;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 11pt;
    font-family: "Segoe UI"; 
    color:#ffffff;
}

.mapContent #selectedTime
{
    font-size: 8pt;
    line-height: normal;
    font-family: "Segoe UI";
}

.mapContent #sessionButtons {
    display: inline-block;
    -ms-grid-column: 4;
    -ms-grid-row-align:center;
}

.mapContent button
{
    border:2px white solid;
    font-family:'Segoe UI Semibold';
    font-size:11pt;
    color:#ffffff;
    background-color:transparent;
}
    
.mapContent button:active
{
    border:1px black solid;
    font-family:'Segoe UI Semibold';
    font-size:11pt;
    color:#000;
    background-color:white;
}

.mapContent #mapBottom {
    -ms-grid-row: 5;
    display: -ms-grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 120px auto 80px 1fr;
}

.mapContent #otherLocations {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

.mapContent #upcoming {    
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    display: -ms-grid;
    -ms-grid-rows: auto 1fr;
    -ms-grid-columns: 1fr;
}

.mapContent #upcomingListView {
    -ms-grid-row: 2;
}


/*
    This rule is to hide the header for upcoming events since in a post-BUILD world it's always empty
*/
#upcoming .mapHeader {
    display: none;
}

.mapHeader
{
    color: #585858;
    margin-top: 20px;
    margin-bottom: 5px;
    font-family:"Segoe UI Semilight";
    font-size:11pt;
}
#legend
{
    width:368px;
    height:112px;
}


@media screen and (-ms-view-state: snapped) {

    .mapContent {
        -ms-grid-rows: 20px 150px 20px auto 1fr;
    }
    
    .mapContent .floorMap {
        padding-left: 0px;
        padding-right: 0px;
    }

    .mapContent #upcoming {
        -ms-grid-column: 1;
    }

    .mapContent #mapBottom {
        -ms-grid-columns: 1fr;
    }
    
    .mapContent #otherLocations {
        display: none;
    }

    .mapContent #sessionInfo {
        margin-left: -20px;
        -ms-grid-row: 4;
        -ms-grid-columns: 1fr;
        -ms-grid-rows: auto auto auto;
    }

    .mapContent #selectedRoom {
        -ms-grid-column-align: stretch;
        margin: 20px;
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .mapContent #selectedDetails {
        margin-left: 20px;
        margin-right: 20px;
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    
    .mapContent #selectedTitle {
        max-width: none;
    }

    .mapContent #sessionButtons {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        margin: 20px;
    }

    .mapContent #moreButton {
        margin-right: 20px;
    }
}
