/* News Page */

.newsContent {
    height: 100%;
}

.newsContent #newsListView .win-horizontal .win-surface
{
    margin-left: 120px;
}

.newsItem {
    width: 380px;
    height: 125px;
    -ms-grid-rows: auto auto 1fr;
    -ms-grid-columns: 1fr;
}

@media screen and (-ms-view-state: snapped) {
    .newsContent {
        margin-left: 20px;
    }
}

.newsItem .title {
    color: #FFFFFF;
    background-color: rgb(88, 204, 14);
    font-family: "Segoe UI";
    font-size: 11pt;
    padding-left: 8px;
    line-height: 30px;
    position:relative;
    top:-1px;
}

.newsItem .published {
    -ms-grid-row: 2;
    color: #8e8e8e;
    line-height: 20px;
    padding-top: 8px;
    padding-left: 8px;
    text-transform: uppercase;
    font-size: 8pt;
    font-family: "Segoe UI";
    position:relative;
    top:-5px;
}

.newsItem .body {
    -ms-grid-row: 3;
    overflow: hidden;
    font-size: 11pt;
    font-family: "Segoe UI Semilight";
    line-height: 20px;
    color: #212121;
    padding-left: 8px;
    padding-top: 5px;
    -ms-hyphens: auto;
    position:relative;
    top:-12px;
}

.newsContent
{
    padding-top:30px;
}