/* Search Results */

.resultsView
{
    height: 100%;
    display: -ms-grid;
    -ms-grid-columns: 100%;
    -ms-grid-rows: auto auto 1fr;
}

.resultsView .controls
{
    margin-left: 120px;
    margin-top:6px;
}

.resultsView .queryRegion 
{
    -ms-grid-row: 2;    
    padding-top:31px;
    margin-left: 120px;
    margin-bottom: 20px;
    font-size: 20pt;
    line-height: 1;
    font-family:'Segoe UI Light';
    position:relative;        
}

.resultsView #searchResults
{
    -ms-grid-row: 3;
    margin-top:-2px;
}

.resultsView .win-horizontal .win-surface
{
    margin-left: 120px;
}

@media screen and (-ms-view-state: snapped) {
    .resultsView .queryRegion {
        margin-left: 0px;
        margin-top: 0px;
    }
    
    .resultsView {
        margin-left: 20px;
    }
    .resultsView .controls {
        display:none;
    }
}