/* Session view  */
.sessionItem {
    display: -ms-grid;
    -ms-grid-columns: 4px 1fr 40px;
    -ms-grid-rows: 29px 31px 20px;
    background-image: url('/images/placeholder-pattern.png');
}

.sessionItem .colorStrip {
    
}
.sessionItem .title {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    background-color: #585858;
    color: #FFFFFF;
    line-height: normal;
    font-size: 11pt;
    font-family: "Segoe UI"; 
    padding-top: 4px;
    padding-left: 11px;
    padding-right: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.sessionItem .sessionDetails
{
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    margin-left: 11px;
    color: #585858;
    font-size: 8pt;
    line-height: normal;
    font-family: "Segoe UI";
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-transform:uppercase;
    position:relative;
    top:-3px;
    letter-spacing:.06em;
}

.sessionItem .sessionInfo {
    display: inline;
}

.sessionItem .speaker {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-row-align: center;
    margin-left: 11px;
    font-family: "Segoe UI";
    color: #212121;
    line-height: normal;
    font-size: 11pt;    
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position:relative;
    top:-2px;
}

.sessionItem .favoriteButton {
    position:relative;
    top:1px;
    cursor: pointer;
    -ms-grid-column: 3; 
    -ms-grid-row-span: 3;
}

.collapsedSessionItem {
  height: 21px;
  width: 320px;
  -ms-grid-columns: 4px 1fr 40px;
  -ms-grid-rows: 1fr;
  margin-bottom: 6px;
  margin-left: 0px;
}

.collapsedSessionItem .title {
    cursor: pointer;
    -ms-grid-column: 2;
    padding-left: 9px;  
    font-family: "Segoe UI";
    font-size: 9pt;
    line-height: 20px;
    color: #ffffff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #585858;
}
.collapsedSessionItem .favoriteButton {
  -ms-grid-column: 3;
  -ms-grid-row-align:end;
  cursor: pointer;
  background-color: #585858;   
   
}
.collapsedSessionItem input
{
    padding-top:200px;
}

.collapsedSessionItem.hideFavoriteButton .favoriteButton {
  -ms-grid-column: 2;
}


.collapsedSessionItem.hideFavoriteButton {
  -ms-grid-columns: 6px 1fr;
}

/* Session Detail */

.sessionDetail {
  display: -ms-grid;
  -ms-grid-columns: 120px minmax(670px,1fr) minmax(230px, 320px);
  -ms-grid-rows: 1fr auto;
  height: 100%;
}

.sessionDetail .sessionSpeakers {
  font-family: "Segoe UI Light";
  font-size: 20pt;
  line-height: 1;
  color: #212121;
  margin-top: 20px;
}

.sessionDetail .sessionSpeaker {
    cursor: pointer;
}

.sessionDetail .sessionSpeaker::after {
    content: ",";
}

.sessionDetail .sessionSpeaker:last-child::after {
    content: none;
}


.sessionDetail .sessionInfo {
    overflow-y: auto;
    margin-top:4px;
    -ms-grid-column: 2;
}

.sessionDetail .sessionAdditionalInfo {
  font-family: "Segoe UI";
  font-size: 12px;
  margin-top: 3px;
  display: -ms-grid;
  -ms-grid-columns: auto;
  -ms-grid-rows: auto auto auto;
  color: #212121;
  text-transform:uppercase;
}
.sessionDetail .sessionAdditionalInfo .infoTextDivider {
  font-family: "Segoe UI";
  color: rgba(0, 0, 0, 0.54);
}
.sessionDetail .sessionAdditionalInfo .sessionDayAndTime {
  -ms-grid-row: 1;
}
.sessionDetail .sessionAdditionalInfo .sessionRoomAndCode {
  -ms-grid-row: 2;
}
.sessionDetail .sessionAdditionalInfo .sessionTime {
  text-transform: uppercase;
}

.sessionDetail .sessionAdditionalInfo .headerSessionTrackAndTags {
  -ms-grid-row: 3;
  font-family: "Segoe UI Semibold";
  font-size: 11pt;  
  padding-top:2px;
  text-transform:lowercase;
  letter-spacing:-.05em;
}

.trackSlash
{
    font-family: "Segoe UI"; 
    letter-spacing:-.23em;
    margin-right:-2px;
    display:inline-block;        
    width:9px;
    height:12px;
    position:relative;
    top:0px;
    overflow-y:hidden;
}
.trackSlash .innerTrackSlash
{
    display:inline-block;
    position:relative;  
    top:-4px;  
}
.sessionDetail .sessionAdditionalInfo
{
   position:relative;
   top:-1px;
}
.sessionDetail .sessionAdditionalInfo .headerSessionTrackAndTags
{
    margin-top:-3px;
}
.sessionDetail .sessionAdditionalInfo .headerSessionTrackAndTags .sessionTrack
{
    margin-right:17px;
}

.sessionDetail .sessionAdditionalInfo .headerSessionTrackAndTags .sessionTag
{    
    margin-right:17px;
    color:#585858;
}

.sessionDetail .sessionAdditionalInfo .sessionTrackAndTags {
  -ms-grid-row: 3;
  font-family: "Segoe UI Semibold";
  font-size: 8pt;
  text-transform: uppercase;
  padding-top:2px;
}

.sessionDetail .sessionAdditionalInfo .sessionTrackAndTags span {  
  color: #fff;
  padding: 1px 4px 1px 4px;
}
.sessionDetail .sessionAdditionalInfo .sessionTrackAndTags .sessionTag {
  background-color: #585858;
}

.sessionDetail .sessionDescription {
  font-family: "Segoe UI";
  font-size: 11pt;
  color: #212121;
  margin-top: 19px;
  margin-bottom: 31px;  
  width: 90%;
  column-width: 300px;
  column-gap: 30px;
  -ms-hyphens: auto;
}
.sessionDetail .sessionNotes {
  margin-top: 5px;
  margin-bottom: 15px;
}

.sessionDetail .sessionNotes #addNotes {
    display: inline;
    margin-left: 5px;
    font-family:"Segoe UI Symbol";
}

.sessionNotes .win-backbutton::before {
    content:"\E0B6";          
    line-height:22px;
    color: #585858;
    font-size:8pt;    
}
.sessionNotes .win-backbutton
{
    border-width:1px;
    width:24px;
    height:24px;
    vertical-align:-.37em;
    border-color:#585858;
    position:relative;
    top:1px;
}

.sessionDetail .sessionNotes #notesText {
  width: 90%;
  height: 80px;
  line-height: 20px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  color: #212121;
  font-family: "Segoe UI";
  overflow-y: auto;
  margin-top: 5px;
  font-size: 11pt;
  padding: 4px 10px 4px 10px;
}

.sessionDetail .relatedContent {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    display: -ms-grid;
    -ms-grid-columns: minmax(225px,1fr) minmax(225px,1fr) minmax(220px, 1fr);
    -ms-grid-rows: 1fr;
}

.sessionDetail .sessionVideo {
  cursor: pointer;
  height: 180px;
  width: 220px;
}
.sessionDetail .sessionSlides {
  -ms-grid-column: 2;
  height: 180px;
  width: 220px;
}
.sessionDetail .sessionFloorplan {
  -ms-grid-column: 3;
  height: 180px;
  width: 220px;
  cursor: pointer;
}
.sessionDetail .mediaItemCaption {
  color: #585858;
  margin-top: 5px;
  margin-bottom: 5px;
}
.sessionDetail .rightColumnContainer {
  -ms-grid-column: 3;
  -ms-grid-row-span: 2;
  margin-top: 83px;
  padding-left: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

.sessionDetail .collapsedSessionItem {
    width: auto;
}

.sessionDetail .rightColumnContainer .relatedSectionTitle {
  font-family: "Segoe UI Semilight";
  color: #585858;
  margin-top: 5px;
  margin-bottom: 5px;
}
.sessionDetail .rightColumnContainer .relatedItemsContainer {
  margin-bottom: 20px;
}

.sessionDetail .rightColumnContainer ul {
  padding: 0px;
  margin: 5px 0px 20px 0px;
}
.sessionDetail .rightColumnContainer ul li {
  font-family: "Segoe UI";
  margin-bottom: 5px;
  font-size: 11pt;
  color: #585858;
  list-style: none;
}

@media screen and (-ms-view-state: snapped) {
    .sessionDetail {
        overflow-y: auto;
        -ms-grid-columns: 1fr;
        -ms-grid-rows: auto auto auto;
    }

    .sessionDetail .sessionInfo {
        -ms-grid-column: 1;
        -ms-grid-row: 1;                
        position:relative;
        top:-26px;
    }

    .sessionDetail .relatedContent {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
        -ms-grid-columns: 1fr;
        -ms-grid-rows: auto auto auto;
    }
    
    .sessionDetail .rightColumnContainer {
        margin-top: 0px;
        -ms-grid-column: 1;
        -ms-grid-row: 3;
    }

    .sessionDetail .sessionVideo {
        margin-left: 20px;
    }

    .sessionDetail .sessionSlides {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
        margin-left: 20px;
    }
    .sessionDetail .sessionFloorplan {
        -ms-grid-column: 1;
        -ms-grid-row: 3;
        margin-left: 20px;
    }

    .sessionDetail .sessionSpeakers {
        margin-left: 20px;
        margin-right: 20px;
    }

    .sessionDetail .sessionAdditionalInfo {
        margin-left: 20px;
        margin-right: 20px;
    }

    .sessionDetail .sessionDescription {
        margin-left: 20px;
        margin-right: 20px;        
    }

    .sessionDetail .sessionNotes {
        margin-left: 20px;
        margin-right: 20px;
    }

    .sessionDetail .relatedSessions {
        margin-left: 20px;
        margin-right: 20px;
    }

    .sessionDetail .otherContents {
        margin-left: 20px;
        margin-right: 20px;
    }
}

#videoPlayer
{
    height: 100%;
    background-color: #000000;
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr;
}

/* Note taking screen */

#sessionNotes {
    height: 100%;
    margin-left: 120px;
    padding-top: 40px;
    margin-right: 120px;
    box-sizing: border-box;    
}

@media screen and (-ms-view-state: snapped) {
    #sessionNotes {
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 10px;
    }
}

#sessionNotes #sessionNotesText {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 20px;
    box-sizing: border-box;
}


/*Semantic zoom*/

#contentHost .sessionContent .win-listview > .win-horizontal .win-container {
   margin-bottom: 5px;
   margin-right: 5px;
}

.sessionContent .zoomItem, .sessionContent .winItem
{   
    height:80px;
    font-family:"Segoe UI Semilight";
    font-size:16pt;
}
.sessionContent .zoomContent
{
    margin-top:-2px;
    margin-left:20px;
}