/* Trip report */

#tripReportContainer {
    height: 100%;
    margin-left: 120px;
    padding-top: 40px;
    padding-bottom: 80px;
    margin-right: 120px;
    box-sizing: border-box;
}

@media screen and (-ms-view-state: snapped) {
    #tripReportContainer {
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 10px;
    }
}

#tripReportContainer #tripReportContent {
    height: 100%;
    width: 100%;
    padding: 20px;
    margin: 0px;
    background-color: white;
    white-space: pre-wrap;
    overflow-y: auto;
    border: 2px solid black;
    font-family: 'Segoe UI';
    box-sizing: border-box;
}