<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="Microsoft.SDKSamples.SampleJavaScriptGame.JS" Version="1.0.0.0" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" />
  <Properties>
    <DisplayName>JavaScript and HTML5 touch game sample</DisplayName>
    <Description>JavaScript and HTML5 touch game sample</Description>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>images\storeLogo-sdk.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="en-uS" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="JavaScript and HTML5 touch game sample" Logo="images\squareTile-sdk.png" SmallLogo="images\smallTile-sdk.png" Description="SampleGame JS sample" ForegroundText="light" BackgroundColor="#00b2f0">
        <DefaultTile ShortName="JS touch game sample" ShowName="allLogos" />
        <SplashScreen Image="images\splash-sdk.png" BackgroundColor="#00b2f0" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <!-- TODO: internetClient capability should be removed if your game does not need to access the internet -->
    <Capability Name="internetClient" />
  </Capabilities>
</Package>