<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body>
    <input type="file" id="file" />
    <button>upload</button>

    <div style="position:relative;width:296px;background:#f0f0f0">
        <div id="progress" style="background: blue; height: 20px;width:0"></div>
    </div>

    <script>
        $("button").click(function () {
            var progressEle = $("#progress");
            progressEle.css("background", "blue");

            var data = document.getElementById("file").files[0];

            var formData = new FormData();

            formData.append("files", data);

            $.ajax({
                url: "/Home/UploadFile",
                data: formData,
                processData: false,
                contentType: false,
                type: "POST",
                xhr: function () {
                    var xhr = new window.XMLHttpRequest();
                    xhr.upload.addEventListener("progress", function (evt) {
                        if (evt.lengthComputable) {
                            var progress = Math.round((evt.loaded / evt.total) * 100);
                            progressEle.width(progress + "%");
                        }
                    }, false);
                    return xhr;
                },
                success: function (data) {
                    if (data.state == 0) {
                        progressEle.css("background", "green");
                    }
                }
            });
        });
    </script>
</body>
</html>