<?xml version="1.0" encoding="utf-8"?> 
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="CF4418E1-4A5B-4477-8EA5-E1DF85953B53" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="1.0.0.0"/>
  <mp:PhoneIdentity PhoneProductId="CF4418E1-4A5B-4477-8EA5-E1DF85953B53" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
  <Properties>
    <DisplayName>LightSensor CPP sample</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>Assets\storeLogo-sdk.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate"/>
  </Resources>
  <Applications>
    <Application Id="LightSensorCPP.App" Executable="$targetnametoken$.exe" EntryPoint="LightSensorCPP.App">
      <m3:VisualElements DisplayName="LightSensor CPP sample" Square150x150Logo="Assets\squaretile-sdk.png" Square44x44Logo="Assets\smalltile-Phone-sdk.png" Description="LightSensor CPP sample" ForegroundText="light" BackgroundColor="#00b2f0">
        <m3:DefaultTile ShortName="LightSens CPP" DefaultSize="square150x150Logo" Wide310x150Logo="Assets\tile-sdk.png" Square71x71Logo="Assets\mediumtile-sdk.png">
          <m3:ShowNameOnTiles>
            <m3:ShowOn Tile="square150x150Logo"/>
            <m3:ShowOn Tile="wide310x150Logo"/>
          </m3:ShowNameOnTiles>
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\splash-Phone-sdk.png" BackgroundColor="#00b2f0"/>
        <m3:ApplicationView MinWidth="width320"/>
      </m3:VisualElements>
    </Application>
  </Applications>
</Package>
