#scaleElement {
    touch-action:pan-x pan-y
}

#horizontalElement {
    touch-action: pinch-zoom pan-y
}

#verticalElement {
    touch-action: pinch-zoom pan-x
}


.ManipulationElement {
    position: relative;
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr;
    height: 270px;
    width:  480px;
    top:  135px;
    transition-property: transform;
    transition-timing-function: ease-in-out;
}

    .ManipulationElement .overlay
    {
        position: relative;
        -ms-grid-row-align: end;
        background-color: rgba(0,0,0,0.65);
        height: 50px;
        padding:  15px 15px;
        overflow: hidden;
        -ms-grid-column: 1;
    }
    
    
        .ManipulationElement .overlay h2,
        .ManipulationElement .overlay p
        {
            color: rgba(255, 255, 255, 0.8);
            margin: 0px;
        }

.canvas {
    display:  -ms-grid;
    -ms-grid-rows:  1fr;
    -ms-grid-columns:  25px 480px 25px 480px 25px 480px 25px;
    width: 1515px;
    height: 500px;
}