<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Defines.wxi ?>
  <Fragment Id="FragmentIronPythonItemTemplates">
    <DirectoryRef Id="IronPythonExtensionFolder">
      <Directory Id="IronPythonItemTemplatesFolder" Name="ItemTemplates" DiskId="1" >
        <Directory Id="IronPythonItemTemplatesIronPythonFolder" Name="IronPython" DiskId="1" >
          <Directory Id="IronPythonItemTemplates1033Folder" Name="1033" DiskId="1" FileSource="$(var.IronPythonExtensionDir)ItemTemplates\IronPython\1033" >
            <Component Id="BrowserFileItemTemplate" Guid="*">
              <File Id="BrowserFileItemTemplate" Name='BrowserFile.zip' KeyPath='yes' />
            </Component>
            <Component Id="ClassItemTemplate" Guid="*">
              <File Id="ClassItemTemplate" Name='Class.zip' KeyPath='yes' />
            </Component>
            <Component Id="ContentPageItemTemplate" Guid="*">
              <File Id="ContentPageItemTemplate" Name='ContentPage.zip' KeyPath='yes' />
            </Component>
            <Component Id="GlobalAsaxItemTemplate" Guid="*">
              <File Id="GlobalAsaxItemTemplate" Name='GlobalAsax.zip' KeyPath='yes' />
            </Component>
            <Component Id="HandlerItemTemplate" Guid="*">
              <File Id="HandlerItemTemplate" Name='Handler.zip' KeyPath='yes' />
            </Component>
            <Component Id="JScriptItemTemplate" Guid="*">
              <File Id="JScriptItemTemplate" Name='JScript.zip' KeyPath='yes' />
            </Component>
            <Component Id="MasterPageItemTemplate" Guid="*">
              <File Id="MasterPageItemTemplate" Name='MasterPage.zip' KeyPath='yes' />
            </Component>
            <Component Id="NestedWebConfigItemTemplate" Guid="*">
              <File Id="NestedWebConfigItemTemplate" Name='NestedWebConfig.zip' KeyPath='yes' />
            </Component>
            <Component Id="pyWPFWindowItemTemplate" Guid="*">
              <File Id="pyWPFWindowItemTemplate" Name='pyWPFWindow.zip' KeyPath='yes' />
            </Component>
            <Component Id="ResourceItemTemplate" Guid="*">
              <File Id="ResourceItemTemplate" Name='Resource.zip' KeyPath='yes' />
            </Component>
            <Component Id="SiteMapItemTemplate" Guid="*">
              <File Id="SiteMapItemTemplate" Name='SiteMap.zip' KeyPath='yes' />
            </Component>
            <Component Id="SkinFileItemTemplate" Guid="*">
              <File Id="SkinFileItemTemplate" Name='SkinFile.zip' KeyPath='yes' />
            </Component>
            <Component Id="StyleSheetItemTemplate" Guid="*">
              <File Id="StyleSheetItemTemplate" Name='StyleSheet.zip' KeyPath='yes' />
            </Component>
            <Component Id="TextFileItemTemplate" Guid="*">
              <File Id="TextFileItemTemplate" Name='TextFile.zip' KeyPath='yes' />
            </Component>
            <Component Id="WebClassItemTemplate" Guid="*">
              <File Id="WebClassItemTemplate" Name='WebClass.zip' KeyPath='yes' />
            </Component>
            <Component Id="WebConfigItemTemplate" Guid="*">
              <File Id="WebConfigItemTemplate" Name='WebConfig.zip' KeyPath='yes' />
            </Component>
            <Component Id="WebFormItemTemplate" Guid="*">
              <File Id="WebFormItemTemplate" Name='WebForm.zip' KeyPath='yes' />
            </Component>
            <Component Id="WebHtmlPageItemTemplate" Guid="*">
              <File Id="WebHtmlPageItemTemplate" Name='WebHtmlPage.zip' KeyPath='yes' />
            </Component>
            <Component Id="WebServiceItemTemplate" Guid="*">
              <File Id="WebServiceItemTemplate" Name='WebService.zip' KeyPath='yes' />
            </Component>
            <Component Id="WebuserControlItemTemplate" Guid="*">
              <File Id="WebuserControlItemTemplate" Name='WebuserControl.zip' KeyPath='yes' />
            </Component>
            <Component Id="WindowsFormItemTemplate" Guid="*">
              <File Id="WindowsFormItemTemplate" Name='WindowsForm.zip' KeyPath='yes' />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </DirectoryRef>
    
    <ComponentGroup Id="IronPythonItemTemplates">
      <ComponentRef Id="BrowserFileItemTemplate"/>
      <ComponentRef Id="ClassItemTemplate"/>
      <ComponentRef Id="ContentPageItemTemplate"/>
      <ComponentRef Id="GlobalAsaxItemTemplate"/>
      <ComponentRef Id="HandlerItemTemplate"/>
      <ComponentRef Id="JScriptItemTemplate"/>
      <ComponentRef Id="MasterPageItemTemplate"/>
      <ComponentRef Id="NestedWebConfigItemTemplate"/>
      <ComponentRef Id="pyWPFWindowItemTemplate"/>
      <ComponentRef Id="ResourceItemTemplate"/>
      <ComponentRef Id="SiteMapItemTemplate"/>
      <ComponentRef Id="SkinFileItemTemplate"/>
      <ComponentRef Id="StyleSheetItemTemplate"/>
      <ComponentRef Id="TextFileItemTemplate"/>
      <ComponentRef Id="WebClassItemTemplate"/>
      <ComponentRef Id="WebConfigItemTemplate"/>
      <ComponentRef Id="WebFormItemTemplate"/>
      <ComponentRef Id="WebHtmlPageItemTemplate"/>
      <ComponentRef Id="WebServiceItemTemplate"/>
      <ComponentRef Id="WebuserControlItemTemplate"/>
      <ComponentRef Id="WindowsFormItemTemplate"/>
    </ComponentGroup>

  </Fragment>
</Wix>