@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create and display tasks</h2>
<div>
    <div style="width:100%">
        <table style="width:100%">
            <tr>
                <td>Task creator Email ID</td>
                <td>
                    <input type="text" id="txtCreatorID" style="width:200px"/></td>
            </tr>
            <tr>
                <td>Password</td>
                <td>
                    <input type="password" id="txtPassword" style="width:200px"/></td>
            </tr>
            <tr>
                <td>Task Title</td>
                <td>
                    <input type="text" id="txtTitle" style="width:200px"/></td>
            </tr>
            <tr>
                <td>Task Message</td>
                <td>
                    <textarea rows="10" cols="50" id="txtMessage" ></textarea></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="button" id="btnCreate" value="Create and Display Task" />
                </td>
            </tr>
        </table>
    </div>
    <div id="divTasks" style="width:100%"></div>
</div>
