
/*root grid css*/
#rootGrid
{
	width: 100%;
	height: 100%;
	display: -ms-grid;
	-ms-grid-rows: 20px auto 1fr auto auto 20px;
	-ms-grid-columns: 100px 1fr 100px;
}

/*Title CSS*/
#title {
 -ms-grid-row:2;
 -ms-grid-column:2;
 -ms-word-wrap:break-word;
}
.AppLogo{
	font-size:14.667px;
	font-family:'segoe ui';
}
.AppName{
	font-family:'segoe ui';
	font-size:48px;
}
.AppDescription{
	font-family:'segoe ui';
	font-size:26.667px;
}
/*Content CSS*/
#content {
	-ms-grid-row: 3;
	-ms-grid-column:2;
	display: -ms-grid;
	-ms-grid-rows: auto auto 1fr;
	-ms-grid-columns:1fr;
}

#ZipAddress{
	-ms-grid-row:1;
	-ms-grid-column:1;
	-ms-grid-row-align:start;
	text-align:left;
	font-size:14px;
	margin-left:5px;
}
#zipAddressUrl 
{
	width:415px;
	margin-left:30px;
}
#localfile
{
	 width:415px;
}
#Controls{
	-ms-grid-row:2;
	-ms-grid-column:1;
	margin-left:10px;
}

#output {
	-ms-grid-row: 3;
	-ms-grid-column: 1;
	margin-left:10px;
}
#outputField{
	width:460px;
	word-wrap:break-word;
	min-width:300px;
	max-height:200px;
	max-width:700px;
	text-align:left;
	overflow-y:scroll;
}

#error{
	-ms-grid-row:4;
	-ms-grid-column:2;
	visibility:collapse;
}
/*Footer css*/
#footer {
	-ms-grid-row:5;  
   -ms-grid-column:2;
   margin-bottom:20px;
  
}
#footerText .company
{
	float:left;
}
#footerText a{
	float:right;
}

@media screen and (max-width:799px){
	#title {
		display:none;
	}
	#rootGrid
	{
		-ms-grid-columns: 40px 1fr 40px;
	}
	#link
	{
		display:none;
	}
}