@model IEnumerable<CSCoreLogging.Models.Student>

@{ ViewBag.Title = "All Students";}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Delete</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="Student/StudentDetail/@item.Id">
                    @item.Id
                </a>
            </td>
            <td>
                <a href="Student/StudentDetail/@item.Id">
                    @item.Name
                </a>
            </td>
            <td>
                <a href="Student/StudentDetail/@item.Id">
                    @item.Age
                </a>
            </td>
            <td>
                <a href="Student/Delete/@item.Id">delete</a>
            </td>
        </tr>
    }
</table>