/* Scenario styles */

#verticalFullscreen {
    width: 100%;
    height: 100%;
     /* fullscreen div */
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    background: rgb(29, 29, 29);
    overflow:  auto;
}

#scenarioHideFullscreen {
    position:  fixed; /* this button floats in the top-right corner of the fullscreen div */
    top: 5px;
    right: 20px;
}

#verticalFullscreen section[role=container] {
    font-size: 24px;
    line-height: 30px;
    padding: 100px;
}