/* Scenario styles */

#scenarioFullscreen {    
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 178px 1fr;
    width: 100%;
    height: 100%;
     /* fullscreen div */
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    background: rgb(29, 29, 29);
}

#scenarioHideListView {
    position: absolute; /* this button floats in the top-right corner of the fullscreen div */
    top: 5px;
    right: 5px;
}

#scenarioFullscreen header[role=banner] {
    -ms-grid-row: 1;
    -ms-grid-row-align: end;
    margin-bottom: 25px;
}

#scenarioFullscreen section[role=container] {
    -ms-grid-row: 2;
}

#scenarioListView .win-horizontal.win-viewport .win-surface {
    margin-left:  120px;
}

#scenarioListView {
    height: 100%;
    width: 100%;
    position: relative;
}

/* Template for the items in the ListViews in this sample */    
   
.smallListIconTextItem
{
    width: 242px;
    height: 70px;
    padding: 5px;
    overflow: hidden;
    display: -ms-grid;
}

.smallListIconTextItem img.smallListIconTextItem-Image 
{
    width: 60px;
    height: 60px;
    margin: 5px;
    -ms-grid-column: 1;
}

.smallListIconTextItem .smallListIconTextItem-Detail
{
    margin: 5px;
    -ms-grid-column: 2;
}

.smallListIconTextItem
{
    width: 200px;
}

/* Styles for the header */

header[role=banner]
{
    /* Define a grid with columns for the back button and page title. */
    -ms-grid-columns: 120px 1fr;
    -ms-grid-rows: 1fr;
    display: -ms-grid;
}

header[role=banner] .titlearea {
    -ms-grid-column: 2;
    padding-top: 43px;
}

header[role=banner] .titlecontainer
{
    display: inline;
}

header[role=banner] .titlearea .pagetitle
{
    width: calc(100% - 20px);
}