#postMessageLocalData
{
    width:330px;
    height:250px;
    float:left;
    margin-right:30px;
}

#postMessageWebContext
{
    width:650px;
    height:250px;
    float:left;
}

#postMessageIframe
{
    width:100%;
    border:1px solid silver;
    height:100%;
}
