#sitesList
{
    width:330px;
    height:250px;
    float:left;
    margin-right:30px;
}

#sitesList li
{
    cursor:pointer;
    color:#00749E;
    margin-bottom:8px;
}

#resultInWeb
{
    width:650px;
    height:250px;
    float:left;
}

#resultInWeb x-ms-webview
{
    width:100%;
    height:100%;
    border:1px solid silver;
}
