div.urlChooser
{
    display: -ms-box; 
    -ms-box-orient: horizontal; 
    -ms-box-align: middle;
}
.previewItem, progress.previewItem
{
    position: absolute; 
    left: 4px; 
    top: 4px; 
    width: 96px; 
    height: 96px; 
    display: none;
}
div.imageContainer
{
    position: relative; 
    width: 100px; 
    height: 100px; 
    padding: 4px; 
    margin: 5px; 
    border: 1px solid black; 
    text-align: center;
}
