.PageTitle{
    margin:30px 0px 0px 20px;
    border-bottom-style: solid;
    border-bottom-color:#d7d7d7;
    border-bottom-width:2px;
    height:25px;
     width:100%;
     font-size:13pt;
     font-weight:bold;
}
.SubmitSalesOrder{
   margin:20px 50px  0px 20px;
   width:95%;
   height:200px;
}
.DivRowLableStyle{
    float:left;
    width:140px;
    height:25px;
    text-align:right;
    margin:5px 5px 5px 0px;
        
}
.DivRowTextBoxStyle{
    float: right;
    width:220px;
     height:25px;
       text-align:left;
      margin:5px 0px 5px 0px;
}
 
.DivRowStyle{
     width:370px;
     height:45px;
}


.TableHeadTitle{
    margin:50px 0px 0px 20px;
    border-bottom-style: solid;
    border-bottom-color:#d7d7d7;
    border-bottom-width:2px;
    height:25px;
    background-color:#f3f3f3;
     width:100%;
}
  .TableColHead {
            height: 20px;
            color: #a1a1a1;
            font-size: 11pt;
            font-weight: normal;
            font-family: Calibri;
            text-align: center;
            margin: 0px 0px 0px 0px;
        }
.TableCell{
     border-bottom-color: #d7d7d7;
            border-bottom-width: 2px;
            border-bottom-style: solid;
            margin: 0px 0px 0px 0px;
            width:12.5%;
            text-align:center;
            height:26px;
}
.TableCellTextBox{
    border-style:none;
    width:99%;
    text-align:center;
    height:24px;
    border-bottom-color:black;
    border-bottom-style:solid;
    border-bottom-width:1px;
}
/*.divSpilt {
    border-bottom-color: #d7d7d7;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    margin: 0px 0px 0px 0px;
}*/
.buttonAdd {
    background-image: url('../Image/add.png');
    width: 20px;
    height: 20px;
    margin: 5px 0px 0px 0px;
}