/* Define the top level grid layout for the app*/
.appGrid {
    display: -ms-grid;
    -ms-grid-columns: 120px 1fr;
    -ms-grid-rows: 120px 1fr;
    width: 100%;
    height: 100%;
    background-color: #405687;
}

header[role=banner] {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-column-span: 2;
    display: -ms-grid;
    -ms-grid-columns: 120px 1fr;
    -ms-grid-rows: 1fr;
}

    header[role=banner] .win-backbutton {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
        margin-left: 39px;
        margin-top: 59px;
    }

    header[role=banner] .titlearea {
        -ms-grid-column: 2;
        -ms-grid-row: 1;
        margin-top: 37px;
    }

        header[role=banner] .titlearea .chevron {
            vertical-align: 8px;
        }

    header[role=banner] .titlecontainer:hover {
        color: #fe9500;
    }

    header[role=banner] .titlecontainer:active {
        color: #fe9500;
    }

    header[role=banner] .pagesubtitle {
        margin-left: 0px;
    }

    header[role=banner] .chevron {
        font-family: "Segoe UI Symbol";
        margin-left: 12px;
    }

#headerFlyout {
    width: 300px;
}

.appViewContentMask {
    -ms-grid-column: 2;
    -ms-grid-row: 2;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.appViewContent {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr;
}

.page {
    width: 100%;
    height: 100%;
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}

.appbar {
    background-color: #fe9500;
}

@media (max-width:499px) {
    .appGrid {
        display: -ms-grid;
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 120px 1fr;
        width: 100%;
        height: 100%;
    }

    header[role=banner] {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
        -ms-grid-columns: 60px 1fr;
        -ms-grid-rows: 1fr;
        display: -ms-grid;
    }

        header[role=banner] .win-backbutton {
            -ms-grid-column: 1;
            -ms-grid-row: 1;
            margin-left: 20px;
            margin-top: 75px;
        }

        header[role=banner] .titlearea {
            -ms-grid-column: 2;
            -ms-grid-row: 1;
            margin-top: 69px;
            max-width: 260px;
        }

    .appViewContentMask {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
    }

    #current {
        visibility: hidden;
    }

    .win-backbutton {
        width: 30px;
        height: 30px;
        font-size: 10pt;
        line-height: 26px; /* line-height must match the content box height */
        vertical-align: -0.37em;
    }

    h1, .win-type-xx-large {
        font-size: 20pt;
        font-weight: 200;
        line-height: 1.2; /* 32px when font-size is 20pt */
    }

    .win-type-x-large {
        font-size: 11pt;
        font-weight: 600;
        line-height: 1.3636; /* 20px when font-size is 11pt */
    }

    h1.win-type-ellipsis {
        line-height: 1.5; /* 40px when font-size is 20pt */
    }
}
