/* Size Page to full size of parent container */
.tenDayPage {
    height: 100%;
}

/* List View Control */
.tenDayListView {
    width: 100%;
    height: 100%;
}

/* Styles that are common across all view states */
.tenDayGrid {
    background-color: #6c8cbb;
    padding: 10px;
}

.tenDayDate {
    font-weight: 600;
}

    .tenDayDate > .day {
        font-weight: 200;
    }

.tenDayHighLow {
    font-weight: 300;
}

.tenDayFeelsLike, .tenDayChanceOfSnow {
    font-weight: 300;
}

.tenDayGrid {
    width: 190px;
    height: 250px;
    overflow: hidden;
    padding: 10px;
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: (auto)[5];
}

.win-vertical .tenDayGrid {
    width: 100%;
}

.tenDayDate {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}

.tenDayImg {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
}

.tenDayHighLow {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
}

.tenDayFeelsLike {
    -ms-grid-column: 1;
    -ms-grid-row: 4;
}

.tenDayChanceOfSnow {
    -ms-grid-column: 1;
    -ms-grid-row: 5;
}

/* Define the template for the width less than 500px*/
@media (max-width:499px) {
    .tenDayDate {
        font-weight: 600;
    }

        .tenDayDate > .day {
            font-weight: 200;
        }

    .tenDayHighLow {
        font-weight: 300;
    }

    .tenDayFeelsLike, .tenDayChanceOfSnow {
        font-weight: 300;
    }

    .tenDayGrid {
        width: 250px;
        height: 150px;
        overflow: hidden;
        padding: 10px;
        display: -ms-grid;
        -ms-grid-columns: auto 1fr;
        -ms-grid-rows: (auto)[4];
    }

    .tenDayDate {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
        -ms-grid-column-span: 2;
    }

    .tenDayImg {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
        -ms-grid-row-span: 3;
    }

    .tenDayHighLow {
        -ms-grid-column: 2;
        -ms-grid-row: 2;
    }

    .tenDayFeelsLike {
        -ms-grid-column: 2;
        -ms-grid-row: 3;
    }

    .tenDayChanceOfSnow {
        -ms-grid-column: 2;
        -ms-grid-row: 4;
    }
}
