<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest"
         xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest"
         xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest"
         xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">

  <Identity Name="da10182f-f266-485e-8459-7c52e2c610ec"
            Publisher="CN=sample"
            Version="1.0.0.0"/>

  <mp:PhoneIdentity PhoneProductId="10d7b649-ac2d-484d-8f08-085cfc52f6ce" PhonePublisherId="1c1415a4-40ea-4daa-92b4-fbc987ba4714"/>

  <Properties>
    <DisplayName>CameraSampleCS</DisplayName>
    <PublisherDisplayName>sample</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="x10d7b649yac2dy484dy8f08y085cfc52f6cex"
                 Executable="AGHost.exe"
                 EntryPoint="Views\MainPage.xaml">
      <m3:VisualElements DisplayName="CameraSampleCS"
                         Square150x150Logo="Assets\SquareTile150x150.png"
                         Square44x44Logo="Assets\Logo.png"
                         Description="CameraSampleCS"
                         ForegroundText="light"
                         BackgroundColor="#464646">
        <m3:DefaultTile Square71x71Logo="Assets\SquareTile71x71.png"/>
        <m3:SplashScreen Image="Assets\SplashScreen.png"/>

        <!-- Used in XAML Designer. DO NOT REMOVE. -->
        <m3:ApplicationView MinWidth="width320"/>
      </m3:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClientServer"/>
    <Capability Name="picturesLibrary"/>
    <Capability Name="videosLibrary"/>
    <DeviceCapability Name="webcam"/>
    <DeviceCapability Name="microphone"/>
  </Capabilities>
</Package>
