/* styles */
.article {
    background: white;
    color: black;
    float: left;
    padding: 10pt 10pt 10pt 10pt;
    position: relative;
    text-align: justify;
    border-color:#808080;
    border-style:dashed;
    border-width:2px;
    cursor:text;
    -ms-user-select:element; 
}

.articleImageLeft {
    float: left;
    padding: 10px 10px 10px 10px;
    max-height: 300px;
    max-width: 400px;
}