<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="320c241d-4e4a-4ff2-ab5a-5e10f620888e" Version="1.0.0.10" Publisher="CN=prasen" />
  <mp:PhoneIdentity PhoneProductId="320c241d-4e4a-4ff2-ab5a-5e10f620888e" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>BackgroundAudioPlayerJS</DisplayName>
    <PublisherDisplayName>prasen</PublisherDisplayName>
    <Logo>images\storelogo_100.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="SampleBackgroundAudioTask.MyBackgroundAudioTask">
          <BackgroundTasks>
            <Task Type="audio" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
      <m3:VisualElements DisplayName="BackgroundAudioPlayerJS" Description="BackgroundAudioPlayerJS" BackgroundColor="#464646" ForegroundText="light" Square150x150Logo="images\Logo.png" Square44x44Logo="images\Logo_44.png" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest">
        <m3:DefaultTile Square71x71Logo="images\square71x71logo.png">
        </m3:DefaultTile>
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="musicLibrary" />
  </Capabilities>
</Package>
