<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
        The <authentication> section enables configuration 
        of the security authentication mode used by 
        ASP.NET to identify an incoming user. 
    -->
		<authentication mode="Windows"/>
		<!--
        The <customErrors> section enables configuration 
        of what to do if/when an unhandled error occurs 
        during the execution of a request. Specifically, 
        it enables developers to configure html error pages 
        to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- 
      The system.webServer section is required for running ASP.NET AJAX under Internet
      Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
	<system.serviceModel>
		<bindings>
			<webHttpBinding>
				<binding name="webBinding">
				</binding>
			</webHttpBinding>
		</bindings>
		<services>
   <service behaviorConfiguration="CSRESTfulWCFServiceProvider.UserServiceBehavior"
    name="CSRESTfulWCFServiceProvider.UserService">
    <endpoint address="" behaviorConfiguration="CSRESTfulWCFServiceProvider.UserServiceBehavior"
     binding="webHttpBinding" bindingConfiguration="webBinding" contract="CSRESTfulWCFServiceProvider.IUserService">
     <identity>
      <dns value="localhost" />
     </identity>
    </endpoint>
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
   </service>
  </services>
		<behaviors>
			<endpointBehaviors>
				<behavior name="CSRESTfulWCFServiceProvider.UserServiceBehavior">
					<webHttp helpEnabled="true"/>
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="CSRESTfulWCFServiceProvider.UserServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
