<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="WCF_CustomServiceApplication.Server.DayNamerServiceApplication">
        <endpoint binding="customBinding" bindingConfiguration="DayNamerServiceHttpBinding"
                  contract="WCF_CustomServiceApplication.Server.IDayNamerContract"
                  address="" />
        <endpoint binding="customBinding" bindingConfiguration="DayNamerServiceHttpsBinding"
                  contract="WCF_CustomServiceApplication.Server.IDayNamerContract"
                  address="secure" />
      </service>
    </services>
    <bindings>
      <customBinding>
        <binding name="DayNamerServiceHttpBinding">
          <security authenticationMode="IssuedTokenOverTransport" allowInsecureTransport="true" />
          <binaryMessageEncoding>
            <readerQuotas maxStringContentLength="1048576" maxArrayLength="2097152" />
          </binaryMessageEncoding>
          <httpTransport maxReceivedMessageSize="2162688" authenticationScheme="Anonymous" useDefaultWebProxy="false" />
        </binding>
        <binding name="DayNamerServiceHttpsBinding">
          <security authenticationMode="IssuedTokenOverTransport" />
          <binaryMessageEncoding>
            <readerQuotas maxStringContentLength="1048576" maxArrayLength="2097152" />
          </binaryMessageEncoding>
          <httpsTransport maxReceivedMessageSize="2162688" authenticationScheme="Anonymous" useDefaultWebProxy="false" />
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <security>
      <authentication>
        <anonymousAuthentication enabled="true" />
        <windowsAuthentication enabled="false" />
      </authentication>
    </security>
  </system.webServer>
</configuration>