<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form method="post">
        <img src="/Home/GetImage" />
        <input type="text" name="CaptchaCode" />

        <input type="submit" />

        @ViewBag.IsVerified
    </form>
</body>
</html>