<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.net>
    <mailSettings  >
      <smtp from ="">
        <network enableSsl="true" host="" password ="" port =""/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>