body {
}


.button_classA
{
    font-family:@MS PMincho;
    font-size:14px;
    font-weight:bold;
    color:Black;
    border:1px solid #DDDDDD;
    height:24px;
}

.button_classB
{
    background-color:Black;
    font-family:@MS PMincho;
    font-size:14px;
    font-weight:bold;
    color:White;
    border:1px solid #DDDDDD;
    height:24px;
}

.page
{
    position:fixed;
    height:100%;
    width:100%;
    top:0px;
    left:0px;
    background-color:#000000;
    filter:alpha(opacity=55);
    -moz-opacity:.55;
    opacity:.55;
    z-index:50;
 }
 
 .content
 {
     position:fixed;
     background-color:#888888; 
     border:1px solid #999999; 
     z-index:50; 
     left:20%; 
     right:20%; 
     top:20%;
     height:200px;
 }