<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="Microsoft.SDKSamples.Compression.JS" Version="1.0.0.0" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" />
  <Properties>
    <DisplayName>Compression JS sample</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Description>Compression JS sample</Description>
    <Logo>images\storeLogo-sdk.png</Logo>
  </Properties>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Applications>
    <Application Id="Compression" StartPage="default.html">
      <VisualElements DisplayName="Compression JS sample" Logo="images\squareTile-sdk.png" SmallLogo="images\smallTile-sdk.png" Description="Compression JS sample" ForegroundText="light" BackgroundColor="#00b2f0" ToastCapable="false">
        <DefaultTile ShortName="Compress JS" ShowName="allLogos" />
        <SplashScreen BackgroundColor="#00b2f0" Image="images\splash-sdk.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.fileTypeAssociation" StartPage="default.html">
          <FileTypeAssociation Name="compressionsamplefile">
            <DisplayName>Compression SDK sample file</DisplayName>
            <SupportedFileTypes>
              <FileType>.compressed</FileType>
              <FileType>.decompressed</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="documentsLibrary" />
  </Capabilities>
</Package>