/*root grid css*/
#rootGrid
{
	width: 100%;
	height: 100%;
	display: -ms-grid;
	-ms-grid-rows: 20px auto 1fr auto;
	-ms-grid-columns: 100px 1fr 100px;
}
/*Title CSS*/
#title {
	 -ms-grid-row:2;
	 -ms-grid-column:2;
	 -ms-word-wrap:break-word;
}
.AppLogo{
	font-size:14.667px;
	font-family:'segoe ui';
}
.AppName{
	font-family:'segoe ui';
	font-size:48px;
}
.AppDescription{
	font-family:'segoe ui';
	font-size:26.667px;
}
/*Content CSS*/
#content {
	-ms-grid-row: 3;
	-ms-grid-column:2;
	display: -ms-grid;
	-ms-grid-columns:auto auto auto;
	-ms-grid-rows:auto auto;
}
#left{
	-ms-grid-row:1;
	-ms-grid-column:1;
	margin:5px;
}
#middle{
	-ms-grid-row:1;
	-ms-grid-column:2;
	margin:5px;
}

#right{
	-ms-grid-row:1;
	-ms-grid-column:3;
	margin:5px;
}

#result{
	-ms-grid-row:2;
	-ms-grid-column-span:3;
	margin:20px 10px 10px 10px;
}

/*Footer css*/
#footer {
	-ms-grid-row:4;
	-ms-grid-column:2;
	margin-bottom:30px;
}
#footerText .company
{
	float:left;
}
#footerText a{
	float:right;
}



@media screen and (max-width:799px){
    #title {
        display:none;
    }
    #rootGrid
    {
        -ms-grid-columns: 40px 1fr 40px;
    }
    #link
    {
        display:none;
    }
}