html, body {
    font-family: 'Segoe UI', Arial,Verdana;
    font-size: 8pt;
    margin: 0;
    padding: 0;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #525252;
    padding: 0;
    margin: 0;
}

#res {
    width: 900px;
    padding-left: 10px;
}

    #res .ddlRegion {
        float: right;
        clear: both;
        width: 100px;
        position: relative;
    }

        #res .ddlRegion select {
            position: absolute;
            top: 29px;
            left: 0;
            display: none;
        }

    #res h1 {
        font-size: 18pt;
        line-height: 46px;
        color: #a3a3a3;
    }

    #res table {
        width: 100%;
        font-size: 10pt;
    }

        #res table td {
            line-height: 27px;
            border-bottom: 1px solid #e8f1f8;
        }

        #res table thead tr {
            background: #e8f1f8;
            color: #3e94d3;
            font-size: 8pt;
            line-height: 37px;
        }

            #res table thead tr th {
                padding-left: 8px;
                padding-right: 8px;
                white-space: nowrap;
            }

        #res table tbody tr {
            border-bottom: 1px solid #e8f1f8;
        }

            #res table tbody tr:first-child td {
                padding-top: 10px;
            }

    #res .checkin {
        display: inline-block;
        position: relative;
        width: 16px;
        height: 16px;
        overflow: hidden;
        top: 4px;
        visibility: hidden;
    }

    #res .checkouticon {
        display: inline-block;
        position: relative;
        width: 16px;
        height: 16px;
        overflow: hidden;
        top: 4px;
        visibility: hidden;
    }

    #res .checkout {
        display: inline-block;
        position: relative;
        width: 16px;
        height: 16px;
        overflow: hidden;
        top: 4px;
        visibility: visible;
    }

        #res span img {
            position: absolute;
            top: -196px;
            left: -91px;
        }

    #res #btnNewDoc {
        margin-top: 20px;
        float: right;
        clear: both;
    }

.uploadForm {
    overflow: hidden;
}
