table#albumTable, table#albumTable td {
  border: 1px solid black;
  border-collapse: collapse;
}

table#albumTable {

}


table#albumTable thead td {
  background-color: black;
  color: white;
}

table#albumTable td {
  font-size: 14px;
  padding: 2px;
  padding-left: 4px;
  padding-right: 8px;
}
