<?xml version="1.0"?>

<!--/****************************** Module Header ******************************\
* Module Name: Web.config
* Project:     CSASPNETResumeDownload2012
* Copyright (c) Microsoft Corporation
*
* This project demonstrates how to implement resume download feature in Asp.net.
* As we know, due to network interruptions, downloading a file is a problem when
* the size of the file is large, we need to support resume download if the connection
* broken.
*
* This source is subject to the Microsoft Public License.
* See http://www.microsoft.com/en-us/openness/licenses.aspx.
* All other rights reserved.
*
* THIS CODE AND INFORMATION IS PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND,
* EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED
* WARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR A PARTICULAR PURPOSE.
\*****************************************************************************/-->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <!-- Please update your file location -->
    <add key="FilePath" value="C:\Temp\MyFile.zip" />
  </appSettings>
</configuration>
