html, body
{
    height:100%;
    margin:0px;
}

.leftmost
{
    margin-left: 40px;
}

.caption
{
    margin-bottom: 10px;
}

.collection
{
    margin-bottom: 20px;
}

.checkboxTitle
{
    margin-right: 25px;
    display: inline;
}

#rangeElement
{
    /*necessary to counteract built-in padding on range control*/
    padding: 0px;
}

#styleTitle
{
    margin-bottom: 20px;
}
