#appView
{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    margin: 0px;
    padding: 0px;
    display: -ms-grid;
    -ms-grid-columns: 1fr 2fr 300px;
    -ms-grid-rows: 1fr;
    background-color: white;
}
#appView > *
{
    margin: 15px;
    height: calc(100% - 15px);
}
#leftPanel
{
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    overflow-y: auto;
    overflow-x: hidden;
}
#middlePanel
{
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    overflow: hidden;
}
#middleContainer
{
    display: -ms-grid;
    -ms-grid-rows: 1fr auto;
    -ms-grid-columns: 1fr 1fr;
    
    width: 100%;
    height: 100%;
}

#middleList
{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    overflow-y: auto;
    overflow-x: hidden;
}

.filler {
    width:  100%;
    background-image: linear-gradient(to bottom, blue 0%, red 100%);
}

#defaultHandling
{
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    width: calc(100% - 15px);
    height: calc(100% - 15px);
    background-color: cyan;
    color: black;
}
#customHandling
{
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    width: calc(100% - 15px);
    height: calc(100% - 15px);
    background-color: grey;
    color: white;
}
#rightPanel
{
    -ms-grid-column: 3;
    -ms-grid-row: 1;
}
#largeBox
{
    width: 240px;
    height: 240px;
    margin: 15px;
    background-color: black;
}