<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUnZipWcfService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1:56217/UnZipService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IUnZipWcfService" contract="ServiceReference1.IUnZipWcfService"
                name="BasicHttpBinding_IUnZipWcfService" />
        </client>
    </system.serviceModel>
</configuration>