#include "resources.h"

STRINGTABLE DISCARDABLE
BEGIN
    IDS_SERVERNOTIFICATION "Server notification"
    IDS_UNKNOWNDATAFORMAT "Unknown data format"
    IDS_PRINTERDELETED "Printer deleted"
    IDS_UNREGISTER "Unregister..."
    IDS_STARTDOC "Start Doc"
    IDS_ENDDOC "End Doc"
    IDS_ENDDIALOG "End dialog"
END

