body 
{
    background-color: black;
    overflow:hidden;
    -ms-content-zooming:none;
    -ms-touch-action:none;
}

line
{
    stroke: #33ccff;
    stroke-width: 8;
    stroke-linecap: round;
}

#GamePositioner
{
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    right:0;
    margin: auto;
    overflow:hidden;
}