body {
  background-color: #DDD;
  overflow: visible;
  background-image: url(background.jpg)
}

#pageWidth {
  width: 1200px;
  margin: auto;
  min-height: 600px;
  background-color: white;
  border: 1px solid #ccc;
}

#topnav {
  background-color: black;
  padding: 2px;
  padding-left: 4px;
}

a#linkHostWeb, a#linkHostWeb:link, a#linkHostWeb:hover, a#linkHostWeb:visited {
  color: white;
  font-size: 14px;
  text-decoration: none;
}

#banner {
  background-color: #FFF;
  padding: 4px;
}

#appTitle {
  color: DarkBlue;
  font-size: 72px;
}

#contentBody {
  border-top: 1px solid black;
  padding: 8px;
}



#contentBody h2 {
  font-size: 2.0em;
  color: #444;
  margin-bottom: 12px;
}

#contentBody h3 {
  margin-top: 12px;
  font-size: 1.5em;
  color: DarkBlue;
  padding-bottom: 2px;
  border-bottom: 2px DarkBlue solid;
  margin-bottom: 8px;
}


table {
}

table, table td {
  border: #999 1px solid;
  color: black;
  border-collapse: collapse;
}

table td {
  padding: 4px;
  border-collapse: collapse;
  vertical-align: top;
  text-wrap: normal;
  word-break: break-all;
  word-wrap: break-word;
  font-size: 9pt;
}

table td ul {
	margin: 2px;
	padding-left: 8px;
}


table td ul li {
	margin-left: 2px;
}

p {
  font-size: 1.5em;
}