<?xml version="1.0" encoding="utf-8"?> 
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="Microsoft.SDKSamples.AssociationLaunching.JS" Version="1.0.0.0" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US"/>
  <Properties>
    <DisplayName>Launcher API JS sample</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Description>Association Launching SDK Sample</Description>
    <Logo>images\storeLogo-sdk.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="en-US"/>
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <Extensions>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name=".alsdkjs">
            <!-- This is not the file used for the icon. The actual files are images\Icon.targetsize-*.png (16, 32, 48, and 256) which correspond to the various supported resolutions. This ensures optimal rendering of the icon. -->
            <Logo>images\Icon.png</Logo>
            <SupportedFileTypes>
              <FileType>.alsdkjs</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
        <Extension Category="windows.protocol">
          <Protocol Name="alsdkjs" m2:DesiredView="useLess">
            <!-- This is not the file used for the icon. The actual files are images\Icon.targetsize-*.png (16, 32, 48, and 256) which correspond to the various supported resolutions. This ensures optimal rendering of the icon. -->
            <Logo>images\Icon.png</Logo>
          </Protocol>
        </Extension>
      </Extensions>
      <m2:VisualElements DisplayName="Launcher API JS sample" Description="AssociationLaunching JS sample" ForegroundText="light" BackgroundColor="#00b2f0" Square150x150Logo="images\squaretile-sdk.png" Square30x30Logo="images\smalltile-Windows-sdk.png">
        <m2:DefaultTile ShortName="Launcher API JS" DefaultSize="square150x150Logo" Wide310x150Logo="images\tile-sdk.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo"/>
            <m2:ShowOn Tile="wide310x150Logo"/>
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="images\splash-Windows-sdk.png"/>
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient"/>
  </Capabilities>
</Package>