#rootGrid
{
	width: 100%;
	height: 100%;
	display: -ms-grid;
	-ms-grid-rows: 10px auto 1fr auto auto 10px;
	-ms-grid-columns: 10px 1fr 10px;
}

/*Title CSS*/
#title {
	 -ms-grid-row:2;
	 -ms-grid-column:2;
	 -ms-word-wrap:break-word;
}

.AppName{
	font-family:'segoe ui';
	font-size:18px;
}

/*Content CSS*/
#content {
	-ms-grid-row: 3;
	-ms-grid-column:2;
	display: -ms-grid;
	-ms-grid-rows: auto auto 1fr;
	-ms-grid-columns:1fr;
}

#ZipAddress{
	-ms-grid-row:1;
	-ms-grid-column:1;
	-ms-grid-row-align:start;
	text-align:left;
	font-size:14px;
	
}
#zipAddressUrl 
{
	width:250px;	
    margin-left:30px;
}
#localfile
{
	 width:250px;
}
#Controls{
	-ms-grid-row:2;
	-ms-grid-column:1;
	margin-left:10px;
}

#output {
	-ms-grid-row: 3;
	-ms-grid-column: 1;
}
#outputField{
	word-wrap:break-word;
	max-height:150px;
	text-align:left;
	overflow-y:scroll;
}

#error{
	-ms-grid-row:4;
	-ms-grid-column:2;
	visibility:collapse;
}

/*Footer css*/
#footer {
	-ms-grid-row:5;
	-ms-grid-column:2;
	-ms-grid-rows:auto,auto;
	margin-bottom:10px;
}
#footer image{
	-ms-grid-row:1;
}
#footerText{
	-ms-grid-row:2;    
	-ms-grid-rows:auto,auto;
}
#footerText .company{
	-ms-grid-row:1;
	float:left;
}

#footerText a{
	-ms-grid-row:2;
	float:right;
}