/* Template for items in the ListView */   
.mediumListIconTextItem
{
    width: 282px;
    height: 70px;
    padding: 5px;
    overflow: hidden;
    display: -ms-grid;
}

    .mediumListIconTextItem img.mediumListIconTextItem-Image 
    {
        width: 60px;
        height: 60px;
        margin: 5px;
        -ms-grid-column: 1;
    }

    .mediumListIconTextItem .mediumListIconTextItem-Detail
    {
        margin: 5px;
        -ms-grid-column: 2;
    }

/* CSS applied to the ListView */
#listView4a
{
    width: 310px;
    height: auto;
    border: solid 2px rgba(0, 0, 0, 0.13);
}

#listView4b
{
    width: 600px;
    height: auto;
    border: solid 2px rgba(0, 0, 0, 0.13);
}

/* Additional CSS for the scenario */
#itemOptionsView
{
    width: 100%;
    height: 280px;
    display: -ms-flexbox;
}