/* Template for comment items in the ListView */
.commentTemplateClass
{
    height: 105px;
    padding: 5px;
}

/* CSS applied to the ListView */
#listView3
{
    width: 380px;
    height: auto;
    border: solid 2px rgba(0, 0, 0, 0.13);
}  

/* Additional CSS for the scenario */
#commentsSection
{
    width: 100%;
    height: 300px;
    display: -ms-flexbox;
}      
        
#itemDetail
{
    width: 310px;
}