#body{
	padding-top:8px;
}
#userLeft{
	float:left;
	width:198px;
}
#userPanel{
	border:1px #B0B0B0 solid;
	margin-top:4px;
}
#userPanel h5{
	height:30px;
	line-height:30px;
	border-top:1px #E8E8E8 solid;
	border-bottom:1px #E8E8E8 solid;
	font-size:12px;
	color:#9E0000;
	padding-left:14px;
	margin:0;
}
#userPanel ul{
	padding:4px 0px 4px 14px;
	margin:0px;
	line-height:180%;
	list-style:none;
}
#userPanel ul a{
	color:#6A6A6A;
}
#userRight{
	float:left;
	width:770px;
	margin-left:28px;
}















