/* styles */
#sampleContent
{
    display: -ms-grid;
    -ms-grid-rows: 1fr auto;
    -ms-grid-columns: 1fr 1fr;
    width: 100%;
}

#left
{
    margin: 20px;
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}

#right
{
    margin: 20px;
    -ms-grid-column: 2;
    -ms-grid-row: 1;
}

.center
{
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    color: white;
    font-size: 18pt;
}

#leftButton
{
    background-color: #f00;
    width: 200px;
    height: 200px;
}

#rightButton
{
    background-color: #f00;
    width: 200px;
    height: 200px;
}
