#feed {
    background: #3d3d3d url('../../../images/LargeRSSLogo-background-white.png') bottom left no-repeat !important;
    background-size: cover;
}

/* This selector is used to prevent ui-dark/light.css from overwriting changes
   to .win-surface. */
#feed #articlesListView .win-horizontal.win-viewport .win-surface {
    margin-left: 115px;
    margin-bottom: 60px;
}

/* List View */
#articlesListView {
    position: relative;
    height: 100%;
    width: 100%;
            
}

/* Tiles */
    
    /* Text tile */
    #articlesListView .large-text-tile {
        height: 510px;
        width: 510px;
        display: -ms-grid;
        background-color: #d85137;
    }
        
        #articlesListView .large-text-tile .title {
            margin: 0;
            padding: 5px;
            height: 100%;
            font: 34pt/38pt "Segoe UI Semilight";
        }
        
     #articlesListView .normal-text-tile {
        height: 250px;
        width: 250px;
        display: -ms-grid;
        background-color: #d85137;
    }
        
        #articlesListView .normal-text-tile .title {
            margin: 0;
            padding: 5px;
            height: 100%;
            font: 18pt/22pt "Segoe UI Semilight";
        }
    
    /* Image tile */
    #articlesListView .large-image-tile {
        height: 510px;
        width: 510px;
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 1fr 180px;
         display: -ms-grid;
        background-color: white !important;
    }
    
        #articlesListView .large-image-tile .image {
            -ms-grid-row-span: 2;
            overflow: hidden;
            background-repeat: no-repeat !important;
        }

        #articlesListView .large-image-tile .overlay {
            -ms-grid-row: 2;
            background-color: #d85137;
            opacity: 0.9;
            height: 180px;
        }

        #articlesListView .large-image-tile .overlay .title {
            margin: 0;
            padding: 5px;
            font: 20pt/24pt "Segoe UI Semilight";
            -ms-hyphens: auto;
        }
         
    #articlesListView .normal-image-tile {
        height: 250px;
        width: 250px;
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 1fr 110px;
         display: -ms-grid;
        background-color: white !important;
    }
    
        #articlesListView .normal-image-tile .image {
            -ms-grid-row-span: 2;
            overflow: hidden;
            background-repeat: no-repeat !important;
        }

        #articlesListView .normal-image-tile .overlay {
            -ms-grid-row: 2;
            background-color: #d85137;
            opacity: 0.9;
            height: 110px;
        }

        #articlesListView .normal-image-tile .overlay .title {
            margin: 0;
            padding: 5px;
            font: 13pt/15pt "Segoe UI Semilight";
            -ms-hyphens: auto;
        }
    
            .small-image {
                background-position: center top !important;
                background-size: contain !important;
            }

            .large-image {
                background-size: cover !important;
            }

@media screen and (-ms-view-state: snapped) {

    #articlesListView .normal-text-tile {
        height: 80px;
        width: 100%;
        display: -ms-grid;
        background-color: #d85137;
    }
        
        #articlesListView .normal-text-tile .title {
            margin: 0;
            padding: 5px;
            height: 100%;
            font: 11pt/15pt "Segoe UI Semilight";
        }

}