<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="Microsoft.SDKSamples.PrintSample.VB" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Print SDK VB Sample</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>Assets\storelogo-sdk.png</Logo>
    <Description>Print SDK VB Sample</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Applications>
    <Application Id="PrintSampleVB.App" Executable="$targetnametoken$.exe" EntryPoint="PrintSampleVB.App">
      <VisualElements DisplayName="Printing VB Sample" Logo="Assets\squaretile-sdk.png" SmallLogo="Assets\smalltile-sdk.png" Description="Printing VB Sample" ForegroundText="light"  BackgroundColor="#00b2f0">
        <DefaultTile ShortName="PrintSampleVB" ShowName="allLogos" />
        <SplashScreen Image="Assets\splash-sdk.png" BackgroundColor="#00b2f0" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>
