<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="Microsoft.SDKSamples.WRLOutOfProcessComponent.CS" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="1.0.0.0" />
  <Properties>
    <DisplayName>WRL Out-of-process Windows Runtime component client C# sample</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>Assets\storeLogo-sdk.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="Microsoft.SDKSamples.WRLOutOfProcessWinRTComponent.CS" Executable="$targetnametoken$.exe" EntryPoint="CSClient">
      <VisualElements DisplayName="WRL Out-of-process Windows Runtime component client C# sample" Logo="Assets\squareTile-sdk.png" SmallLogo="Assets\smallTile-sdk.png" Description="WRL Out-of-process Windows Runtime component client C# sample" ForegroundText="light" BackgroundColor="#00b2f0">
        <DefaultTile ShortName="WRL Out-of-process WinRT client C#" ShowName="allLogos"/>
        <SplashScreen Image="Assets\splash-sdk.png" BackgroundColor="#00b2f0" />
      </VisualElements>
    </Application>
  </Applications>
  <Extensions>

    <Extension Category="windows.activatableClass.outOfProcessServer">
      <OutOfProcessServer ServerName="Microsoft.SDKSamples.Kitchen.OvenServer">
        <Path>Microsoft.SDKSamples.Kitchen.exe</Path>
        <Instancing>singleInstance</Instancing>
        <ActivatableClass ActivatableClassId="Microsoft.SDKSamples.Kitchen.Oven" />
      </OutOfProcessServer>
    </Extension>

    <Extension Category="windows.activatableClass.proxyStub">
      <ProxyStub ClassId="332fd2f1-1c69-4c91-949e-4bb67a85bdc5">
        <Path>Microsoft.SDKSamples.Kitchen.Proxies.dll</Path>
        <Interface Name="IOven" InterfaceId="6a112353-4f87-4460-a908-2944e92686f3" />

        <Interface Name="IOvenFactory" InterfaceId="f36c2a21-f4e3-4c39-94ce-eb9190afdab3" />

        <Interface Name="IBread" InterfaceId="699b1394-3ceb-4a14-ae23-efec518b088b" />
        <Interface Name="IAppliance" InterfaceId="332fd2f1-1c69-4c91-949e-4bb67a85bdc5" />
        <Interface Name="__FITypedEventHandler_2_Microsoft__CSDKSamples__CKitchen__COven_Microsoft__CSDKSamples__CKitchen__CBread" InterfaceId="528cc6e3-86fd-581c-a266-77a00a07e668" />
      </ProxyStub>
    </Extension>
  </Extensions>
</Package>

