/* detailed description under the name of each sub example */


iframe.styleFrame
{
    width: 400px;
}

iframe.tooltipFrame1
{
    height: 130px;
}

.anchorButton
{    
    width: 120px;
}

.roundedCornerTooltipStyle
{
    /* clear out the border, background and width styles that come from default stylesheet */
    border-width: 0px;
    background: transparent;
    min-width: 0px;
    
    /* custom style */
    border-radius: 6px;
    max-width: 140px;
    padding: 10px;
    border: 1px solid rgb(108, 108, 108);
    background-image: linear-gradient(180deg, rgb(255, 242, 207), rgb(254, 218, 108));
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.ovalTooltipStyle
{
    /* clear out the border, background and width styles that come from default stylesheet */
    border-width: 0px;
    background: transparent;
    min-width: 0px;
}

#ovalTooltipContent
{
    display: -ms-flexbox;
    -ms-flex-direction: column;
    -ms-flex-align: center;
}

#oval
{
    border-radius: 100px 100px 100px 100px / 50px 50px 50px 50px;
    width: 212px; /* there's a 212-100=12px flat region in the middle to place the beak seamlessly */
    height: 100px;
    border: 1px solid black;
    background-color: white;
    text-align: center;
    line-height: 100px;
    color: black;
}

#beak
{
    background-image: url("../images/beak.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 12px;
    height: 16px;
    margin-top: -1px; /* move up to cover the black border of the oval so that the white fill of the beak looks connected with the fill inside the oval */
}