<?xml version="1.0" encoding="utf-8"?> 
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="7E8205D3-1AA7-4C5E-961A-E6180A0D163B" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="1.0.0.0"/>
  <mp:PhoneIdentity PhoneProductId="7E8205D3-1AA7-4C5E-961A-E6180A0D163B" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
  <Properties>
    <DisplayName>Geolocation CS sample</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>Assets\storeLogo-sdk.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate"/>
  </Resources>
  <Applications>
    <Application Id="GeolocationCS.App" Executable="$targetnametoken$.exe" EntryPoint="GeolocationCS.App">
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="BackgroundTask.LocationBackgroundTask">
          <BackgroundTasks>
            <Task Type="timer"/>
          </BackgroundTasks>
        </Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="BackgroundTask.GeofenceBackgroundTask">
          <BackgroundTasks>
            <m2:Task Type="location"/>
          </BackgroundTasks>
        </Extension>
      </Extensions>
      <m3:VisualElements DisplayName="Geolocation CS sample" Square150x150Logo="Assets\squaretile-sdk.png" Square44x44Logo="Assets\smalltile-Phone-sdk.png" Description="Geolocation CS sample" ForegroundText="light" BackgroundColor="#00b2f0">
        <m3:DefaultTile ShortName="Geoloc CS" DefaultSize="square150x150Logo" Wide310x150Logo="Assets\tile-sdk.png" Square71x71Logo="Assets\mediumtile-sdk.png">
          <m3:ShowNameOnTiles>
            <m3:ShowOn Tile="square150x150Logo"/>
            <m3:ShowOn Tile="wide310x150Logo"/>
          </m3:ShowNameOnTiles>
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\splash-Phone-sdk.png" BackgroundColor="#00b2f0"/>
        <m3:LockScreen Notification="badge" BadgeLogo="Assets\badge-logo.png" />
        <m3:ApplicationView MinWidth="width320"/>
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <DeviceCapability Name="location"/>
  </Capabilities>
</Package>