/* Templates for multisized items in the ListView */
/* Small size */ 
.smallListIconTextItem
{
    width: 300px;
    height: 70px;
    padding: 5px;
    overflow: hidden;
    background-color: Pink;
    display: -ms-grid;
}        

/* Medium size */ 
.mediumListIconTextItem
{
    width: 300px;
    height: 160px;
    padding: 5px;
    overflow: hidden;
    background-color: LightGreen;
    display: -ms-grid;
}

/* Large size */ 
.largeListIconTextItem
{
    width: 300px;
    height: 250px;
    padding: 5px;
    overflow: hidden;
    background-color: LightBlue;
    display: -ms-grid;
}

/* Template for items in the ListView */ 
.regularListIconTextItem
{
    width: 300px;
    height: 70px;
    padding: 5px;
    overflow: hidden;
    display: -ms-grid;
}

    img.regularListIconTextItem-Image 
    {
        width: 60px;
        height: 60px;
        margin: 5px;
        -ms-grid-column: 1;
    }

    .regularListIconTextItem-Detail
    {
        margin: 5px;
        -ms-grid-column: 2;
    }
   
/* CSS applied to the ListView */
#listView
{
    width: 800px;
    height: 280px;
    border: solid 2px rgba(0, 0, 0, 0.13);
}