/* styles */
#handleContextMenuDiv {
    border-style: dashed;
    height: 200px;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#handleContextMenuText {
    text-align: center;
    position: relative;
    top: 34%;
    margin-left: 10px;
    margin-right: 10px;
}

