@model IEnumerable<CSASPNETWebGrid.Models.Person>
@{
    ViewBag.Title = "Home Page"; 
    var grid = new WebGrid(source: Model);
}

@section featured {
    <section class="featured">
        
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
          
               <fieldset>
                   <legend>Person</legend>
                   @grid.GetHtmlWithSelectAllCheckBox(
                   tableStyle: "grid", 
                   columns: grid.Columns(
                   grid.Column(columnName: "Name"),
                   grid.Column(columnName: "Email"),
                   grid.Column(columnName: "Address")
                   ))
                   <p>
                       <input type="submit" value="Submit" />
                   </p>
               </fieldset>
           
        </div>
    </section>
}

