<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>

    <client>
      <!-- chat instance participating in the mesh -->
      <endpoint name="ChatEndpoint"
                address="net.p2p://chatMesh/ServiceModelSamples/Chat" 
                binding="netPeerTcpBinding" 
                bindingConfiguration="BindingCustomResolver" 
                contract="Microsoft.ServiceModel.Samples.IChat">
      </endpoint>

      <!-- client used to communicate with the custom resolver service -->
      <endpoint name="CustomPeerResolverEndpoint"
                address="net.tcp://localhost/ServiceModelSamples/peerResolverService" 
                binding="netTcpBinding" 
                bindingConfiguration="Binding3" 
                contract="Microsoft.ServiceModel.Samples.ICustomPeerResolver">
      </endpoint>
    </client>

    <bindings>
      <netPeerTcpBinding>
        <!-- Refer to Peer channel security samples on how to configure netPeerTcpBinding for security -->
        <binding name="BindingCustomResolver" port="0">
          <security mode="None" />
          <resolver mode="Custom">
            <custom address = "net.tcp://localhost/servicemodelsamples/peerResolverService"
                            binding="netTcpBinding" 
                            bindingConfiguration="Binding3" />
          </resolver>
        </binding>
        <binding name="BindingDefault" port="0">
          <security mode="None"/>
          <resolver mode="Auto"/>
        </binding>
      </netPeerTcpBinding>

      <netTcpBinding>
        <!-- You can change security mode to enable security -->
        <binding name="Binding3">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>

  </system.serviceModel>

</configuration>
