<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="Microsoft.SDKSamples.ApplicationResources.VB" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="1.0.0.0" />
  <Properties>
    <DisplayName>ms-resource:displayName</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>images\PackageLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="ApplicationResources.App" Executable="$targetnametoken$.exe" EntryPoint="ApplicationResources.App">
      <m2:VisualElements DisplayName="ms-resource:appDisplayName" Description="ms-resource:appDescription" BackgroundColor="#00b2f0" ForegroundText="light" Square150x150Logo="Images\Logo.png" Square30x30Logo="Images\smallLogo.png">
        <m2:DefaultTile ShortName="ms-resource:shortName">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen BackgroundColor="#00b2f0" Image="Images\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
</Package>