#passwordGrid
{
    display:-ms-grid;
    -ms-grid-columns:1fr;
    -ms-grid-rows: auto auto;
    -ms-grid-row: 2;
}

#passwordInputLabel
{
    -ms-grid-row: 1;
}

#password
{
   -ms-grid-row: 2;
   display: -ms-grid;
   -ms-grid-columns: auto auto;
   -ms-grid-rows: auto;
}

#password .item.hide
{
    display:none;
}

#password .item.shown
{
    display: block;
}

#scenarios 
{
    display:none;
}

#input .options.shown
{
    display:block;
}

#input .details
{
    display:none;
}

#input .details.shown
{
    display:block;
}

#output 
{
     display:none;
}

#input .item.hide, #output .item.hide
{
    display:none;
}

