<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity
    Name="Microsoft.SDKSamples.AriaSample.JS"
    Version="1.0.0.0"
    Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" />

  <Properties>
    <DisplayName>Aria Sample JS sample</DisplayName>
    <Description>Aria Sample JS sample</Description>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application 
      Id="App"
      StartPage="default.html">

      <VisualElements
        DisplayName="Aria Sample JS sample"
        Logo="images\logo.png"
        SmallLogo="images\smalllogo.png"
        Description="Aria Sample JS sample"
        ForegroundText="light"
        BackgroundColor="#00b2f0">

        <DefaultTile ShowName="allLogos" />
        <SplashScreen BackgroundColor="#00b2f0" Image="images\splashscreen.png" />

      </VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>

</Package>
