/* Scenario styles */

.win-appbar.transparentAppBar {
    /* Set the AppBar background color and opacity*/
    background-color: rgba(255, 255, 255, 0);
}

.win-appbar.transparentAppBar .win-label {
    /* Set the AppBar foreground color */
    color: rgb(0, 0, 0);
}