
.deleteButton {
    cursor:pointer;
    padding-bottom:5px;
    padding-top:5px;
    padding-left:5px;
    padding-right:5px;
    margin-left:50px;
    margin-right:5px;
    color:#ffffff;
    background-color:#AAAAAA;
    font-family:"Segoe UI", sans-serif; 
    font-size:12px;
}

.clear {
    width:100%;
    clear:both;
    height:5px;
}


.item {
    cursor:pointer;
    color:black;
    font-family:"Segoe UI", sans-serif; 
    font-size:14px;
    margin-bottom:3px;
}

.itemReview {
    cursor:pointer;
    color:white;
    font-family:"Segoe UI", sans-serif; 
    font-size:14px;
    margin-bottom:3px;
  margin-left:40px;
  width:300px;
}

.itemObj {
    cursor:pointer;
    color:black;
    font-family:"Segoe UI", sans-serif; 
    font-size:14px;
    margin-bottom:3px;
  margin-left:20px;
  width:210px;
}
.newObjClicker{
    font-family:'Segoe UI Light';
    font-size:18px;
    color:darkorange;
    margin-left:15px;
    margin-top:8px;
    cursor:pointer;
}
.clicker {
    cursor:pointer;
    padding-left:45px;
    margin-top:10px;
    margin-bottom:10px;
    margin-right:10px;
    color:black;
    font-family:"Segoe UI Light", "Segoe UI", sans-serif; 
    font-weight:lighter;
    font-size:18px;
}

.reviewTile {
    color:black;
    font-family:"Segoe UI Light", "Segoe UI", sans-serif; 
    font-weight:lighter;
    font-size:16px;
    margin-left:30px;
    margin-top:20px;
    margin-bottom:50px;
    width:50px;
    height:30px;
    text-align:center;
    background-color:cornsilk;
}
.listHeading {
    color:#0072C6;
    font-size:24px;
    font-family:"Segoe UI Light", "Segoe UI", sans-serif; 
    font-weight:lighter;
    margin-top:10px;
    margin-bottom:10px;
}

.formLabel {
    width:150px;
    float:left;
    margin-left:10px;
    margin-right:20px;
    color:black;
    font-size:16px;
    font-family:"Segoe UI", sans-serif; 
}
.formTitle {
    width:600px;
    float:right;
    text-align:right;
    margin-right:60px;
    margin-bottom:20px;
    margin-top:0px;
    color:white;
    font-size:36px;
    font-family:"Segoe UI Light", "Segoe UI", sans-serif; 
    font-weight:lighter;
}

.peoplePickerButton {
    color:white;
    background-color:#0072C6 ;
    font-size:16px;
    font-family:"Segoe UI", sans-serif;
    font-weight:lighter;
    cursor:Pointer;
    height:25px;
    width:30px;
    margin-left:10px;
    float:left;
    text-align:center;
    vertical-align:middle;
}
.button {
    color:white;
    background-color:#5c9ccc;
    border:2px;
    font-size:18px;
    font-family:"Segoe UI", sans-serif;
    font-weight:lighter;
    cursor:Pointer;
    height:30px;
    width:75px;
    float:right;
    margin:5px;
    text-align:center;
    vertical-align:middle;
}
.empbutton {
    color:black;
    background-color:white;
    border:2px;
    font-size:18px;
    font-family:"Segoe UI", sans-serif;
    font-weight:lighter;
    cursor:Pointer;
    height:30px;
    width:75px;
    float:right;
    margin:5px;
    text-align:center;
    vertical-align:middle;
}
.objButton {
    color:white;
    background-color:#5c9ccc;
    border:2px;
    font-size:18px;
    font-family:"Segoe UI", sans-serif;
    font-weight:lighter;
    cursor:Pointer;
    height:30px;
    width:75px;
    float:right;
    margin:5px;
    text-align:center;
    vertical-align:middle;
}
.errorReview {
    color:white;

    padding-left:45px;
}

.errorObj {
    color:black;

    padding-left:30px;
}
.empObj {
 background-color: #5c9ccc;
  width: 650px;
  padding-left:20px; 
  padding-bottom:20px;
  padding-right:20px;
  float: left;
}

.empFormLabel {
    width:150px;
    float:left;
    margin-left:10px;
    margin-right:20px;
    color:white;
    font-size:16px;
    font-family:"Segoe UI", sans-serif; 
}