<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest"
         xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="Microsoft.SDKSamples.UsbCdcControl.CPP" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="1.0.0.0" />
  <Properties>
    <DisplayName>UsbCdcControl CPP sample</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>Assets\storeLogo-sdk.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="UsbCdcControl.App" Executable="$targetnametoken$.exe" EntryPoint="UsbCdcControl.App">
      <VisualElements DisplayName="UsbCdcControl CPP sample" Logo="Assets\squareTile-sdk.png" SmallLogo="Assets\smallTile-sdk.png" Description="UsbCdcControl CPP sample" ForegroundText="light" BackgroundColor="#00b2f0">
        <DefaultTile ShortName="UsbCdcControl CPP" ShowName="allLogos" />
        <SplashScreen Image="Assets\splash-sdk.png" BackgroundColor="#00b2f0" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <m2:DeviceCapability Name="usb">
      <m2:Device Id="vidpid:056E 5003">
        <m2:Function Type="classId:ff * *" />
      </m2:Device>
      <m2:Device Id="vidpid:056E 5004">
        <m2:Function Type="classId:ff * *" />
      </m2:Device>
    </m2:DeviceCapability>
  </Capabilities>
</Package>
