<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="System.ServiceModel.PeerResolvers.CustomPeerResolverService">
       <host>
          <baseAddresses>
             <add baseAddress="net.tcp://localhost/ServiceModelSamples/peerResolverService" />
          </baseAddresses>
       </host>
        <!-- use base address provided by the host -->
            <endpoint address="net.tcp://localhost/ServiceModelSamples/peerResolverService"
                      binding="netTcpBinding"
                      bindingConfiguration="Binding1" 
                      contract="System.ServiceModel.PeerResolvers.IPeerResolverContract" />
      </service>
    </services>
    <bindings>
       <netTcpBinding>
          <!-- You can change security mode to enable security -->
          <binding name="Binding1">
              <security mode="None"/>
          </binding>
       </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
