<?xml version="1.0" encoding="UTF-8"?>
<!--                                                                  -->
<!-- Copyright (c) Microsoft Corporation. All rights reserved.        -->
<!-- This code is licensed under the Visual Studio SDK license terms. -->
<!-- THIS CODE IS PROVIDED *AS IS* WITHOUT WARRANTY OF                -->
<!-- ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING ANY               -->
<!-- IMPLIED WARRANTIES OF FITNESS FOR A PARTICULAR                   -->
<!-- PURPOSE, MERCHANTABILITY, OR NON-INFRINGEMENT.                   -->
<!--                                                                  -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Defines.wxi ?>
  <Fragment Id="FragmentEditorAdornment">
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="EditorAdornmentFolder" Name="EditorAdornment">
        <Component Id="EditorAdornmentManifest" Guid="*">
          <File Id="EditorAdornmentManifest" Name='extension.vsixmanifest' DiskId='1' Source='$(var.BuildOutputDir)Extensions\EditorAdornment\extension.vsixmanifest' KeyPath='yes' />
        </Component>
        <Component Id="EditorAdornmentAssembly" Guid="*">
          <File Id="EditorAdornmentAssembly" Name='EditorTextAdornment.dll' DiskId='1' Source='$(var.BuildOutputDir)Extensions\EditorAdornment\EditorTextAdornment.dll' KeyPath='yes' />
        </Component>
      </Directory>
    </DirectoryRef>

    <ComponentGroup Id="EditorAdornment">
      <ComponentRef Id="EditorAdornmentAssembly" />
      <ComponentRef Id="EditorAdornmentManifest" />
    </ComponentGroup>

  </Fragment>
</Wix>