<?xml version="1.0" encoding="UTF-8"?>
<!--                                                                  -->
<!-- Copyright (c) Microsoft Corporation. All rights reserved.        -->
<!-- This code is licensed under the Visual Studio SDK license terms. -->
<!-- THIS CODE IS PROVIDED *AS IS* WITHOUT WARRANTY OF                -->
<!-- ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING ANY               -->
<!-- IMPLIED WARRANTIES OF FITNESS FOR A PARTICULAR                   -->
<!-- PURPOSE, MERCHANTABILITY, OR NON-INFRINGEMENT.                   -->
<!--                                                                  -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Defines.wxi ?>
  <Fragment Id="FragmentHelpAbout">
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="HelpAboutFolder" Name="HelpAbout">
        <Component Id="HelpAboutPackage" Guid="D42C6B36-61B0-43A7-A4D0-EC3904913FB8">
          <File Id="HelpAboutAssembly" Name='PhotoStudio.AboutBoxPackage.dll' DiskId='1' Source='$(var.BuildOutputDir)Extensions\HelpAbout\PhotoStudio.AboutBoxPackage.dll' />
          <File Id="HelpAboutPkgDef" Name='PhotoStudio.AboutBoxPackage.pkgdef' DiskId='1' Source='$(var.BuildOutputDir)Extensions\HelpAbout\PhotoStudio.AboutBoxPackage.pkgdef' KeyPath='yes' />
          <File Id="HelpAboutManifest" Name='extension.vsixmanifest' DiskId='1' Source='$(var.BuildOutputDir)Extensions\HelpAbout\extension.vsixmanifest' />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>