/* Scenario styles */
/* Change background color of bar to show off states of custom icons */
.win-appbar.customIconsAppBar {
    background-color: rgb(90, 200, 90);
}
/* To match background color, set the pressed state icon color */
.win-appbar.customIconsAppBar button:hover:active .win-commandimage,
.win-appbar.customIconsAppBar button:-ms-keyboard-active .win-commandimage,
.win-appbar.customIconsAppBar button[aria-selected=true] .win-commandimage {
    color: rgb(90, 200, 90);
}
/* Override the Song Details button colors */
.win-appbar.customIconsAppBar button:-ms-keyboard-active .win-commandring,
.win-appbar.customIconsAppBar button:hover:active .win-commandring {
    background-color: rgb(0, 0, 0);
}
.win-appbar.customIconsAppBar button[aria-selected=true]:hover .win-commandimage,
.win-appbar.customIconsAppBar button[aria-selected=true]:active .win-commandimage,
.win-appbar.customIconsAppBar button[aria-selected=true]:-ms-keyboard-active .win-commandimage,
.win-appbar.customIconsAppBar button[aria-selected=true]:active:hover .win-commandimage {
    color: rgb(0, 0, 0);
}
.win-appbar.customIconsAppBar button[aria-selected=true]:-ms-keyboard-active .win-commandring,
.win-appbar.customIconsAppBar button[aria-selected=true]:active:hover .win-commandring {
    background-color: transparent;
}