<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="Microsoft.SDKSamples.CustomUsbDeviceAccess.CS" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="1.0.0.0" />
  <Properties>
    <DisplayName>CustomUsbDeviceAccess C# sample</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>Assets\storeLogo-sdk.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="CustomUsbDeviceAccess.App" Executable="$targetnametoken$.exe" EntryPoint="CustomUsbDeviceAccess.App">
      <VisualElements DisplayName="CustomUsbDeviceAccess C# sample" Logo="Assets\squareTile-sdk.png" SmallLogo="Assets\smallTile-sdk.png" Description="CustomUsbDeviceAccess C# sample" ForegroundText="light" BackgroundColor="#00b2f0">
        <DefaultTile ShowName="allLogos" ShortName="CustomUsbDeviceAccess C#" />
        <SplashScreen Image="Assets\splash-sdk.png" BackgroundColor="#00b2f0" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.autoPlayDevice">
          <AutoPlayDevice>
              <!--Verb is passed to the app (can be accessed via eventArgs.verb)-->
              <!--ActionDisplayName is displayed on the AutoPlay Flyout-->
              <!--The ExperienceID GUID is found in the device's PackageInfo.xml-->
              <LaunchAction Verb="fx2Connect" ActionDisplayName="Launching CustomUsbDeviceAccess sample" DeviceEvent="ExperienceID:{B92CB516-2CCA-4D69-9BB3-22183DF10DF9}" />
            <LaunchAction Verb="superMuttConnect" ActionDisplayName="Launching CustomUsbDeviceAccess sample" DeviceEvent="ExperienceID:{1DC5D7A4-F6EC-4369-BEEC-95F386013AB2}" />
          </AutoPlayDevice>
        </Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="BackgroundTasks.IoSyncBackgroundTask">
          <BackgroundTasks>
            <m2:Task Type="deviceUse" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <!--When the device's classId is FF * *, there is a predefined name for the class. You can use the name instead of the class id. 
      There are also other predefined names that correspond to a classId.-->
    <m2:DeviceCapability Name="usb">
      <!--OSRFX2 Device-->
      <m2:Device Id="vidpid:0547 1002">
        <m2:Function Type="classId:ff * *" />
        <!--<m2:Function Type="name:vendorSpecific"/>-->
      </m2:Device>
      <!--SuperMutt Device-->
      <m2:Device Id="vidpid:045E 0611">
        <!--<m2:Function Type="classId:ff * *"/>-->
        <m2:Function Type="name:vendorSpecific" />
      </m2:Device>
    </m2:DeviceCapability>
  </Capabilities>
</Package>

